[2016-03-19 20:35] reyco1 opened #1 "Not an issue, more of a request"
Hi Guys,

We are an app development shop based out of Los Angeles, CA. I met with one of your representatives here in LA named Kara Drake and she was telling me about your services. To get to the point, we build hybrid apps using adobe air. We already have a few white label apps in the app store using other dashboards but we want to integrate CleverTap into them instead. After searching the intern

[2016-03-23 15:11] pwilkniss commented on #1
@reyco1  I've created the repo we discussed the other day.  let me know who I should invite thanks

[2016-04-20 18:59] #1 closed

[2016-05-12 09:30] iampawan opened #2 "Getting this kind of exception? Please help asap"
Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{package name/com.clevertap.android.sdk.InAppNotificationActivity}: android.util.AndroidRuntimeException: java.lang.RuntimeException: Invalid reflection
       at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:3190)
       at android.app.ActivityThread.handleLaunchActivity(ActivityThread.java:3

[2016-05-14 21:14] judepereira commented on #2
Hey @iampawan, are you running [this](https://github.com/rovo89/XposedBridge)?

[2016-05-23 09:36] #2 closed

[2016-09-12 10:53] hardikamal opened #3 "onUserLogin method seems to be not working properly"
Hi,
 The new onUserLogin method seems to be not working properly, the users profile are still getting merged.Please let me know how can i prevent this?

[2016-09-12 16:45] pwilkniss commented on #3
@hardikamal would you please email support@clevertap.com with your account details and specifics on the issue.  Someone will be able to get back to you straight away.   Thanks.

Closing this here.

[2016-09-12 16:45] #3 closed

[2016-12-08 14:41] ashwindmk opened #4 "Android in-app message dismiss on click outside"
I want In-app messages shown on android devices to be non-dismissable when touched outside dialog window. How to achieve this?
Changing the theme in manifest's activity com.clevertap.android.sdk.InAppNotificationActivity does not seem to have any change.

[2016-12-09 08:13] judepereira commented on #4
Hey @ashwindmk, we currently do not support this.

[2016-12-09 08:13] #4 closed

[2017-05-07 14:35] BishalSaha opened #5 "what is playstore url"

[2017-05-26 14:43] gshockv opened #6 "Request: Priority field at push data package"
Please add ability to set priority flag to push notification. it allows more agile control how notification will appears on Android. Also there is should exists corresponding code to parse that field and add priority to `Notification`.

WBR, Vitaliy

[2017-11-10 01:04] Xgamefactory commented on #1
you should support adobe air sdk

[2017-12-31 11:39] irshuLx opened #7 "Notification not shown"
I'm using a custom handler to recieve message and use `CleverTapAPI.createNotification(getApplicationContext(), extras);` to show the notification, but for some reason, notification is not shown.

Can someone help me with this?

[2017-12-31 12:19] irshuLx commented on #7
Oh nevermind, it was an issue with conflicting support libraries, thanks.

[2017-12-31 12:19] #7 closed

[2018-01-02 10:57] ashwini009 opened #8 "App crashing due to java.net.SocketTimeoutException"
[code]

[2018-01-03 06:19] darshanclevertap commented on #8
Hi @ashwini009, Could you please let us know which version of the SDK are you using, that would help us in resolving this faster?

[2018-01-21 19:32] ashwini009 commented on #8
@darshanclevertap We are using `3.1.4`

[2018-03-15 10:40] berkedel opened #9 "What is the license of this SDK?"
When I search the `clevertap-android-sdk` at maven repository, I noticed that it comes with the sources. What license is used in this sources? Is it permissible to edit the sources?

[2018-03-15 16:29] pwilkniss commented on #9
https://github.com/CleverTap/clevertap-android-sdk/blob/master/LICENSE

[2018-03-15 16:29] #9 closed

[2018-09-12 07:03] radityagumay opened #10 "LibraryLoader.java"
[code]

got this issue from fabric.

happens on XIAOMI REDMI 4X and REDMI NOTE 4.
usage SDK Version : 3.1.7

[2018-09-12 09:26] darshanclevertap commented on #6
Priority can now be set when sending Push Notifications via the CleverTap Dashboard.

[2018-09-12 09:26] #6 closed

[2018-09-12 09:27] darshanclevertap commented on #8
@ashwini009 Does this issue still persist on the newer versions? Or else I can close the issue?

[2018-09-12 09:30] darshanclevertap commented on #10
@radityagumay Could you explain how is this caused by the CleverTap Android SDK? Nothing in the stack trace points to any of the CleverTap SDK files. Also, version 3.1.7 is quite old now, I would suggest you update to 3.1.10

[2018-09-13 02:11] #10 closed

[2018-09-27 11:27] #8 closed

[2018-11-14 11:39] okmanideep opened #12 "PendingIntent for Action Button Click is failing because the device has another app with the same intent filter"
My Android Manifest
[code]

When an action button of a clevertap notification in my app is clicked. It does nothing.

Error Log from the System:
[code]

Since all the apps which use clevertap have the same intent filter registered for `com.clevertap.PUSH_EVENT`, and their services are not exported. The Action Button Click does nothing.

If the service of another app is exported, then the service o

[2018-11-28 05:48] #12 closed

[2018-12-06 06:02] ramkotirapido opened #14 "Issue with video push notifications."
Hi,

I was using the latest clevertap SDK in my android project.
implementation 'com.clevertap.android:clevertap-android-sdk:3.3.1'

My App is getting crashed when I send the video push notifications.
Exception: Error inflating class com.google.android.exoplayer2.ui.PlayerView

Attaching the exception logcat:

       at android.view.LayoutInflater.inflate(LayoutInflater.java:539)
       at android

[2018-12-06 10:31] darshanclevertap commented on #14
@ramkotirapido This has been fixed in v3.3.2 and I would recommend you to update to the latest SDK version which is v3.3.3. Thanks!

[2018-12-12 14:06] rishabh876 opened #15 "java.lang.VerifyError: Verifier rejected class com.clevertap.android.sdk.InAppFCManager"
Suddenly started getting this error on v3.3.3

This is what I am doing in my Application class `onCreate()`

[code]

Android Studio 3.3 RC2

[2018-12-13 15:43] rishabh876 commented on #15
Update:
Working on Android Studio 3.2.1. Even though 3.3 is at release candidate 2.

[2019-01-15 04:48] deeps2HOG commented on #15
just updated Android Studio to v3.3 and received this error.
[code]

I am just creating a notification channel in my AppApplication File:
[code]
Any idea why crash is occurring ?

[2019-01-15 12:10] calvarez-ov commented on #15
Getting this with:
* clevertap 3.3.4
* android gradle plugin 3.3.0
* gradle 5.1

I'm building on the comand line. I killed all gradle daemons and built with a clean:
[code]

[2019-01-15 13:38] deeps2HOG commented on #15
tried both cleaning/rebuilding and invalidate caches/restart but still getting crash

[2019-01-15 15:37] calvarez-ov commented on #15
Here's a sample app demonstrating the problem: https://github.com/libon/CleverTapVerifyError

Just build it and install it. It will crash.

[2019-01-15 15:58] calvarez-ov commented on #15
An issue has been filed on the google issue tracker: https://issuetracker.google.com/issues/122887884

[2019-01-16 12:38] darshanclevertap commented on #15
I was able to reproduce this issue on my end as well, so a big thank you to @calvarez-ov for raising the issue with Google.
According to the [issue tracker](https://issuetracker.google.com/issues/122887884) they have put in a fix but we will have to wait as to when it goes live.
Meanwhile as a workaround, downgrading the Gradle tools version to 3.2.1 will not cause this crash.
Make sure your Proje

[2019-01-16 16:23] darshanclevertap commented on #15
As per the [issue tracker](https://issuetracker.google.com/issues/122887884), the fix for this issue is as follows -
The fix for this issue is available for AGP(Android Gradle Plugin) 3.3 (and 3.4) by setting an explicit dependency detailed below.
After AGP 3.3.1 is released, remove the pinned version to allow you to pick up new D8/R8 releases again.

For AGP 3.3 amend your top-level `build.gradle

[2019-01-16 16:23] #15 closed

[2019-01-17 11:00] rishabh876 commented on #15
I also had to add maven `{ url "https://kotlin.bintray.com/kotlinx/" }` for
`kotlinx-metadata-jvm:0.0.3` required by `r8:1.3.52`

[2019-01-17 11:05] darshanclevertap commented on #15
Thank you @rishabh876  👍

[2019-01-25 07:05] anubhavpandey-kiwi opened #16 "Null pointer Exception on resuming app from recent app tray in full screen video. v3.3.4"
java.lang.RuntimeException: Unable to resume activity {com.clevertap.android.sdk.InAppNotificationActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'void android.widget.FrameLayout.setVisibility(int)' on a null object reference
        at android.app.ActivityThread.performResumeActivity(ActivityThread.java:3121)
        at android.app.ActivityThread.handleResumeActivity(A

[2019-01-26 12:09] Jack2jm commented on #15
Same error getting this with:

clevertap 3.3.4
android gradle plugin 3.3.0
gradle (4.10.2).

java.lang.VerifyError: Verifier rejected class com.clevertap.android.sdk.InAppFCManager: int[] com.clevertap.android.sdk.InAppFCManager.getInAppCountsFromPersistentStore(java.lang.String) failed to verify: int[] com.clevertap.android.sdk.InAppFCManager.getInAppCountsFromPersistentStore(java.lang.String): [

[2019-01-26 12:11] Jack2jm commented on #15
Same error getting this with:

clevertap 3.3.4
android gradle plugin 3.3.0
gradle (4.10.2).

java.lang.VerifyError: Verifier rejected class com.clevertap.android.sdk.InAppFCManager: int[] com.clevertap.android.sdk.InAppFCManager.getInAppCountsFromPersistentStore(java.lang.String) failed to verify: int[] com.clevertap.android.sdk.InAppFCManager.getInAppCountsFromPersistentStore(java.lang.String): [

[2019-01-26 12:14] Jack2jm commented on #15
Tried this but it gives me error about kotlin dependencies, but i do not uses kotlin in my project.

[2019-01-26 12:48] calvarez-ov commented on #15
@Jack2jm try adding it this way:
[code]

[2019-01-29 11:05] yoginair opened #17 "java.lang.NoClassDefFoundError: com.clevertap.android.sdk.InAppFCManager"
Caused by: java.lang.VerifyError: Verifier rejected class com.clevertap.android.sdk.InAppFCManager: int[] com.clevertap.android.sdk.InAppFCManager.getInAppCountsFromPersistentStore(java.lang.String) failed to verify: int[] com.clevertap.android.sdk.InAppFCManager.getInAppCountsFromPersistentStore(java.lang.String): [0x3B] register v2 has type Conflict but expected Integer (declaration of 'com.clev

[2019-01-29 17:44] darshanclevertap commented on #17
@yoginair This is same as #15
Work around has been given there.
Closing this issue

[2019-01-29 17:44] #17 closed

[2019-02-05 10:48] darshanclevertap commented on #16
Fixed with release [v3.4.1](https://github.com/CleverTap/clevertap-android-sdk/releases/tag/3.4.1)

[2019-02-05 10:48] #16 closed

[2019-02-05 20:48] anjalsaneen opened #18 "Crash On Background"
Device Info:
Name: ONEPLUS A6000
Brand: OnePlus
Android API: 28

Clevertap Version: 3.1.8

StackTrace:
com.clevertap.android.sdk.InAppFCManager
at com.clevertap.android.sdk.InAppFCManager.destroySession(Unknown Source:0)
at com.clevertap.android.sdk.SessionManager.destroySession(SessionManager.java:84)
at com.clevertap.android.sdk.CleverTapAPI.forceDestroySession(CleverTapAPI.java:862)
at com.clev

[2019-02-05 21:06] anjalsaneen commented on #18
I have updated to the latest version. I can update here about this crash happening again on latest version tomorrow.

[2019-02-06 11:16] darshanclevertap commented on #18
Can you please update the CleverTap SDK version to [3.4.2](https://github.com/CleverTap/clevertap-android-sdk/releases/tag/3.4.2) and check if this issue still persists?

[2019-02-07 09:17] rishabh876 commented on #15
Android Studio 3.3.1 is now available. So AGP 3.3.1 is also available. No need to use this work around anymore.

[2019-02-07 11:52] anjalsaneen commented on #18
@darshanclevertap I couldn't able to update yesterday because of Gradle tool version `3.3.0`. Luckily the new version of Gradle tool released today `3.3.1` and I updated CleverTap version to `3.4.2`. I'll let you know tomorrow about the issue still persists.

[2019-02-07 12:00] anjalsaneen commented on #18
@darshanclevertap I can see some deprecated code after updating. I can't find any release notes here. can you just verify this `git diff`
<img width="556" alt="screen shot 2019-02-07 at 5 28 28 pm" src="https://user-images.githubusercontent.com/43947967/52410357-1bebaa80-2afe-11e9-9e9b-be7f9192dd34.png">

[2019-02-07 12:07] darshanclevertap commented on #18
@anjalsaneen You can go through our [CHANGELOG](https://github.com/CleverTap/clevertap-android-sdk/blob/master/CHANGELOG.md) and [EXAMPLES](https://github.com/CleverTap/clevertap-android-sdk/blob/master/EXAMPLES.md) for the release notes and example usage. But in short, we have deprecated the old ways of raising events and pushing profile properties as a warning, you can still use the same code as

[2019-02-07 12:17] darshanclevertap commented on #15
Thanks @rishabh876 👍
I can confirm now that this issue doesn't occur if you update your AGP to `3.3.1`. Use this in your Project's `build.gradle`  dependencies -

`classpath 'com.android.tools.build:gradle:3.3.1'`

Thank you all for your contributions in helping solve this issue! 😃 👍

[2019-02-20 08:54] #18 closed

[2019-03-13 17:58] ghataa opened #19 "Enable JavaScript - In-app message"
Hi guys,

I tried to use an In-app message with custom HTML + youtube video link, and get an error about "enable JavaScript..." (screenshot attached). Is there any option to enable js in that webview? Or any idea what should I do? Thanks!

<img width="942" alt="enable_js_clevertap_inapp" src="https://user-images.githubusercontent.com/26881582/54302699-b178cf00-45c1-11e9-88d2-5cb8b5a7eada.png">

[2019-03-14 06:45] darshanclevertap commented on #19
Hi @ghataa

Currently, we do not support Javascript inside our WebViews which are used to display Custom HTML InApps. This is currently being implemented as an enhancement and will be released in the next version of the CleverTap Android SDK (v3.4.3).
I'm marking this issue as an enhancement and will close it once we release the next version. 🙂

[2019-03-25 11:52] rachitmishra opened #20 "Deeplink invocation with query params as Bundle"
Hello,

Currently the deep-links are directly invoked using `fireUrlThroughIntent()`. Is it possible to forward the query params of the deep link url as `Bundle`?

https://github.com/CleverTap/clevertap-android-sdk/blob/6cc25bc4b6acb2d89e44c2a3450c6315f40c3f69/clevertap-android-sdk/src/main/java/com/clevertap/android/sdk/CTInAppBaseFragment.java#L93

Add?

[code]

[2019-03-28 13:12] darshanclevertap commented on #20
Hi @rachitmishra ,

Could you also explain a use case where passing query params as Bundle would be more beneficial?

[2019-03-28 15:29] rachitmishra commented on #20
Hi @darshanclevertap ,

So in case the action is set, the deep-linked activity is opened which is great.

Now if one needs the data for deep link url we need to implement `onNewIntent` in all the deeplink activities and reload the activity.

But usually deep-linked activities require some identifier or payload to load data.

Ex. If any activity has to load a particular tag the deep-link URI can be

[2019-03-29 11:17] rachitmishra commented on #20
Another example can be opening a WebView activity with a deeplink which expects a URL in bundle.

Ex. deeplink: myapp://mywebviewactivity?url=google.com

Now with current implementation the WebView activity will open but it won't receive the URL and I have to add additional changes to `onNewIntent()` to handle the same.

[2019-04-01 12:44] rachitmishra commented on #20
Hi @darshanclevertap any updates?

[2019-04-02 07:40] darshanclevertap commented on #20
@rachitmishra Hi, we have taken this up for discussion with our product team. I will keep you updated if we add this to our enhancements list.

[2019-04-11 11:07] darshanclevertap commented on #20
@rachitmishra Sorry for the delay, but after discussion with our product team, we will be taking this up as an enhancement and put it in our upcoming releases. I will be tagging this issue and will close it once the feature is live. Thank you for pointing this out to us! 😄

[2019-04-11 13:57] rachitmishra commented on #20
@darshanclevertap That's a great news :) Thank you so much for picking this up. 🙌

[2019-04-19 22:44] shahsurajk commented on #15
If somehow had put this:
`classpath ("com.android.tools:r8:1.3.52" ) { transitive false }` and updated to AS 3.4 and go a weird build error,

remove this dependency and sync.

[2019-04-25 14:44] rachitmishra commented on #20
Hi, @darshanclevertap Apologies, but when are you planning to release this? 😅

[2019-04-25 15:30] omtodkar opened #21 "Activities are leaking in CleverTapAPI instance"
In our app we have configured some activities to exclude from showing in-app notifications which includes following `com.taglr.features.home.SplashActivity` using Android manifest `meta-data` tag.

[code]

We recently encountered that `CleverTapAPI` has an HashMap which stores it's instance which is causing a memory leak. Following is detail information about leak:
[code]

I would like to know, wh

[2019-05-23 12:20] HaghighatDoost opened #22 "FirebaseInstanceIdService is Deprecated"
This class is deprecated and updating firebase library will cause an unresolved class error in AndroidManifest file here:
`<service
            android:name="com.clevertap.android.sdk.FcmTokenListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </servic

[2019-05-26 08:49] darshanclevertap commented on #22
Hi @HaghighatDoost

For now, we aren't supporting Firebase Messaging library v18.0.0. If you downgrade to Firebase Messaging v17.+ then CleverTap Android SDK will work smoothly. We are planning to support v18 soon.  I've marked this as an enhancement and incorporate it into our product roadmap. We will keep you updated.

[2019-05-26 08:50] darshanclevertap commented on #19
Hi @ghataa
We have released this feature in our SDK v3.5.1, please check our official documentation on how to use Javascript in InApps. Closing this issue now.

[2019-05-26 08:50] #19 closed

[2019-05-26 08:57] darshanclevertap commented on #21
hi @omtodkar

Yes CleverTap Android SDK stores the instance in a HashMap to support multiple instances working on an app. I'm aware that according to LeakCanary, this is a memory leak. But I can assure you that in most cases and definitely in your case, there is always one instance of CleverTap SDK in use inside an app and hence the memory leak is not of any concern. You can safely ignore it.

[2019-05-26 08:57] #21 closed

[2019-05-26 09:00] darshanclevertap commented on #20
@rachitmishra I'm really sorry, we already had locked our requirements for the release when this issue was released. This will be taken up in the next release for sure. Sorry for the delay and thank you for your patience.

[2019-05-31 13:45] shah-nishant commented on #20
@darshanclevertap Any ETA for the next release? Some of requirements are dependent on this

[2019-06-12 05:05] arnavzoman opened #24 "3.5.1: empty in-app notification opens, even if we haven't sent one"
We recently upgraded from 3.3.3 to 3.5.1

Whenever we open the app, we now see this empty in-app notification
![image](https://user-images.githubusercontent.com/48470219/59324682-9c652680-8cfd-11e9-869a-9f2f4d9701d0.png)

And the CleverTap logs for the same

[code]

(Obfuscated the FCM id, rest as is)

[2019-06-12 06:22] darshanclevertap commented on #24
Hi @arnavzoman

I can see a campaign running on this account. An In-App notification is triggered on **App Launched** event. Campaign link is [here]( https://eu1.dashboard.clevertap.com/696-K9W-445Z/targets/1544421300/show.html).
This is why you are seeing the empty In-App notification. If you stop this campaign then the In-App notification will stop appearing.

Hope this solves your problem.

[2019-06-12 06:24] arnavzoman commented on #24
Hi @darshanclevertap
Checking the campaign, will disable it, but..
Any idea why it was not coming in 3.3.3 then ? Because this issue is cropping up on 3.5.1 only, not 3.3.3

[2019-06-12 07:05] darshanclevertap commented on #24
@arnavzoman I will deep dive into this later. Let me know if stopping the campaign resolves the issue for you

[2019-06-13 13:48] ghataa opened #25 "NoSuchMethodError in CTSimpleMessageViewHolder.configureWithMessage()"
Hey guys,

I get the following error when I try to open appInbox:

[code]

It happens when I try to send a message with a photo.

Currently, I just try to implement app-inbox, so I use a simple configuration like this:

[code]

Also here are my gradle dependencies:

[code]

Do you have any idea what's wrong?

[2019-06-14 05:29] darshanclevertap commented on #25
Hi @ghataa

This error is occurring because you have updated the Glide dependency to v4.9.0 and CleverTap Android SDK below v3.4.3 and below need a Glide dependency of v4.8.0. There has been a breaking change when Glide updated to v4.9.0 from v4.8.0 in the `RequestOptions` class. We have handled this error in the CleverTap Android SDK v3.5.1 so I would suggest you to update to our latest version.

[2019-06-14 07:01] ghataa commented on #25
@darshanclevertap thank you, updating CleverTap sdk to v3.5.1 solved my problem!

[2019-06-14 07:01] #25 closed

[2019-06-14 10:53] #24 closed

[2019-06-18 08:22] ghataa opened #26 "java.lang.AbstractMethodError"
Hi,

I try to use videos (mp4) in In-app messages and App inbox but when I try to send a test In-app message or open the built-in App inbox screen with `cleverTapDefaultInstance.showAppInbox(styleConfig)` I get the following error:

[code]

I use the following versions:

[code]

Have you ever faced this issue?

[2019-06-18 08:30] Abdohurbly opened #27 "InBox " Notification " Click Listener"
Hello,
I was trying to do some event on " InBox" Like Click Listener on one Promotion Notification.
but it's not there.
is there any solution for this?

[2019-06-18 12:29] darshanclevertap commented on #26
@ghataa Can you help me with a couple of things?
1. Does this crash still happen if you add
`implementation 'com.google.android.exoplayer:exoplayer-hls:2.10.1'` ?
2. Do you have any special requirement to move to Exoplayer v2.10.1 which can't work with v2.8.4?

[2019-06-18 12:31] darshanclevertap commented on #27
Hi @Abdohurbly

Do you mean, you wanted to raise manually some events on the click of the button of an Inbox Notification?

[2019-06-18 13:12] Abdohurbly commented on #27
@darshanclevertap Hello,
yes exactly.
also if can  Click on inBox Notification itself.
Note: implementation 'com.github.bumptech.glide:glide:4.9.0'//MANDATORY for App Inbox
this lib lead to crash the app on " inApp notification resived".

[2019-06-19 05:34] darshanclevertap commented on #27
@Abdohurbly CleverTap raised a Notification Clicked event when any of the buttons of the Notification Inbox is clicked. You can check this on the dashboard for your user profile. We do not support custom events right now on the click of Inbox notifications.
Also for the issue of Glide dependency, can you tell me which version of the CleverTap SDK are you using currently and which version of the Gl

[2019-06-19 07:40] ghataa commented on #26
`com.google.android.exoplayer:exoplayer-hls` solved it, thank you!

But now what I can see is only a thumbnail with a circular progress bar. The video doesn't load and I get the following:

[code]

Is it a permission issue?

[2019-06-19 09:43] darshanclevertap commented on #26
@ghataa Could be a network issue? Videos are stored in the CleverTap CDN when it comes to In-Apps and Inbox notifications. Can you try on a different network and let me know? If the issue persists I will redirect it to the concerned team.

[2019-06-19 11:07] ghataa commented on #26
I tried on two different networks but didn't solve the problem. Do you need any other information?

[2019-06-19 11:39] darshanclevertap commented on #26
@ghataa Give me some time to see the various reasons why this could be happening. I will get back to you by tomorrow on this with the next steps. Thank you for your patience 🙂

[2019-06-19 11:48] ghataa commented on #26
Ok, thank you!

[2019-06-20 08:48] Abdohurbly commented on #27
Hello Noted.
about the lib, I'm using   -- cleverTap SDK:3.4.2' ||   glide:4.9.0'
Thanks.
Regards.

[2019-06-20 09:05] darshanclevertap commented on #27
@Abdohurbly If you are using Glide v4.9.0, I would suggest you update CleverTap SDK to v3.5.1 as we have supported Glide v4.9.0 in our latest version.

[2019-06-20 09:20] nitin9096 opened #28 "Null pointer issue"
Caused by java.lang.NullPointerException: Attempt to invoke virtual method 'void com.clevertap.android.sdk.CleverTapAPI.b(java.lang.String, java.util.Map)'

Hi i am getting this issue . but nowhere from my side i am sending the Null a

[2019-06-23 14:17] darshanclevertap commented on #28
@nitin9096 Can you tell me which version of the CleverTap Android SDK are you currently using and also share the stacktrace if any?

[2019-06-23 14:17] #27 closed

[2019-06-24 04:33] nitin9096 commented on #28
i am using **com.clevertap.android:clevertap-android-sdk:3.4.0** sdk version and .

i also tried sending null parameters in hashmap from my side intentionally in this case its not crashing.

Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.clevertap.android.sdk.CleverTapAPI.b(java.lang.String, java.util.Map)' on a null object reference
       at com.ayopo

[2019-06-24 09:12] darshanclevertap commented on #28
@nitin9096 the line mentioned by you here `com.clevertap.android.sdk.CleverTapAPI.b` is being masked by your ProGuard and hence I cannot figure out which method is causing the issue. Can you please disable ProGuard on your debug build and send me a proper stack trace of the issue so that i can help you out better?

[2019-07-02 07:13] ghataa commented on #26
@darshanclevertap is there any further progress?

[2019-07-03 12:58] rachitmishra commented on #20
Hello @darshanclevertap We should be releasing this now. This is very small request and it has been more than a month :)

[2019-07-04 11:32] darshanclevertap commented on #20
Hi @rachitmishra this will go with the next release of CleverTap Android SDK slated for release around 30th July 2019. Will keep you posted.

[2019-07-15 07:47] darshanclevertap commented on #28
@nitin9096 Are you still facing this issue?

[2019-07-15 07:48] darshanclevertap commented on #26
@ghataa Sorry for the delay, are you still facing this issue?

[2019-07-15 12:55] ghataa commented on #26
@darshanclevertap no worries! Unfortunately, yes.

[2019-08-02 11:26] shah-nishant commented on #20
Hi @darshanclevertap any updates on the release?

[2019-08-07 06:46] #28 closed

[2019-08-07 12:54] darshanclevertap commented on #20
I've made the code changes, this release is a massive release with a big new feature. I apologize for the delay but we are still in the testing phase and are going to take another week for official release.

[2019-08-29 14:27] shivam-mygate opened #30 "R8 warnings for clevertap 3.5.1"
While building obfuscated build, faced these warnings:

R8 WARNING:
Missing class: com.google.android.gms.iid.InstanceIDListenerService |  
Missing class: com.google.android.exoplayer2.Player$EventListener |  
Missing class: com.google.android.gms.gcm.GcmListenerService |  
Missing class: com.google.firebase.iid.FirebaseInstanceIdService |  

If I remove clevertap dependency from gradle, these war

[2019-08-30 12:08] darshanclevertap commented on #30
@shivam-mygate Can you help in elaborating the issue here? Do these warnings cause your app to not compile or build?

[2019-08-30 12:15] shivam-mygate commented on #30
@darshanclevertap App compiles and builds successfully but R8 shows these warnings. It doesn't provide confidence that for every android version, device or manufacturer whether apk will work. Can it give ClassNotFoundException on certain conditions?
Anyway, Clevertap should work towards removing these warning as way forward with compileSdkVersion 29

[2019-08-31 11:54] shivam-mygate opened #31 "ConcurrentModificationException in clevertap sdk"
Crash in clevertap sdk:

Clevertap version: 3.4.2

Fatal Exception: java.util.ConcurrentModificationException
       at java.util.HashMap$HashIterator.nextNode + 1441(HashMap.java:1441)
       at java.util.HashMap$KeyIterator.next + 1465(HashMap.java:1465)
       at com.clevertap.android.sdk.CleverTapAPI.createNotification + 5132(CleverTapAPI.java:5132)
       at com.clevertap.android.sdk.CleverTa

[2019-08-31 11:57] shivam-mygate opened #32 "NullPointerException in clevertap sdk"
Facing this crash in production:
Clevertap version: 3.4.2

Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.mygate.user/com.clevertap.android.sdk.InAppNotificationActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'void d.d.a.a.Gb.e(java.lang.String, java.lang.String)' on a null object reference
       at android.app.ActivityThread.pe

[2019-08-31 11:58] shivam-mygate commented on #32
NullPointer at another place:

Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'void d.d.a.a.Gb.e(java.lang.String, java.lang.String)' on a null object reference
       at com.clevertap.android.sdk.CleverTapAPI.inAppNotificationDidDismiss + 4901(CleverTapAPI.java:4901)
       at com.clevertap.android.sdk.InAppNotificationActivity.didDismiss + 271(InAppNotification

[2019-08-31 12:00] shivam-mygate commented on #32
3rd place:

Caused by java.lang.NullPointerException: Attempt to invoke virtual method 'void d.d.a.a.Gb.c(java.lang.String, java.lang.String, java.lang.Throwable)' on a null object reference
       at com.clevertap.android.sdk.CTInAppBaseFullHtmlFragment.displayHTMLView + 86(CTInAppBaseFullHtmlFragment.java:86)
       at com.clevertap.android.sdk.CTInAppBaseFullHtmlFragment.onCreateView + 27(CTInA

[2019-09-03 06:32] darshanclevertap commented on #32
hi @shivam-mygate

Can you help me out with a few things?
1. Do these crashes also occur in CleverTap Android SDK v3.5.1?
2. Steps to reproduce the above crashes.

This will help me out in figuring out the issue sooner and fixing them.

[2019-09-03 06:33] darshanclevertap commented on #31
hi @shivam-mygate

Can you help me out with a few things?

1. Do these crashes also occur in CleverTap Android SDK v3.5.1?
2. Steps to reproduce the above crashes.

This will help me out in figuring out the issue sooner and fixing them.

[2019-09-03 06:35] darshanclevertap commented on #30
@shivam-mygate We will be moving our compileSdkVersion to 29 in the coming release. Approx ETA is 1st week of October. We are currently in the testing phase of the current release.

[2019-09-03 06:48] shivam-mygate commented on #30
Thanks for the update.

[2019-09-03 07:03] Aazu07 opened #33 "Null Pointer Exception on DeviceInfo.java on sdk version 3.5.1"
The Logs for the crash is as:

[code]

[2019-09-03 07:06] shivam-mygate commented on #31
Hi @darshanclevertap
Our current production app is on 3.4.2. In next release, we are going to update version to 3.5.1.
I don't know exact steps for reproducing this. It happened when we used clevertap campaign during weekend.

[2019-09-03 07:06] shivam-mygate commented on #32
Hi @darshanclevertap
Our current production app is on 3.4.2. In next release, we are going to update version to 3.5.1.
I don't know exact steps for reproducing this. It happened when we used clevertap campaign during weekend.

[2019-09-03 07:51] darshanclevertap commented on #32
@shivam-mygate Can you share the campaign link?

[2019-09-03 07:51] darshanclevertap commented on #31
@shivam-mygate Can you share the campaign link?

[2019-09-03 07:53] darshanclevertap commented on #33
@Aazu07 Thanks for pointing this out. This has been fixed for the upcoming release. I will keep you informed when the release is done.

[2019-09-03 07:54] darshanclevertap commented on #26
Hi @ghataa Sorry for the delay. Are you still facing this issue and if yes, can you share with the latest logs?

[2019-09-03 13:10] shivam-mygate commented on #32
Campaign id: 1567145359

[2019-09-03 13:10] shivam-mygate commented on #31
Campaign id: 1567145359

[2019-09-04 07:06] ghataa commented on #26
Hi @darshanclevertap! It seems that something was wrong with the used mp4, because everything works fine if I try with another one. But I'll let you know if I also face this issue in the future.

[2019-09-04 07:06] #26 closed

[2019-09-04 10:06] darshanclevertap commented on #31
@shivam-mygate It would help me if you could provide the link to me, if do not wish to share it here then you can write to us at support@clevertap.com and I'll look into it myself.

[2019-09-04 10:07] darshanclevertap commented on #32
@shivam-mygate It would help me if you could provide the link to me, if do not wish to share it here then you can write to us at support@clevertap.com and I'll look into it myself. Also if you are sending us an email, please mention this Github issue as a link in it.

[2019-09-17 12:39] darshanclevertap commented on #32
Closing this here as its being handled via support

[2019-09-17 12:39] #32 closed

[2019-09-26 08:34] darshanclevertap commented on #20
@rachitmishra @shah-nishant Thank you guys for your patience! This feature has been released in v3.6.0. Closing this.

[2019-09-26 08:34] #20 closed

[2019-09-26 08:35] darshanclevertap commented on #33
@Aazu07 This has been fixed in v3.6.0. Closing this issue.

[2019-09-26 08:35] #33 closed

[2019-09-26 08:35] darshanclevertap commented on #31
Closing this as it is being taken up by Support

[2019-09-26 08:35] #31 closed

[2019-09-26 08:39] rachitmishra commented on #20
@darshanclevertap partieeeh!!! 🙌 🙌

[2019-11-05 15:45] prempalsingh opened #35 "StrictMode - Disk Read Violation"
There are a lot of StrictMode violations (mainly DB read/write on main thread) in the Clevertap SDK. Here's one example from the init call itself.

StrictMode policy violation; ~duration=879 ms: android.os.StrictMode$StrictModeDiskReadViolation: policy=65599 violation=2
        at android.os.StrictMode$AndroidBlockGuardPolicy.onReadFromDisk(StrictMode.java:1438)
        at android.app.SharedPrefer

[2019-11-06 07:05] gauravtyagi328 opened #36 "Why location show Unknown, Unknown."
I am using setLocation() method to update location. But only lat and long field value updated and location field value Unknown why?
![clevertap_location_issue](https://user-images.githubusercontent.com/11554243/68275516-e9251180-0091-11ea-8a11-875da3cd2690.png)

[2019-11-11 05:12] kunalbhise opened #37 "App background Crash on Samsung devices with OS version 5, CleverTap Segment SDK"
Device Info
Device: Samsung
Android OS : 5
Type background
Clevertap SDK : com.clevertap.android:clevertap-android-sdk:3.6.1
Segment integration : com.clevertap.android:clevertap-segment-android:+

Stacktrace :
Fatal Exception: java.lang.ArrayIndexOutOfBoundsException: length=0; index=42375
       at java.lang.reflect.ArtField.getNameNative(ArtField.java)
       at java.lang.reflect.ArtField.getNa

[2019-11-11 06:45] darshanclevertap commented on #36
@gauravtyagi328 When you pass Lat/Long to setLocation method, we only update the Lat/Long field on the dashboard. The city-wise location on the dashboard is coming as unknown because we do a reverse IP lookup from the incoming requests from the SDK and then define the city-wise location. I suggest that you please contact support@clevertap.com and mention this GitHub issue there and we will help yo

[2019-11-11 06:47] darshanclevertap commented on #35
@prempalsingh Thank you for getting this to our attention, can you please provide a few details to us so that we can help you resolve this issue?
1. Which version of the CleverTap SDK are you using?
2. Detailed logs of the Strict Mode policy violations
We will look into this and get back to you.
Thanks!

[2019-11-11 06:56] darshanclevertap commented on #37
@kunalbhise Thank you for bringing this to our attention.
Could you help us with a few details?

1. Is this happening only on Android OS version 5 or for other OS versions as well?
2. Is this happening only on Samsung devices or other devices as well?
3. Does this crash happen on the background silently or it affects the app UI ?

These details will help us debug the issue better.
Thanks!

[2019-11-11 07:27] prempalsingh commented on #35
1. 3.6.1
2. Those are the full logs. The stacktrace I mentioned above originates when I call `CleverTapAPI.getDefaultInstance(context)` from my code. I have removed the part of the stacktrace where I call the method for brevity.

You'd be able to reproduce this by adding the following code to your app before initializing Clevertap.

[code]

[2019-11-11 09:42] darshanclevertap commented on #35
@kumaratulismu Can we check this out before the next version release?

[2019-11-11 13:02] kunalbhise commented on #37
1. this happening only on Android OS version 5 or for other OS versions as well?
- Yes
2. Is this happening only on Samsung devices or other devices as well?
- No didn't find trace for  other devices
3. Does this crash happen on the background silently or it affects the app UI ?
  - As per Crashlytics data its happening in background. Please find screenshot below.

<img width="1041" alt="Screensho

[2019-11-13 09:30] kumaratulismu commented on #35
@prempalsingh Have checked it from our end. We are storing some configurations in the sharedprefences which could be used next time onwards during the initialisation.

We will maintain it as of now, as this should not impact the performance of the app as we are doing it only once & storing only a few strings.

If you are able to capture performance impact findings, feel free to share with us.

[2019-11-13 09:51] prempalsingh commented on #35
@kumaratulismu Any disk read/write including those on SharedPreferences on main thread is a performance issue. Can you not move it to a background thread?

We have a lot of ANRs on low end phones caused by SharedPreferences read/write by Clevertap.

[2019-11-13 11:51] kumaratulismu commented on #35
@prempalsingh Correct! Are you using Push Amplification in your application?

[2019-11-13 13:49] calvarez-ov opened #38 "Migrate to androidx"
This sdk is still using the android support library, which is deprecated. Androidx has been out for quite a while now (over a year?). We'd like to remove jetifier from our app build process, but won't be able to until the sdks we use are on androidx.

[2019-11-14 14:00] darshanclevertap commented on #38
Hi @calvarez-ov

We are still using the Android support library because moving to AndroidX will cause a breaking change for apps who have not yet migrated to AndroidX. Jetifier helps apps migrated to AndroidX deal with non-AndroidX dependencies (like us). The vice versa is not possible. If jetifier works for you right now, I'd suggest holding on to it for a few more months.

Out of curiosity, out

[2019-11-14 14:10] darshanclevertap commented on #37
@kunalbhise the stack trace is collapsed in the screenshot. If you could share the entire stack trace here, it would be helpful. Also, I didn't understand your answer to the first question, is it "yes, it is happening for only Android 5" or is it "yes, it is happening for all the versions"?

[2019-11-15 14:56] calvarez-ov commented on #38
In our project, two sdks haven't migrated to androidx yet: CleverTap and MapBox.

[2019-11-18 08:12] darshanclevertap commented on #38
@calvarez-ov I will mark this as an enhancement and take this up internally with my team but I cannot promise you any timelines for now. Hope you understand. Be that as it may, you will be the first to know when we are planning to migrate to AndroidX. Thanks!

[2019-11-18 08:15] darshanclevertap commented on #35
@prempalsingh For a better resolution of this issue, I'd suggest you send us the ANR logs to support@clevertap.com
Just mention this Github issue and it will be fast-tracked directly to us for a quick resolution.
I'll close this issue here.

[2019-11-18 08:15] #35 closed

[2019-11-18 08:17] #36 closed

[2019-11-18 08:56] tancolo commented on #22
Hello @darshanclevertap
So far, the Firebase message has been upgraded to 20.0.1. https://firebase.google.com/support/release-notes/android#messaging_v20-0-1
And I upgraded the version of Clevertap to 3.6.1, seems it also have this issue.

I think Clevertap should fix it ASAP.
Thank you.

Reference:
1. https://firebase.google.com/docs/reference/android/com/google/firebase/iid/FirebaseInstanceIdSer

[2019-11-20 05:46] kunalbhise commented on #37
@darshanclevertap
Please find the Attached txt for stack trace.
[clevertap_issue_crash_5DD4B4EC03980001378B96B2CCB4C9BA_DNE_0_v2.txt](https://github.com/CleverTap/clevertap-android-sdk/files/3867472/clevertap_issue_crash_5DD4B4EC03980001378B96B2CCB4C9BA_DNE_0_v2.txt)

Recently I have observed crash on Android version 7 but the majority of the crashes are on Android 5. please see below screenshot.

[2019-11-20 08:34] darshanclevertap commented on #37
@kunalbhise Thank you for the logs, looks like something is up with Android Lollipop OS code so give me some time to look into this from my end and I will keep you updated.

[2019-11-26 09:13] maulikhirani opened #39 "Crash in CTInAppBaseFragment - CleverTap SDK 3.5.1"
Got one crash in one of the latest production version of the [WAY app in Android](https://play.google.com/store/apps/details?id=way.com).
**SDK Version: 3.5.1**

**Crash Details:**
`Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'android.content.Context android.app.Activity.getBaseContext()' on a null object reference
       at com.clevertap.android.sdk.CTInAppBa

[2019-11-26 10:43] darshanclevertap commented on #39
@maulikhirani Thank you for getting this to our notice. We will take a look at this and keep you updated.

[2019-11-26 12:29] aniketbhoite opened #40 "Large PNGs in SDK"
While analyzing the Increased size of APK I found these 3 Pngs which are on top by size.
- ct_audio.png
- ct_image.png
- ct_video_1.png

I would like to know what is the purpose of these images they are just icons of approximately 1080x608. Why are they not in WebP or vector drawable. If they are used for notification icons then why are they so big. Using SDK v3.6.1. PFA

![Screenshot 2019-11-26 a

[2019-11-26 12:35] darshanclevertap commented on #40
@aniketbhoite Hi, thank you for pointing this out to us. We have been working at ways to reduce our AAR size as well and converting our PNGs to SVGs is first on our list. In our forthcoming releases, we will be removing unnecessary PNGs and converting the rest to a more optimized version of themselves.

[2019-11-27 10:40] abhishekk-github opened #41 "NPE : inboxMessages is null inside CTInboxListViewFragment"
Hello Team,
We are getting this crashes multiple times, can you help regarding this?

`Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'int java.util.ArrayList.size()' on a null object reference
       at com.clevertap.android.sdk.CTInboxListViewFragment.onCreateView + 115(CTInboxListViewFragment.java:115)
       at android.support.v4.app.Fragment.performCreateVie

[2019-11-27 10:41] darshanclevertap commented on #41
@abhishekk-github Could you please tell me which version of the CleverTap Android SDK are you using?

[2019-11-27 10:43] darshanclevertap commented on #41
@abhishekk-github Also are you trying to use `CleverTapAPI.showInbox()` before calling `CleverTapAPI.initializeInbox()` ?

[2019-11-27 12:24] abhishekk-github commented on #41
clevertapSdkVersion = '3.6.1'
I think this related to the notification, We use this to handle notification

`NotificationInfo info = CleverTapAPI.getNotificationInfo(extras);

            if (info.fromCleverTap) {
                CleverTapAPI.createNotification(getApplicationContext(), extras);
            } else {
                Log.w(TAG, "Got an unexpected FCM push, ignoring");
            }`

[2019-11-27 13:29] darshanclevertap commented on #41
@abhishekk-github We had fixed this in v3.6.1, let me take a look at our code again if we missed a flow. I'll keep you updated. Meanwhile, please go through our [App Inbox documentation](https://developer.clevertap.com/docs/android#section-app-inbox). You need to call `cleverTapAPI.initializeInbox()` first after creating the instance. We give the app a callback and we suggest that you call `clever

[2019-11-27 15:18] kumaratulismu commented on #40
@aniketbhoite Thanks for reporting this. We have replaced those with vector images. Will be released soon in the next version.

[2019-11-27 15:18] #40 closed

[2019-11-27 15:24] kumaratulismu commented on #39
@maulikhirani Thanks for reporting this. We have done the required changes. Our next SDK version should fix this.

[2019-11-27 15:24] #39 closed

[2019-11-28 10:03] abhishekk-github commented on #41
Thanks for your response, We are using `cleverTapAPI.initializeInbox()` and `CTInboxListener` in our code, as stated in the API doc.
What about `CleverTapAPI.createNotification(getApplicationContext(), extras);` this api. Is it possible to get crash due to this?

[2019-11-28 10:38] darshanclevertap commented on #41
No, `createNotification()` is to generate Push Notifications. App Inbox and Push Notifications are not coupled tightly.

[2019-12-06 16:34] ndmunoz10 opened #42 "App Inbox not working in Android Fragment"
Hello,

I'm trying to implement App Inbox from CleverTap in our Android app but it's not working.

I created the campaign through the CleverTap Dashboard with some tags/tabs, however inside the app when clicking on my custom view, the app inbox shows but no info is displayed. It only says "No Message(s) to show".

This is the code:

class MyFragment: CTInboxListener {
private var cleverTapDefaultI

[2019-12-06 22:13] tonybarajas commented on #38
Hi, @darshanclevertap do you have some idea CleverTap can migrate to AndroidX. Because in my project I am using AndroidX and App inbox is not working it appears a message "Please upgrade com.android.support:design library to v28.0.0 to enable Tabs for App Inbox, dropping Tabs"

Thanks!

[2019-12-07 12:58] darshanclevertap commented on #38
@tonybarajas We are still evaluating when to migrate to AndroidX. Meanwhile, for your App Inbox issue, I'd recommend adding the following two dependencies -

[code]
Let me know if this works out for you!

[2019-12-07 13:06] darshanclevertap commented on #42
@ndmunoz10 For the debug log and since you've migrated to AndroidX, I'd like to suggest adding the following dependencies -

[code]

As for you not receiving the Inbox messages, once you run the campaign via our dashboard, we take a few minutes to warm up the profiles which will eventually receive the messages. If you launch the app during that time, your profile will not receive the Inbox message

[2019-12-07 14:23] ndmunoz10 commented on #42
Okay, I'll try waiting a bit more when I create campaigns.

As for the AndroidX issue, I added the two dependencies you included and the logs just says the same:
Please upgrade com.android.support:design library to v28.0.0 to enable Tabs for App Inbox, dropping Tabs
:(

[2019-12-07 15:05] darshanclevertap commented on #42
Have you migrated completely to AndroidX or are you using Jetifier?

[2019-12-07 15:12] ndmunoz10 commented on #42
Yes I'm using Jetifier

[2019-12-09 08:14] aniketbhoite opened #43 "Didn't find class "com.clevertap.android.sdk.FcmTokenListenerService" crash on Coolpad devices"
Crash log
- Fatal Exception: java.lang.RuntimeException: Unable to instantiate service com.clevertap.android.sdk.FcmTokenListenerService: java.lang.ClassNotFoundException: Didn't find class "com.clevertap.android.sdk.FcmTokenListenerService" on path: DexPathList[[zip file "/data/app/app.babychakra.babychakra-1/base.apk"],nativeLibraryDirectories=[/data/app/app.babychakra.babychakra-1/lib/arm64, /v

[2019-12-09 12:43] tonybarajas commented on #38
Hi @darshanclevertap I added the two dependencies and the logs just says the same:
Please upgrade com.android.support:design library to v28.0.0 to enable Tabs for App Inbox, dropping Tabs
**Note**: I am still using
android.enableJetifier=true
android.useAndroidX=true

Do you know some workaround to be able to use App inbox with AndroidX?
Thanks!

[2019-12-11 07:49] abhishekk-github commented on #41
Hi team,
This is working fine in v3.6.1, We have updated the version just before raising the issue, so had confusion about CT version.

Thanks for the quick response team. Closing this.

[2019-12-11 07:49] #41 closed

[2019-12-11 09:28] calvarez-ov opened #44 "Use new install referrer api (the current one will stop working in March 2020)"
The [documentation for referral tracking](https://developer.clevertap.com/docs/android#section-referral-tracking) refers to a broadcast receiver to track install referrers.

This mechanism will stop working in March 2020. We received this mail from Google Play:

Could you please update the sdk to use the new install referrer apis, and update the documentation?

Thanks!

[2019-12-11 10:54] darshanclevertap commented on #44
hi @calvarez-ov

Thank you for bringing this to our notice. I will be taking this up on high priority with our Product team and will get back to you regarding by when we can do a release for this.

[2019-12-12 14:18] darshanclevertap commented on #43
@aniketbhoite Have you added the FCMTokenListenerService in your AndroidManifest.xml file?

[2019-12-12 14:37] ndmunoz10 commented on #42
Any news on this?

[2019-12-13 05:02] aniketbhoite commented on #43
Yes, we did.

[2019-12-13 09:11] kumaratulismu commented on #43
@aniketbhoite Can you please share with us the version of firebase messaging, which you are using.

[2019-12-13 09:53] aniketbhoite commented on #43
We use Firebase-messaging v20.0.0

[2019-12-16 11:14] mohitagarwal opened #45 "CleverTap not support Custom Screen Attributes"
`CleverTapApi` Class has `recordScreen(String screenName)` method which doesn't send any custom screen attributes.
Can we have a method which sends custom attributes too?
If not, why?

[2019-12-16 11:41] darshanclevertap commented on #45
@mohitagarwal Could you please define your use case here for tracking screen attributes?

[2019-12-16 14:29] kumaratulismu commented on #43
@aniketbhoite  Thanks! for the information.

We are currently not supporting FCM V18 & above, and it's already in our release pipeline. Till the time we are coming out with a release we recommended you to use your own FirebaseMessaging service.

Please refer our [documentation](https://developer.clevertap.com/docs/using-fcm-version-1800-and-above).

[2019-12-16 16:42] kumaratulismu commented on #42
@ndmunoz10  We are not able to reproduce this at our end and its working fine for fragment as well.

We need some your support in getting some more insight to debug it further.

Can you help us with a sample app replicating the scenario. It would be useful in understanding the overall configuration you are using in your project.

[2019-12-16 16:47] ndmunoz10 commented on #42
Actually my team and I had a call on Skype with some people from Clever Tap support, we mirrored our screen and showed them step by step our code. The told us that they didn't know why it wasn't working and that maybe it was because we are using Kotlin instead of Java (I don't think that is the problem). So I think we will have to use this without tabs until you upgrade to AndroidX

[2019-12-17 05:15] aniketbhoite commented on #43
We do have our own class `MyFirebaseMessagingService` class extending `FirebaseMessagingService` class and all the steps are followed as mentioned in the [documentation  ](https://developer.clevertap.com/docs/using-fcm-version-1800-and-above)

[2019-12-19 07:45] darshanclevertap commented on #43
@aniketbhoite Since you have upgraded FCM to v20, please remove the FCMTokenListener class from your AndroidManifest.xml file to resolve this crash.

[2019-12-19 08:44] darshanclevertap commented on #22
@tancolo @HaghighatDoost
CleverTap Android SDK is still considering whether to upgrade our FCM dependencies to v18 and above as many of our users are still using the older dependencies. For now, if your app is using FCM v18 or above, please go through this [documentation](https://developer.clevertap.com/docs/using-fcm-version-1800-and-above) which is a workaround

[2019-12-19 08:44] #22 closed

[2019-12-19 12:14] aniketbhoite commented on #43
Will do that but can you explain why this issue occurs only on Coolpad devices?

[2019-12-20 05:29] mohitagarwal commented on #45
Whenever a screen is loaded we also want to also track what were some of the properties of screen...
for eg.
which a/b segment does the screen belong to
if a product screen was visited what was the product id
what was the source for entering the screen, basically last screen/deeplink

so that when funnelling we can get smart analysis filtering on these properties.

[2019-12-20 06:41] darshanclevertap commented on #45
@mohitagarwal
The use-cases you mentioned are not natural for screen attributes.
E.g.
- AB segment is a part of the property of the user (not the screen he visits).
- Product id is an attribute of the event the user triggers (not screen view)
- Before and after screens are funnels and flows analytics which should not be an attribute of the screen.

We support all these use-cases, in a different wa

[2019-12-26 09:23] #45 closed

[2019-12-26 09:26] darshanclevertap commented on #44
@calvarez-ov
Update on this, we will be releasing a new SDK version in the second week of January which will have the changes regarding the new Install Referrer mechanism. Since the existing way will be deprecated, our code changes will not support backward compatibility and will only proceed with the new way of handling the Instal Referrer API.
I will circle back here once the release is done. Th

[2020-01-06 11:26] shah-nishant opened #46 "Issue with dynamic variable"
We followed the steps mentioned here: https://developer.clevertap.com/docs/ab-tests

But we are unable to fetch values from the experiments created on dashboard.

"ab_exps" key is never present in the response received from the server here
https://github.com/CleverTap/clevertap-android-sdk/blob/master/clevertap-android-sdk/src/main/java/com/clevertap/android/sdk/CleverTapAPI.java#L3244

[2020-01-07 07:32] darshanclevertap commented on #46
@shah-nishant We will need more information regarding your CleverTap account to help debug this. I would suggest that you write to support@clevertap.com mentioning your issue and your CleverTap account information. Also mention this GitHub issue while writing to us so that we can take it up on priority. 🙂

[2020-01-13 08:07] #46 closed

[2020-01-13 08:09] darshanclevertap commented on #44
@calvarez-ov CleverTap Android SDK v3.6.3 is live and fixes the issue. Currently, both ways (Broadcast Receiver & Install Referrer Libray) work but we have added a deprecation warning to the receiver which goes in the `AndroidManifest.xml` file. We will be removing the Broadcast Receiver once Google deprecates in March.

[2020-01-13 08:11] darshanclevertap commented on #43
@aniketbhoite This might happen on other devices as well. It depends on how Firebase gets initialized and authenticated during the runtime of the app.

[2020-01-13 08:11] #43 closed

[2020-01-13 08:11] darshanclevertap commented on #44
Closing this now. Thank you for your patience on this! 🙂

[2020-01-13 08:11] #44 closed

[2020-01-13 11:37] calvarez-ov opened #47 "Crash using new installreferrer api"
We're getting this crash when using CleverTap 3.6.3 which uses the new install referrer api.

Note that we are explicitly using installreferrer version `1.0`, not `1.1`, because Google didn't properly release version `1.1`:

https://issuetracker.google.com/issues/145557612

Google released a 1.1 build which had a crash (in the above issue), then they re-released a new build with the same version 1

[2020-01-13 11:41] calvarez-ov commented on #47
Actually, we also have the crash with installreferrer 1.1, it appears

[2020-01-13 11:48] calvarez-ov commented on #47
Actually, we also have the crash with installreferrer 1.1, it appears

[2020-01-13 11:49] darshanclevertap commented on #47
@calvarez-ov I went through the Google Issue and that is very lazy of them to do so. We use the dependency as `compileOnly`. We have internally tested with 1.1 as a gradle dependency in our app and it works. Could you clear gradle caches and rebuild and check? `getGooglePlayInstantParam` is a public API and it would be weird for it not to be there.

Also, we do have the old way of install referrer

[2020-01-13 12:09] calvarez-ov commented on #47
Could you please make CleverTap compatible with install referrer 1.0? Is this new api `getGooglePlayInstantParam` really necessary? Can using it wait until google fixes the install referrer library?

It's really important to have repeatable builds. And I'm not sure google will fix the library before the broadcast receiver mechanism stops working in March.

[2020-01-13 12:23] darshanclevertap commented on #47
@calvarez-ov If you had pointed this out to us before we could have released for the 1.0 dependency. Since we have already released for v1.1, let me discuss this internally if releasing another CT SDK version is feasible for us.

[2020-01-13 13:49] calvarez-ov commented on #47
Here's an update after testing again with different caches, doing clean builds with `--no-daemon --no-build-cache` to make sure we're not having anything stale when building:

* :x: installreferrer **1.0**: crash due to missing `getGooglePlayInstantParam()` (this github issue)
* :x: Installreferrer **1.1**, the **original** one (it's cached by a nexus mirror we have): `java.lang.ClassNotFoundExcep

[2020-01-13 14:52] calvarez-ov commented on #47
Update: To not be blocked, we will try to clear all our caches and use the new 1.1 which doesn't crash.  But it may be useful still for other CleverTap customers to support 1.0.

[2020-01-16 14:27] calvarez-ov commented on #47
Actually, we just discovered a new issue with the install referrer library 1.1 (and 1.1.1 which was published today).
This library adds additional permissions to the app using it:
`WRITE_EXTERNAL_STORAGE`
`READ_EXTERNAL_STORAGE`
`READ_PHONE_STATE`

More info here: https://issuetracker.google.com/issues/146115244

[2020-01-23 10:00] gauravtyagi328 opened #48 "Native Display Message"
Can you provide any simple project on Native Display feature. We have checked doc but we are unable to understand how to create user interface face for all type banner(Simple Banner, Carousel Banner, Banner with icon and coustom)

[2020-01-23 12:55] darshanclevertap commented on #48
@gauravtyagi328 ,

The Native Display feature is built for flexibility such that you just pass KV pairs from CleverTap. Using the predefined keys in your app, the values can be configured on CleverTap to allow you to change/update the native display of the app.
Each of the types of the banner is just pre-defined system keys which you can configure in the app to ensure the display is as per the ban

[2020-01-23 13:31] gauravtyagi328 commented on #48
We created all types banner (Simple, carousel and with icon) but at launch
time  we are get only simple banner. Why this is happening?

On Thu, 23 Jan, 2020, 6:25 PM Darshan Pania, <notifications@github.com>
wrote:

[2020-01-24 04:35] darshanclevertap commented on #48
You will receive the data on the trigger event on which you have made the campaign.
If you are still facing issues, you can write in to support@clevertap.com with your account details and campaign details which are supposedly not working and mention this GitHub issue so that our support team can take it up on priority.

[2020-01-27 17:40] kssilvoza opened #49 "CleverTap Display Units reliability"
Is there a more reliable way on getting display units from CleverTap? When you push an Event that corresponds to a Native Display, there are times that the listener set in setDisplayUnitListener is not triggered at all.

[2020-02-06 10:15] sushantoghosh opened #50 "Release Build failed with proguard-android-optimize.txt"
gradle :

shrinkResources true
minifyEnabled true
proguardFiles getDefaultProguardFile('proguard-android-optimize.txt'), 'proguard-rules.pro'

proguard rules:

#-dontoptimize
#-dontpreverify
-optimizationpasses 10

Build failed log:

14:59:33 Shrinking...
14:59:33 Printing usage to [/var/lib/jenkins/workspace/Android-Live/app/build/outputs/mapping/Live/release/usage.txt]...
14:59:39 Removing unuse

[2020-02-11 09:28] darshanclevertap commented on #50
Hi @sushantoghosh
Sorry for the delay in this reply
Which version of the CleverTap Android SDK are you using?

[2020-02-11 09:31] darshanclevertap commented on #49
@kssilvoza Hi, sorry for the delay in this reply.
This seems to be more of a complete end to end issue rather than an SDK issue.
Could you please give us more details like your Account ID and Account token and the campaign which was not responding the way you wanted and mail it to support@clevertap.com and please mark this Github issue as well in the mail so that we can take it up on priority.

[2020-02-11 09:32] #49 closed

[2020-02-11 09:32] #48 closed

[2020-02-11 16:00] VictorTellez opened #51 "_createNotification method not contain the wzrk_pid"
![Screenshot 2020-02-11 at 16 54 39](https://user-images.githubusercontent.com/5931981/74253308-33500b80-4cef-11ea-8c5c-3e6f27b27a6e.png)
In Android device when we want to show the notification the wzrk_pid is not coming. I was following  this example: [using fcm version 1800 and above](https://developer.clevertap.com/docs/using-fcm-version-1800-and-above) and I was sending push notification from

[2020-02-12 04:46] darshanclevertap commented on #51
Hi @VictorTellez
Were you sending the Push Notification by creating a campaign or directly from the user's profile page on the CleverTap Dashboard?

[2020-02-12 05:19] imrankhanluhar opened #52 "How to active the discard event again"
Hi , i want to re-enable the an event , which is discarded before some time due to some reason . but  now i want to see this event data for some analysis .please tell me how can i re-enable the event  . Please Help .

[2020-02-12 08:20] VictorTellez commented on #51
@darshanclevertap I have sent it from: Segments->Find people -> Find by Identity -> Profile -> Push notification. Also I'm using Android 9.

[2020-02-13 03:39] fajaranugrah opened #53 "not found attribute 'appComponentFactory' on sdk 26"
Hello can you help me
the problem is

**No resource identifier found for attribute 'appComponentFactory' in package 'android'**

my sdk using 26

compileSdkVersion 26
buildToolsVersion "26.0.2"
targetSdkVersion 28

compile 'com.clevertap.android:clevertap-android-sdk:3.6.3'
compile 'com.android.installreferrer:installreferrer:1.1.1'

how to fixed this? if not update the SDK
thank you

[2020-02-13 06:22] sushantoghosh commented on #50
@darshanclevertap implementation 'com.clevertap.android:clevertap-android-sdk:3.4.2'

[2020-02-13 06:44] darshanclevertap commented on #51
If you send a Push Notification via the above route you mentioned, we do not send the `wzrk_pid` key. This key will be present if you send out a Push Notification via our Campaigns.
We use this key to ensure that every push notification that reaches the device is unique. May I ask why are you concerned about this key?

[2020-02-13 06:47] darshanclevertap commented on #50
@sushantoghosh GCM as a service was deprecated by Google last year and GCMTokenListenerService is now deprecated as a part of our codebase. I would suggest you upgrade our library to v3.6.0 or above.
Let me know if the problem still persists.

[2020-02-13 06:48] darshanclevertap commented on #53
@fajaranugrah I would suggest upgrading your buildToolsVersion and compileSdkVersion to 28 as well. By good practice, compileSdkVersion and targetSdkVersion should be the same. Please let us know if the problem exists for you after this.

[2020-02-13 07:16] fajaranugrah commented on #53
@darshanclevertap tahnk you for suggest... but if i stay using SDK 26? what i to do
thanks

[2020-02-13 08:59] darshanclevertap commented on #53
@fajaranugrah Not upgrading to 28 can cause such problems as there is a mismatch between compileSdkVersion and targetSdkVersion. Can you share the rest of the logs which come with the above error?

[2020-02-13 09:02] darshanclevertap commented on #52
@imrankhanluhar We do not handle such requests. Please write an email to support@clevertap.com in detail with your Account ID and the event which you want to not be discarded and they will be the right people to help you with this. Thanks!

[2020-02-13 09:02] #52 closed

[2020-02-13 10:14] VictorTellez commented on #51
@darshanclevertap Because I used your createNotification method, and it didn’t show the notification.
So, I used our own method to create and show notification and used hard-coded key “nt” and “nm” to get title and message. Do you think this is because I use this way
`Segments->Find people -> Find by Identity -> Profile -> Push notification`?
The point about this key is that is the one who is chec

[2020-02-14 04:33] fajaranugrah commented on #53
@darshanclevertap this one full log

Process 'command 'C:...\AppData\Local\Android\Sdk\build-tools\26.0.2\aapt.exe'' finished with non-zero exit value 1

	at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.executeActions(ExecuteActionsTaskExecuter.java:100)
	at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.execute(ExecuteActionsTaskExecuter.java:70)
	at org.

[2020-02-14 11:08] darshanclevertap commented on #53
@fajaranugrah I am seeing this error occurs mostly or React Native or Cordova. Are you using any of them? Or is it native Android?

[2020-02-14 11:10] darshanclevertap commented on #51
CleverTapAPI.createNotification().

The key to check whether the Push Notification is from CleverTap is `wzrk_pn` and not `wzrk_pid` i can see in the screenshot provided by you that `wzrk_pn` is being sent to you

[2020-02-14 12:25] darshanclevertap commented on #47
@calvarez-ov Sorry for the delay but we really do not have the bandwidth to downgrade to 1.0 for now. We will stay at 1.1 and keep an eye on the 1.1.1 issue and if Google fixes this before March, I will update it to the next lib version.

[2020-02-14 13:40] VictorTellez commented on #51
@darshanclevertap The check that is not working in CleverTapApi is this one:
[code]
This is why the notification is not shown.

[2020-02-14 15:30] darshanclevertap commented on #51
@VictorTellez
If you send out a Push Notification using `Segments -> Find people -> Find by Identity -> Profile -> Push notification` we don't send the `wzrk_pid` key.
The `if` statement you have mentioned only checks for the key if present. If it is not present then it proceeds without stopping the flow. I think there is confusion over here regarding why a Push Notification is not showing up on y

[2020-02-16 15:48] fajaranugrah commented on #53
@darshanclevertap it is native Android

[2020-02-17 09:34] calvarez-ov commented on #38
In our project, now mapbox has migrated to androidx.

That makes CleverTap the only sdk in our app that still hasn't migrated to androidx.

[2020-02-19 08:59] darshanclevertap commented on #53
@fajaranugrah I think you are using ProGuard in your debug environment. Do you want to use ProGuard in your debug environment? If yes, then try following the documentation for ProGuard mentioned here - https://developer.clevertap.com/docs/android#section-pro-guard

Also, is this happening because of the CleverTap SDK or this error happens without using our SDK as well?

[2020-02-21 20:35] Arthur-Tavais-Turbi opened #54 "CLEVERTAP_NOTIFICATION_ICON not working"
My app dont show the notification small icon. I even tried with the sample icon in your documentation and it stills does not work. I'm using a custom FirebaseMessagingServer but calling CleverTapAPI.createNotification to manage notifications from cleverTap. The service on my Manifest:

        <service
            android:name=".external.service.MyFirebaseMessagingService"
            android:stop

[2020-02-24 05:57] darshanclevertap commented on #54
@Arthur-Tavais-Turbi Can you share a screenshot of the Push Notification you are receiving?

[2020-02-24 05:58] darshanclevertap commented on #53
@fajaranugrah Was this resolved for you?

[2020-02-24 05:58] darshanclevertap commented on #51
@VictorTellez Was this resolved from your side?

[2020-02-24 05:59] darshanclevertap commented on #50
@sushantoghosh Was this resolved for you?

[2020-02-26 09:16] darshanclevertap commented on #47
@calvarez-ov We decided to revert to v1.0. Please checkout the latest release v3.6.4. Thanks!

[2020-02-26 15:04] Arthur-Tavais-Turbi commented on #54
Sure. It's the "Test Android" one, on top.
![Screenshot_2020-02-26-11-53-05-548_br com turbi turbi](https://user-images.githubusercontent.com/61332045/75357404-14757b80-5890-11ea-9657-433975f1db9c.jpg)

[2020-02-26 15:39] darshanclevertap commented on #54
Hi @Arthur-Tavais-Turbi

This is because Android started handling Small Notification Icons differently from Android Lollipop onward. Please read [our blog](https://clevertap.com/blog/fixing-notification-icon-for-android-lollipop-and-above/) on how to fix this.

Hope this helps!

[2020-02-27 22:54] Arthur-Tavais-Turbi commented on #54
I am already using an icon on this pattern, as you can see below:
![ic_stat_icon_turbi_white_notification](https://user-images.githubusercontent.com/61332045/75493831-91404c80-5999-11ea-9209-7da4aa6db44f.png)

In my Android Manifest:

[2020-03-02 06:34] mkansara opened #57 "java.lang.VerifyError"
After updating SDK to version 3.6.4 i get this error while run time @
**cleverTapAPI = CleverTapAPI.getDefaultInstance(getApplicationContext());**

2020-03-02 12:02:44.942 28921-28921/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: co.mchannel.peachmode.alpha, PID: 28921
    java.lang.VerifyError: Verifier rejected class com.clevertap.android.sdk.InAppFCManager: int[] com.clevertap.android.

[2020-03-02 06:51] darshanclevertap commented on #54
@Arthur-Tavais-Turbi If you have followed the way to create the right icon, it should work. Can you try it on some other device?

[2020-03-02 06:55] darshanclevertap commented on #57
Same as https://github.com/CleverTap/clevertap-android-sdk/issues/15
Please check the solution provided and let me know if the problem persists

[2020-03-02 06:59] mkansara commented on #15
Solve the issue with above solution

[2020-03-03 16:36] #47 closed

[2020-03-04 06:53] #57 closed

[2020-03-05 05:57] kumaratulismu commented on #37
Closing due to inactivity.

[2020-03-05 05:59] kumaratulismu commented on #42
Will be taken up with AndroidX support in the SDK. Closing as of now

[2020-03-05 05:59] #42 closed

[2020-03-05 06:00] kumaratulismu commented on #53
Closing the issue due to inactivity

[2020-03-05 06:00] #53 closed

[2020-03-05 06:01] kumaratulismu commented on #51
Closing the issue due to inactivity

[2020-03-05 06:01] #51 closed

[2020-03-05 06:02] kumaratulismu commented on #50
Closing the issue due to inactivity

[2020-03-05 06:02] #50 closed

[2020-03-12 09:30] calvarez-ov opened #59 "Potential problem with recent firebase instance id sdk"
From the firebase instance id release notes:
https://firebase.google.com/support/release-notes/android#iid_v20-1-1

Version 20.1.1 fixes a bug:

I noticed that the clevertap sdk is still using the non-recommended, deprecated `FirebaseInstanceId.getInstance().getToken()` method, in `CleverTapAPI.FCMGetFreshToken()`

Please update the sdk to use a more recent version of the firebase dependencies, an

[2020-03-16 09:45] rishabh876 commented on #47
Google installreferrer 1.1.2 is now out with the fix for unnecessary permissions.
Does 3.7.0 version has this dependency or should we still keep using 1.0?

[2020-03-17 09:41] rameshvoltella opened #60 "How to listn the notification click to navigate to specifc activity"
Hi,

Based on the notification click i need to navigate user to different screen for example
if Message 1 go to Activity 1
if Message 2 go to Activity 2

i have a custom **FirebaseMessagingService** i am successfully receiving notification also But i am not getting how to open a specific page from the click.Not getting the idea the documentation is not clear, because i passed CleverTapAPI.createNo

[2020-03-18 10:33] nabil6391 opened #61 "Can't create handler inside thread that has not called Error after updating to 3.7.0"
Hi Guys, after update to the latest version, Our app is crashing due to the below crash... Can you please have a look

`Fatal Exception: java.lang.RuntimeException: Can't create handler inside thread that has not called Looper.prepare()
       at android.os.Handler.<init>(Handler.java:209)
       at android.os.Handler.<init>(Handler.java:123)
       at com.clevertap.android.sdk.CleverTapAPI.instan

[2020-03-18 12:33] darshanclevertap commented on #61
@nabil6391 Could you please share some more details like what kind of device and OS version you found this crash on?

[2020-03-18 12:35] darshanclevertap commented on #60
@rameshvoltella You can create a deeplink to the page you want to open in your app. Now you can set that deeplink when you create a Push Notification Campaign on the CleverTap Dashboard. When you pass the extras to `CleverTapAPI.createNotification(getApplicationContext(), extras)` we directly open the page mentioned in the deeplink.

[2020-03-19 02:18] nabil6391 commented on #61
HI thanks for the reply, This is gotten from our crashlytics report... It happens in almost all devices and OS version. I am suspecting its because we are initialisiing the clevertap in a background thread using coroutines in the application class.

![image](https://user-images.githubusercontent.com/21167899/77024950-cb19d700-69ca-11ea-8314-f359b40e0b9b.png)

[2020-03-19 04:07] nabil6391 commented on #61
Actually Upon further research the crash is actually happening because the CleverTap.getInstance() is being run from the background thread by the library inside the CTBackgroundJobService

Please fix this issue

[2020-03-19 08:28] darshanclevertap commented on #61
@nabil6391 Yes, I was able to reproduce this on my end as well. I am working on a release and will give you an update by EOD.

[2020-03-19 08:32] nabil6391 commented on #61
Awesome thanks a lot

[2020-03-19 08:54] darshanclevertap commented on #47
@rishabh876 You can use v1.1.2, it should not cause a conflict with the CleverTap Android SDK dependency of v1.0

[2020-03-19 12:02] darshanclevertap commented on #61
@nabil6391 Fixed this with the latest CleverTap Android SDK v3.7.1

[2020-03-19 12:02] #61 closed

[2020-04-08 08:38] mochadwi commented on #38
Waiting for this, to be officialy supported.

Meanwhile, I'm trying to host into internal private maven repository to change the actuals import package from support library to androidx instead, using `jetifier-standalone` from google

[2020-04-08 09:04] calvarez-ov commented on #38
androidx has been stable for 1.5 years now. Can you please do the migration? Other projects who haven't migrated yet and are using CleverTap can continue to use the current 3.7.2 version of CleverTap.  If they haven't yet migrated to androidx, they're probably used to using legacy versions of libraries anyway 😛  The rest of us can continue to use recent stable versions (which have bug fixes).

[2020-04-09 09:19] gauravtyagi328 opened #64 "Fatal Exception: java.lang.NullPointerException"
Crashlytics show below error on deshboard. Please check it
clevertapVersion = "3.7.0"

CleverTapAPI.java line 3951
com.clevertap.android.sdk.CleverTapAPI.displayNotification

Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'boolean com.clevertap.android.sdk.InAppFCManager.a(com.clevertap.android.sdk.CTInAppNotification)' on a null object reference
       at com.cl

[2020-04-09 15:33] darshanclevertap commented on #64
@gauravtyagi328 This has been fixed in v3.7.2. Please update the CleverTap SDK on your end. Thanks!

[2020-04-09 15:34] darshanclevertap commented on #60
@rameshvoltella If you are still facing this issue, please write to support@clevertap.com
Closing this due to inactivity.

[2020-04-09 15:34] #60 closed

[2020-04-13 11:56] calvarez-ov commented on #38
Chet Haase from Google says “it’s time” to migrate to androidx:

https://youtu.be/2ov_23fTwyU?t=2m45s

At 2:45 in the video.

[2020-04-13 19:10] mochadwi commented on #38
really agreed @calvarez-ov more and more recommendation from google for the apps and library developer to migrate into AndroidX, especially Android 11 and above, and they will stop the support library, really waiting for this to come officially :)

[2020-04-14 08:35] thduc89 opened #65 "Custom Notification Builder"
Hi CleverTap team, I want to manually control the behavior of my app via PendingIntent when I tap on the notification sent by a Campaign by forming a custom TaskStack, but I can't find any method in your SDK to let me create a raw notification or a NotificationCompat builder (so I can set a PendingIntent myself). So far what I've found is the createNotification method but it fires a notification r

[2020-04-15 10:31] calvarez-ov opened #66 "Silent NPE when receiving test push notification"
I've set up a campaign to show an alert (popup) when the app sends a certain event. I'm testing out this campaign using the "send test notification" feature.

My device receives the notification, and it does show the alert. But, at some point, I was troubleshooting an issue with the debugger, and found that an exception is caught and silently ignored.

The exception is:
[code]

The code which caus

[2020-04-16 02:44] Arthur-Tavais-Turbi opened #67 "onInAppButtonClick not triggering"
Hello.

i'm trying to implement a specific action on the button click of my InAppNotification, but the method onInAppButtonClick is note being called. I've implemented it on my activity, as you can see below:

![image](https://user-images.githubusercontent.com/61332045/79408776-8e61e100-7f72-11ea-8942-c87899b068c6.png)

And i have overrided it as in your documentation:

![image](https://user-image

[2020-04-16 11:27] darshanclevertap commented on #67
@Arthur-Tavais-Turbi Have you set the Listener in your Activity's `onCreate()` like this?
`cleverTapAPI.setInAppNotificationButtonListener(this);`

[2020-04-16 11:27] darshanclevertap commented on #66
@calvarez-ov Thank you for pointing this out, my team is looking into this. I'll keep you updated

[2020-04-16 15:00] Arthur-Tavais-Turbi commented on #67
That was it! Working like a charm now. Thank You!

[2020-04-16 15:00] #67 closed

[2020-04-24 06:14] thduc89 commented on #65
please anyone helps me, this is a very critical thing in our project. I just need you to confirm so in the worst case I will find another approach.

[2020-04-24 06:26] thduc89 commented on #65
@darshanclevertap can you help answer my question, please? Thank you

[2020-04-24 10:24] darshanclevertap commented on #65
@thduc89 You can implement your own FirebaseMessagingService and receive the payload from CleverTap. You can then render the notification as you wish. Check out this link for the different keys we send in our Push Notification payload - https://developer.clevertap.com/docs/android#section-custom-android-push-notifications-handling

[2020-04-24 10:24] #64 closed

[2020-04-24 10:25] darshanclevertap commented on #54
@Arthur-Tavais-Turbi Is this resolved now?

[2020-04-24 10:33] thduc89 commented on #65
@darshanclevertap thanks for your reply! I did that already but somehow not satisfied with that way, it's just like I'm reinventing the wheel since your SDK handled rendering the notification very well, only need to customize the behavior when tapping on the notification via PendingIntent. I think I will have to deal with it manually for now. Thank you again!

[2020-04-24 10:37] darshanclevertap commented on #65
@thduc89 Could you help me with your use case? You want to customize the pending intent on the click of the notification to achieve what? Most of the app developers want to open their home page or some specific activity, that can be achieved via deep links. If you could explain your use case to me, I'd like to try and help you out.

[2020-04-24 10:53] thduc89 commented on #65
@darshanclevertap I have several use cases for this, most of them are deeplinks:

1. I tap on a notification, it opens a deeplink page in my app with a custom task stack so when I tap back button it won't open the home page or close my app but `back` to another screen which I put into the custom TaskStackBuilder instead.

2. I tap on a notification, if my app is running and showing the deeplink pa

[2020-04-26 07:08] mochadwi commented on #38
Since reading this closed #43 regarding firebase messaging, seems that a lot of clevertap functionality replaced such as FcmTokenListener and InAppNotification due to still using Support Library and firebase (below 19.x)

@calvarez-ov @darshanclevertap

[2020-04-26 07:10] mochadwi commented on #43
Is there any docs to configure `com.clevertap.android.sdk.InAppNotificationActivity` as well? when migrating to AndroidX, `InAppNotifiation` class still extends `com.clevertap.android.sdk.InAppNotificationActivity`

cc @darshanclevertap @kumaratulismu

[2020-04-26 07:34] mochadwi opened #68 "FcmTokenListenerService & InAppNotificationActivity in AndroidManifest.xml shows linter error when migrated to AndroidX"
My setup:
[code]
please mention me if you need more setup configuration or provide more error/output logs

Linter error:
`Registered class is not instantiatable correctly`
<img width="895" alt="Screen Shot 2020-04-26 at 2 32 04 PM" src="https://user-images.githubusercontent.com/7057959/80300912-b64f1100-87ca-11ea-9d14-370c80b67a87.png">

My Approach:
- This #43 has workaround for the issue with `F

[2020-04-27 05:19] wisnukurniawan opened #69 "Fatal Exception: java.lang.ArrayIndexOutOfBoundsException at `CleverTapAPI#showInApp` v3.4.2"
Hi Clevertap team, we got crash with error stack trace from crash reporting

[code]

This issue happen on android device 7, 8, 9 and device states 95% in background. We are using Clevertap SDK version 3.4.2. Is this issue already fixed in latest version? if yes we will update the version, if not please help to fix it since the issue make the app crashing. Thanks.

[2020-04-27 06:24] darshanclevertap commented on #68
There are two separate issues here -

1. The `InAppNotificationActivity` is now a part of the CleverTap SDK's `AndroidManifest.xml` and you don't need to add it in your `AndroidManifest.xml` file. That should solve the lint issue.

2. As for the FCMMessageListener class, you can follow #43 and easily avoid any issues.

You don't need to add the AAR file manually if you follow the above 2 steps.

[2020-04-27 06:28] darshanclevertap commented on #65
@thduc89 Yes, for now, our SDK doesn't solve for such specific use cases. We will take this up internally to see if such use cases are prevalent amongst our user base and try to incorporate them in the SDK in the future.

[2020-04-27 06:28] #65 closed

[2020-04-27 06:36] darshanclevertap commented on #38
@calvarez-ov @mochadwi We cannot migrate to AndroidX till there is some official announcement of the deprecation of the older support libraries as we have more than 8000 clients and developers using our SDK. Not all of them have moved to AndroidX and since the `jetifier` method is available for now as a workaround for people who have chosen to migrate.
Also @mochadwi your InAppNotificationActivity

[2020-04-27 06:48] mochadwi commented on #68
Now that's great, so it is safe to remove the InAppNotification activity? Did you guys already mentioned this features untuk docs somewhere (the others might not found it too)

I assume, because AppsFlyer SDK manifest will be merged to our apps manifest (that is safe to remove InAppNotification activity from apps manifest) @darshanclevertap

[2020-04-27 06:48] #68 closed

[2020-04-27 07:03] darshanclevertap commented on #68
Yes, @mochadwi CleverTap's manifest gets merged with your app's manifest file at compile time. So you don't need to add it in your manifest separately. I'll check our official documentation as well, and update it if its not. Thanks!

[2020-04-27 07:19] calvarez-ov commented on #38
The message from Chet Haase saying the time is now, isn't enough?

[2020-04-27 07:23] calvarez-ov commented on #38
The main page for the support library has a "DEPRECATED" watermark all over it: https://developer.android.com/topic/libraries/support-library :

![image](https://user-images.githubusercontent.com/9365138/80344954-ac7beb00-8868-11ea-89c7-c67bca2f369a.png)

It also says

[2020-04-27 08:20] calvarez-ov commented on #38
Nick Anthony, Program Manager Android Jetpack, wrote an article a month ago saying "now is the time" to migrate to androidx: https://medium.com/androiddevelopers/migrating-to-androidx-tip-tricks-and-guidance-88d5de238876

Among the other reasons, the top one is:

[2020-04-27 08:43] hannesstruss commented on #38
@darshanclevertap out of curiosity, how many of your clients using the SDK have not yet migrated to AndroidX? I'd assume this number is pretty low, would it make sense for you to fork and freeze the CleverTap SDK for these clients, backporting only important security fixes and making life easier for the majority of your clients?

[2020-04-27 16:01] mochadwi commented on #38
yes, backported for support library seems better (if there's bugfix) e.g in the latest supported AndroidX

[2020-05-03 13:45] wisnukurniawan commented on #69
closed for now

[2020-05-05 02:03] wisnukurniawan commented on #69
The issue still happen even use latest version

[2020-05-05 06:54] piyush-kukadiya commented on #69
@wisnukurniawan We are looking into it. In mean time can you also please let us know if is it reproducible from your end? that will help us to solve issue at the earliest.

[2020-05-05 08:04] wisnukurniawan commented on #69
Unfortunately, we are not able to reproduce this issue.

[2020-05-08 08:59] piyush-kukadiya commented on #69
@wisnukurniawan We are unable to reproduce this issue at our end. We will fix it as soon as other users find similar issue and somehow we get to know steps for reproducing it. Closing this issue for now.

[2020-05-08 08:59] #69 closed

[2020-05-08 09:03] piyush-kukadiya commented on #66
@calvarez-ov This issue has been fixed in v3.8.0

[2020-05-08 09:03] #66 closed

[2020-05-11 15:48] dhruvkaushal11 opened #72 "Getting Null Pointer Exception in Release Version"
Hi Team,
I am getting Null Pointer Exception in Release Build on Native Android SDK

**Here are the Logs:**

Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String java.lang.Throwable.toString()' on a null object reference
       at com.clevertap.android.sdk.DeviceInfo.fetchGoogleAdID(DeviceInfo.java:180)
       at com.clevertap.android.sdk.DeviceInfo.a

[2020-05-11 18:33] darshanclevertap commented on #72
@dhruvkaushal11 This was fixed in v3.6.3 but I'd suggest moving to the latest version v3.8.0 to be updated with the latest features and bug fixes. Thanks!

[2020-05-11 18:33] #72 closed

[2020-05-11 18:33] darshanclevertap commented on #54
Closing due to inactivity. Please open this up if the issue persists.

[2020-05-11 18:33] #54 closed

[2020-05-19 18:02] dduvedi opened #73 "App Inbox Back Button"
I have implemented app inbox for clever tap in an activity, but on back press it shows me a white screen and again on back press takes me to the previous screen.

[2020-05-20 02:19] darshanclevertap commented on #73
@dduvedi Could you share the code on how are you calling our InboxActivity? Is it on top of a fragment or an existing Activity? And if possible you could share a screen recording of what you've described?

[2020-05-20 05:51] dduvedi commented on #73
package com.payu.payumoney.activities.kotlin;

import android.os.Bundle;

import com.clevertap.android.sdk.CTInboxListener;
import com.clevertap.android.sdk.CTInboxStyleConfig;
import com.clevertap.android.sdk.CleverTapAPI;
import com.payu.payumoney.activities.PayUnowBaseActivity;

import java.util.ArrayList;

public class CTAppInbox extends PayUnowBaseActivity implements CTInboxListener {
    pri

[2020-05-20 08:04] dduvedi opened #74 "Tabs in app inbox"
I have created two tabs for app inbox, but it is showing all as default. Is there a way to remove all?

[2020-05-20 09:12] piyush-kukadiya commented on #74
@dduvedi Can you please explain in detail, what issue you are facing?

[2020-05-20 09:22] dduvedi commented on #74
i am getting three tabs. whereas i have added only two, the all one is added automatically, is there a way to removed it.

![image](https://user-images.githubusercontent.com/6572193/82429390-6c93d680-9aa9-11ea-8158-a6f1f97be51a.png)

[2020-05-20 09:46] piyush-kukadiya commented on #74
@dduvedi There is no way you can remove ALL tab.
ALL tab will be added by default, the other 2 can be configured, every message will be in the ALL tab by default, and depending on the tag you use in the Inbox campaign we will show it in that tab.

[2020-05-20 11:40] dduvedi commented on #74
is it possible to change the notification bar colour from black to our theme color?

[2020-05-20 11:48] darshanclevertap commented on #74
@dduvedi Yes. See point #3 in our [App Inbox documentation](https://developer.clevertap.com/docs/android#section-app-inbox)

[2020-05-20 11:50] dduvedi commented on #74
there is nothing defined as how to change notification bar color

[2020-05-20 11:51] darshanclevertap commented on #74
@dduvedi do you mean the status bar? or the Inbox bar where the back button is present?

[2020-05-20 11:52] dduvedi commented on #74
status bar/notificatio bar i meant where we signals/ battery etc

[2020-05-20 11:54] darshanclevertap commented on #74
@dduvedi Sorry, that cannot be customized

[2020-05-20 11:55] dduvedi commented on #74
@darshanclevertap thanks for the quick response. Another thing i want to ask if i will send any push notification it will be available in app inbox?

[2020-05-20 12:00] darshanclevertap commented on #74
@dduvedi Yes, we have an option "Send to App Inbox" on our Dashboard when you create a Push Notification Campaign

[2020-05-20 12:01] dduvedi commented on #74
@darshanclevertap  same for in-app notification?

[2020-05-20 12:02] darshanclevertap commented on #74
@dduvedi No, InApp notifications cannot be sent to App Inbox.

[2020-05-20 12:03] dduvedi commented on #74
@darshanclevertap can you tell me apart push notification what else be available in app inbox?

[2020-05-20 12:03] darshanclevertap commented on #74
@dduvedi Only Push Notifications 😄

[2020-05-20 12:05] dduvedi commented on #74
@darshanclevertap  cool man, thanks alot for your quick support!! :)

[2020-05-20 12:05] #74 closed

[2020-05-20 12:29] dduvedi commented on #74
@darshanclevertap in-app notifications aren't allowed in android emulator?

[2020-05-20 13:13] dduvedi opened #75 "InAppNotificationButtonListener"
I have implemented InAppNotificationButtonListener in my main activity and using clever tap sdk ver 3.8.0 and when i click on button inside in-app notification which was showed in main activity but I am not receiving callback on onInAppButtonClick

[2020-05-20 13:29] Harshit-roid opened #76 "Test the Push Amplification!"
I have Implemented the push Amplification for Notification in my recent project, then the issue is how to test them, our notification is amplified or not.

[2020-05-21 06:38] gauravtyagi328 opened #77 "how to test Xiaomi Push Integration."
I have implement Xiaomi Push notification. but we do not how to to test it.

[2020-05-21 07:11] dduvedi commented on #75
@darshanclevertap can you reply?

[2020-05-21 07:21] darshanclevertap commented on #77
@gauravtyagi328 When you pass the Xiaomi push token to CleverTap, we show it on your profile page like this -
![Uploading Screenshot 2020-05-21 at 12.49.42 PM.png…](Xiaomi Push)

You can click on Send Push and the dashboard will give you an option to select which token you want to send it to.

[2020-05-21 07:25] darshanclevertap commented on #75
@dduvedi `onInAppButtonClick` is called only when there are custom key-value pairs set on that button in the InApp campaign. If you want to know if the InApp was dismissed, implement the `InAppNotificationListener` which has an `onDismissed` callback method

[2020-05-21 07:27] dduvedi commented on #75
I have dome the same thing defined custom key value pair on button whereas on click of that ina-pp notification was dismissed and callback was not received on onInAppButtonClick

[2020-05-21 07:40] darshanclevertap commented on #75
@dduvedi Have you set the listener like this in your Activity? -

`cleverTapInstance.setInAppNotificationButtonListener(this);`

[2020-05-21 07:53] dduvedi commented on #75
Android SDK v3.6.1 and above supports callback on the click of InApp Notification Buttons by returning a Map of Key-Value pairs. To use this, make sure your activity implements the InAppNotificationButtonListener and override the following method :

@Override
    public void onInAppButtonClick(HashMap<String, String> hashMap) {
        if(hashMap != null){
            //Read the values
        }

[2020-05-21 08:09] darshanclevertap commented on #75
@dduvedi Thanks for the suggestion, we will update our documentation

[2020-05-21 09:30] dduvedi commented on #75
@darshanclevertap  i was able to receive the callback, thanks for the help.
Though i have a query, we use custom html for templates where we don't create button using standard clever tap campaign creation flow, it there a way to receive callback for that custom template item click?

[2020-05-21 09:31] piyush-kukadiya commented on #73
@dduvedi I have tested this from my end, this is working fine.
Is this issue specific to OS or device?

![device-2020-05-21-144515](https://user-images.githubusercontent.com/61137760/82544635-0a070d00-9b73-11ea-86bd-61cc55950e6e.gif)

[2020-05-21 09:54] dduvedi commented on #73
working fine for me too, that was not clarified in documentation the process of integration after checking out the starter app i got it.

[2020-05-21 09:54] #73 closed

[2020-05-21 11:11] darshanclevertap commented on #75
@dduvedi No there are no callbacks for HTML templates.

[2020-05-21 11:11] #75 closed

[2020-06-01 08:01] darkkillen opened #78 "refresh token in my Custom FirebaseMessagingService"
I have my custom FirebaseMessagingService and there are "onMessageReceived" and "onNewToken". In "onMessageReceived" I have already implement the notification behavior likes the library but in "onNewToken" I can't call `CleverTapAPI.tokenRefresh(context)`. It's package protected. Any suggestion?

[2020-06-01 08:21] darshanclevertap commented on #78
@darkkillen Use the public method `pushFcmRegistrationId("yourToken",true)`

[2020-06-01 08:25] #78 closed

[2020-06-10 11:52] dduvedi opened #79 "App Inbox"
Can we mark all notification as read after opening app inbox, because right now cleverTapAPIInstance.getInboxMessageUnreadCount() gives count of total notification received.

[2020-06-12 18:55] darshanclevertap commented on #79
@dduvedi You can call `markReadInboxMessage(String messageId)` or `markReadInboxMessage(CTInboxMessage message)` in a for loop and mark all the messages as read

[2020-06-12 18:56] darshanclevertap commented on #77
@gauravtyagi328 Hope this solves your issue. Closing this for now. If you still have concerns, feel free to reopen this thread.

[2020-06-12 18:56] #77 closed

[2020-06-12 18:57] dduvedi commented on #79
Using which CT method i can get list of all messages and their respective messageId?

[2020-06-12 18:58] darshanclevertap commented on #76
@Harshit-roid Sorry for the delay in replying. You can comment out the Firebase Messaging Service from the `AndroidManifest.xml` on a device that doesn't have background limits on processes and you'll be able to receive the push notification from CleverTap via push amplification.

[2020-06-12 19:02] darshanclevertap commented on #79
@dduvedi the `getAllInboxMessages` returns and `ArrayList` of `CTInboxMessage` class. Read [this documentation here](https://developer.clevertap.com/docs/android#section-creating-your-own-app-inbox) for a better understanding of all our App Inbox methods.

[2020-06-15 09:29] khdkls opened #80 "Can I change default title name of AppInbox"
Is there any way to change the "ALL" title message of the first default tab?

[2020-06-15 11:14] darshanclevertap commented on #80
@khdkls Unfortunately, we don't allow this. But you can write to us at support@clevertap.com explaining the use case where you would want this to be renamed and we can take this up as feedback to improve our App Inbox

[2020-06-15 11:15] #76 closed

[2020-06-15 15:18] enofeb commented on #27
Do not you still have any support custom events  on the click of Inbox notifications?  @darshanclevertap

[2020-06-16 06:38] darshanclevertap commented on #27
@enofeb We do not support custom events on the click on Inbox Notifications if you're using our InboxActivity.
If you want to raise custom events, you will have to create your own App Inbox using our [public methods mentioned here](https://developer.clevertap.com/docs/android#section-creating-your-own-app-inbox)

[2020-06-16 13:27] smithc42 opened #81 "App Inbox: Refresh behaviour"
Notes:
- I'm displaying the default App Inbox UI via `CleverTap.showAppInbox`

**If a message is sent from the web console, are you required to open the message notification before it appears in the inbox?**
- Currently, if I send a message from the web console and open the app (without opening the message notification) and enter the app inbox via `showAppInbox` I don't see the message.
- Similarl

[2020-06-16 14:47] darshanclevertap commented on #81
@smithc42 Yes, you need to click the Push Notification which you receive while sending a test Inbox Message from the CleverTap dashboard. This is the expected behavior.

When you run the Inbox Message campaign, the Inbox message is received by the SDK when the user launches the app.

I'd suggest reading up on our [tech](https://developer.clevertap.com/docs/android#section-app-inbox) and [user](htt

[2020-06-16 14:48] darshanclevertap commented on #79
@dduvedi Hope this solves your issue. Closing this now. If you still have concerns regarding this feel free to reopen the issue

[2020-06-16 14:48] #79 closed

[2020-06-16 14:48] #80 closed

[2020-06-16 14:55] smithc42 commented on #81
Hi @darshanclevertap , I've read the docs but I'm pretty sure it doesn't mention this behaviour (unless I missed it?). As a user, I would expect the App Inbox UI to refresh when a message arrives, rather than needing to open the notification to fetch the message. Or for the message to be fetched when `showAppInbox` is called after the message has been sent.

Thanks for clarifying.

[2020-06-16 15:00] darshanclevertap commented on #81
@smithc42 Thank you for this feedback. I'll share this with my team internally and probably include it in future releases.

[2020-06-16 15:00] #81 closed

[2020-06-19 08:40] mwshubham opened #82 "Input dispatching timed out (Waiting because no window has focus but there is a focused application that may eventually add a window when it finishes starting up.)"
Please have a look at ANR which causes a crash as the main thread is blocked.

[code]

![1](https://user-images.githubusercontent.com/29930308/85114284-6b83cf80-b236-11ea-97f7-98ef3dc19363.png)

Thanks & Regards,
Shubham Agarwal
+91 8285453910

[2020-06-19 08:40] mwshubham opened #83 "Input dispatching timed out (Waiting because no window has focus but there is a focused application that may eventually add a window when it finishes starting up.)"
Please have a look at ANR which causes a crash as the main thread is blocked.

[code]

![1](https://user-images.githubusercontent.com/29930308/85114284-6b83cf80-b236-11ea-97f7-98ef3dc19363.png)

Thanks & Regards,
Shubham Agarwal
+91 8285453910

[2020-06-19 08:40] mwshubham opened #84 "Input dispatching timed out (Waiting because no window has focus but there is a focused application that may eventually add a window when it finishes starting up.)"
Please have a look at ANR which causes a crash as the main thread is blocked.

[code]

![1](https://user-images.githubusercontent.com/29930308/85114284-6b83cf80-b236-11ea-97f7-98ef3dc19363.png)

Thanks & Regards,
Shubham Agarwal
+91 8285453910

[2020-06-19 11:16] mwshubham commented on #83
https://github.com/CleverTap/clevertap-android-sdk/issues/82

[2020-06-19 11:16] #83 closed

[2020-06-19 11:16] mwshubham commented on #84
https://github.com/CleverTap/clevertap-android-sdk/issues/82

[2020-06-19 11:16] #84 closed

[2020-06-19 12:24] mwshubham commented on #82
Possibly related: https://stackoverflow.com/questions/47839955/android-8-settings-app-crashes-on-emulator-with-clean-aosp-build

[2020-06-19 17:17] kumaratulismu commented on #82
@mwshubham Can you attach complete stack trace to analyse it further.
waiting to lock <0x0c5b84c6> (a java.lang.Object[]) held by thread 39

Need to see what is going on in thread 39 which is holding the lock<0x0c5b84c6>.

[2020-06-19 17:36] mwshubham commented on #82
Please refer to https://pastebin.com/QPzYmPq7

[2020-06-19 18:53] mwshubham commented on #82
![1](https://user-images.githubusercontent.com/29930308/85170046-6f414180-b28a-11ea-8f52-649fda127abe.png)

It looks like ANR started from the version 406 where we moved the fabric initialization on a different thread to improve the cold start. We will shift this from different threads to the main thread to prevent object locking until we have more details on this.

[2020-06-22 09:58] kumaratulismu commented on #82
@mwshubham This seems to be a problem with android 8.1 update.

We are trying to find out a solution, which may take some time.

In the meantime, we advise you to look into your cold start-up time as we have not encountered this issue in any of our clients so far.

It seems a lot of work is going on in the your Application's Oncreate and SplashActivity Lifecycle methods.

Please share your feedbac

[2020-06-22 13:42] mwshubham commented on #82
@kumaratulismu I agree with you. We can close the issue.

[2020-06-22 15:07] #82 closed

[2020-06-24 13:44] thelocaldev opened #85 "I am sending a test notification. In android device it is not visible in notification tray"

[2020-06-25 06:25] kumaratulismu commented on #85
@utkarshs2099  Can you please tell whether you are getting normal push notification via the dashboard.

Please share the steps for your FCM integration which you have followed.

[2020-06-25 07:15] utkarshs2099 commented on #85
I'm sending push notification through dashboard,
and I followed integration of push notification from here https://developer.clevertap.com/docs/android#section-push-notifications

[2020-06-26 06:33] kumaratulismu commented on #85
@utkarshs2099 Reach out to support@clevertap.com with your AccountId and detailed explanation of the issue.
They will be able to help out in a better way.

Thanks
Atul

[2020-06-29 17:29] #85 closed

[2020-07-15 08:09] ParveenDala commented on #37
Hi @darshanclevertap, Any update on this?
We observed the same issue with CleverTap **3.8.0**
<img width="437" alt="Screenshot 2020-07-15 at 1 39 15 PM" src="https://user-images.githubusercontent.com/31188015/87520442-9aa82800-c6a0-11ea-9b7f-872ebccdac38.png">

[2020-07-15 11:23] darshanclevertap commented on #37
@ParveenDala Can you share the stack trace?

[2020-07-15 12:40] ParveenDala commented on #37
[code]
Happens when call: CleverTapAPI.getDefaultInstance(context)
Please find the attached file for detailed logs:
[CleverTapIssueInit.txt](https://github.com/CleverTap/clevertap-android-sdk/files/4925126/CleverTapIssueInit.txt)

[2020-07-15 12:53] ParveenDala commented on #37
@darshanclevertap
[code]

Happens when call: CleverTapAPI.getDefaultInstance(context)
Please find the attached file for detailed logs:
[CleverTapIssueInit.txt](https://github.com/CleverTap/clevertap-android-sdk/files/4925254/CleverTapIssueInit.txt)

[2020-07-15 13:13] nabil6391 opened #88 "Crash in CTFeatureFlagsController.java line 114"
Morning Guys,

Recently in our firebase crashlytics we came accoss this crash. The clevertap libary we are using is 3.8.0.

`Fatal Exception: java.lang.NullPointerException: Attempt to invoke interface method 'void c0.f.a.a.u2.d.a()' on a null object reference
       at com.clevertap.android.sdk.featureFlags.CTFeatureFlagsController$1.run(CTFeatureFlagsController.java:114)
       at android.os.Han

[2020-07-15 14:07] darshanclevertap commented on #88
Hi @nabil6391

Thank you for bringing this to our notice. Can you let us know if this is reproducible on your end? Or does it only show up on Crashlytics?
Also which Android OS versions and devices are affected and how much percentage?

Thanks!

[2020-07-15 14:14] kumaratulismu commented on #88
@nabil6391 We have fixed this crash in v3.8.1.
Please update to the v3.8.1 and let us know if you still face this issue.

[2020-07-15 14:14] #88 closed

[2020-07-15 14:14] nabil6391 commented on #88
Thanks for the quick response guys.

[2020-07-23 04:14] sagrawal31 opened #89 "Update documentation about the key parts of notification channel for Android 8+"
As discussed over the emails & calls, the following 2 points are **VERY MUCH IMPORTANT TO BE MENTIONED IN THE DOCUMENTATION**-

## 1. The developer must create a Notification Channel for Android 8+

The developers must create the [notification channel](https://developer.android.com/training/notify-user/channels) if they want to receive a push notification on Android 8+, otherwise, the notification

[2020-07-23 07:19] darshanclevertap commented on #89
Hi, @sagrawal31 Thank you for the feedback. We have mentioned the creation of Android Notification Channels in our official documentation [here](https://developer.clevertap.com/docs/android#section-push-notifications-for-android-o) We will add the second point as well.
As you have said this is more important for mobile devs using hybrid frameworks. Hence, closing this here and will keep the [Cordo

[2020-07-23 07:19] #89 closed

[2020-07-23 09:13] sagrawal31 commented on #89
Got it @darshanclevertap thanks.

[2020-07-30 05:27] alanlai1989 opened #92 "Unable to support Android 11"
Fatal Exception: java.lang.SecurityException: getDataNetworkTypeForSubscriber
       at android.os.Parcel.createExceptionOrNull(Parcel.java:2373)
       at android.os.Parcel.createException(Parcel.java:2357)
       at android.os.Parcel.readException(Parcel.java:2340)
       at android.os.Parcel.readException(Parcel.java:2282)
       at com.android.internal.telephony.ITelephony$Stub$Proxy.getNetwor

[2020-08-05 13:23] kumaratulismu commented on #92
@alanlai1989 We have tried with the following config, it's working fine for us. Can you try with these config and let us know?

compileSdkVersion 30
buildToolsVersion '30.0.1'
targetSdkVersion 30

Clevertap sdk version - 3.8.2

Thanks

[2020-08-10 10:02] kumaratulismu commented on #92
@alanlai1989 Are you still facing the issue? Please let us know.

[2020-08-12 07:35] zomanubhav87 commented on #92
It is still crashing

[2020-08-12 11:39] alanlai1989 commented on #92
@kumaratulismu It is still crashing with same error even i disabled
`mCleverTapAPI.enableDeviceNetworkInfoReporting(false);`

[2020-08-12 15:17] alanlai1989 opened #93 "NPE on Android 9"
Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'android.content.Context android.app.Activity.getBaseContext()' on a null object reference
       at com.clevertap.android.sdk.CTInAppBaseFullFragment.isTablet(CTInAppBaseFullFragment.java:20)
       at com.clevertap.android.sdk.CTInAppNativeInterstitialImageFragment$2.onGlobalLayout(CTInAppNativeInterstitialImageFra

[2020-08-13 06:31] alanlai1989 commented on #92
compileSdkVersion 29
buildToolsVersion '30.0.1'
targetSdkVersion 29

Clevertap sdk version - 3.8.2

It will work but this is not the premanent solution, the fix should come from clevertap sdk

[2020-08-13 08:04] kumaratulismu commented on #92
@alanlai1989 Currently we support Android 9 only. We are going to support Android 10 next month.

We don't support Android beta releases. We will look into this once Android 11 is released officially.

Marking this as enhancement.

[2020-08-13 08:14] piyush-kukadiya commented on #93
Thanks @alanlai1989 for reporting this.
Can you also share steps to reproduce this, that will be more helpful for us to debug and fix this.

[2020-08-17 05:24] alanlai1989 commented on #93
@piyush-kukadiya I cannot replicate this but from the log, it is related of checking device is tablet. From the data that collected, it is 100% Android 9 with Huawei such as Mate 10, Mate 20, Nova

[2020-08-17 11:17] piyush-kukadiya commented on #93
Thanks @alanlai1989 Yes it is related to `isTablet` check, from the logs it's clear that `CTInAppBaseFullFragment ` is detached from `Activity` while calling `getBaseContext()` hence giving null.
However to fix this we need to replicate and test.
If you can share more info on this like full crash logs which includes your app's stack trace as well then that will be really helpful or any info like d

[2020-08-17 11:22] abhimaanmadhav commented on #38
@darshanclevertap still thinking of migration ? Being one our client we would strongly recommend you to migrate to androidX. if you have a few clients who are using support then maintain 2 sdk policy androidx,non androidx.

[2020-08-17 13:01] darshanclevertap commented on #38
Hi guys, extremely sorry for the delay but I'm pleased to announce we have actively started working on the migration of our SDK to AndroidX support libraries. You can expect the AndroidX version to be out next month.

[2020-08-19 04:12] wisnukurniawan opened #94 "Fatal Exception: java.lang.ArrayIndexOutOfBoundsException at `CleverTapAPI#showInApp` v3.7.2"
Hi Clevertap team, we still got the same error with this issue https://github.com/CleverTap/clevertap-android-sdk/issues/69 after updating to 3.7.2

[code]
<img width="441" alt="Screen Shot 2020-08-19 at 11 03 27" src="https://user-images.githubusercontent.com/16729158/90590846-bf496f80-e20b-11ea-8ef4-92a9c39bcda0.png">
<img width="440" alt="Screen Shot 2020-08-19 at 11 03 34" src="https://user-im

[2020-08-19 04:23] darshanclevertap commented on #59
@calvarez-ov Again, sorry for the late reply, I had this noted. This problem is because we currently do not support the latest FCM version because of AndroidX. All that will change once we move to AndroidX by next month, we will fix this in that release as well. Thank you for your patience with us.

[2020-08-19 06:27] piyush-kukadiya commented on #94
Thanks @wisnukurniawan for the detailed info. We will look into this and notify you once this fix is released.

[2020-08-21 03:21] alanlai1989 commented on #93
@piyush-kukadiya I can't, I cannot replicate it. The crash was from firebase crashlytic. I can share the full stacktrace from firebase

[2020-08-22 21:50] prateekgupta22195 opened #95 "Crash : CTInboxActivity"
Caused by java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String com.clevertap.android.sdk.CTInboxStyleConfig.getNavBarTitle()' on a null object reference
       at com.clevertap.android.sdk.CTInboxActivity.onCreate(CTInboxActivity.java:82)
       at android.app.Activity.performCreate(Activity.java:6280)
       at android.app.Instrumentation.callActivityOnCreate(Instrum

[2020-08-23 08:34] prateekgupta22195 opened #96 "Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo"
Caused by java.lang.NullPointerException: Attempt to invoke virtual method 'boolean com.clevertap.android.sdk.CTInAppNotification.isPortrait()' on a null object reference
       at com.clevertap.android.sdk.InAppNotificationActivity.onCreate(InAppNotificationActivity.java:222)
       at android.app.Activity.performCreate(Activity.java:6280)
       at android.app.Instrumentation.callActivityOnCreat

[2020-08-24 08:22] vamshirupeek commented on #37
@darshanclevertap

Facing similar issue but couldn't find the root cause for this issue.

[code]

[2020-08-24 08:32] vamshirupeek commented on #37
Facing another such issue.

<img width="439" alt="Screenshot 2020-08-24 at 2 01 40 PM" src="https://user-images.githubusercontent.com/45193823/91022183-6c5c2780-e612-11ea-82aa-9eb04db77e76.png">

[code]

[2020-08-24 08:41] piyush-kukadiya commented on #95
Thanks @prateekgupta22195  for reporting. We will look into this and notify you once this fix is released. Meanwhile can you please share the steps to reproduce?

[2020-08-24 08:43] piyush-kukadiya commented on #96
Thanks @prateekgupta22195  for reporting. We will look into this and notify you once this fix is released. Meanwhile can you please share the steps to reproduce and full stack trace which includes your app as well?

[2020-08-24 11:57] kumaratulismu commented on #92
@alanlai1989 We will add a fix for this in our next planned release. Will keep you posted.

[2020-08-24 14:31] darshanclevertap commented on #37
@ParveenDala Our next version of the Android SDK will fix this issue.

@vamshirupeek You've posted the stack trace of our Segment SDK, once we release the next Android SDK with the fix, we will update the Segment SDK as well.

This issue will be open till then. We will post here once the release is done.
Thank you for your patience! 🙇

[2020-08-29 16:28] kumaratulismu commented on #96
@prateekgupta22195 We have fixed this issue. Will let you once we roll our next version.

[2020-08-30 07:25] singh496 commented on #37
can this issue also cause an ANR? We're facing anr's on our dashboard and it looks like one the threads running has similar output as to [this](https://github.com/CleverTap/clevertap-android-sdk/issues/37#issuecomment-678983508)

[2020-08-30 17:17] darshanclevertap commented on #37
@singh496 We've already added a fix for this which will be released tomorrow, you ideally shouldn't be getting ANRs, can you create a new issue with the ANR stack trace?

[2020-09-01 10:34] darshanclevertap commented on #96
This has been fixed in v3.9.0.
Please check and feel free to re-open the issue if you face any problem.

[2020-09-01 10:34] #96 closed

[2020-09-01 10:36] darshanclevertap commented on #37
@vamshirupeek @kunalbhise We've fixed this in v3.9.0. We will update our Segment SDK as well and give you an update.

[2020-09-01 11:51] danilopena opened #98 "NullPointerException on CleverTapPlugin - Probably in notification flow"
Our firebase Crashlytics is registering this crash. We upgraded CleverTap, but the error persists.

Somebody can help?

Our version:

In flutter: clevertap_plugin: 1.1.4
Android: implementation 'com.clevertap.android:clevertap-android-sdk:3.8.2'

Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'void android.app.Activity.runOnUiThread(java.lang.Runnable)' on a null

[2020-09-01 13:53] darshanclevertap commented on #98
@danilopena Were you able to reproduce this issue? Or it is only being reported by Firebase Crashlytics? Also, can you share the devices and % of the user base affected?

[2020-09-01 14:05] danilopena commented on #98
@darshanclevertap only being reported by Firebase. I bring some prints to help with datas.

This data is from the last 3 days.

<img width="969" alt="Captura de Tela 2020-09-01 às 11 01 33" src="https://user-images.githubusercontent.com/6910678/91861003-b365a080-ec42-11ea-9224-0469ef3c905a.png">

<img width="484" alt="Captura de Tela 2020-09-01 às 11 01 53" src="https://user-images.githubusercon

[2020-09-02 04:24] darshanclevertap commented on #98
@danilopena Thank you for sharing the details. This crash is happening because of the CleverTap Flutter SDK and not because of the CleverTap Android SDK. We will fix this in the next version of the CleverTap Flutter SDK. Just for proper logistics can you reopen this on our [clevertap-flutter issues](https://github.com/CleverTap/clevertap-flutter/issues/new) page?
I am closing this here so that we

[2020-09-02 04:24] #98 closed

[2020-09-08 03:45] singh496 opened #99 "ANR's in Dashboard"
Device, build and operating system infos are same as [this](https://github.com/CleverTap/clevertap-android-sdk/issues/37)
Stacktrace
com.clevertap.android.sdk.ab_testing.CTABTestController" prio=10 tid=28 Native
  | group="main" sCount=1 dsCount=0 obj=0x12c86cf0 self=0xf4b76800
  | sysTid=11154 nice=0 cgrp=default sched=0/0 handle=0xf4a56800
  | state=S schedstat=( 0 0 0 ) utm=0 stm=0 core=2 HZ=10

[2020-09-08 06:08] darshanclevertap commented on #99
@singh496 We shipped a fix for this in our last release. Can you upgrade to v3.9.0 and let us know if the problem persists? I'll keep this thread open for you till then

[2020-09-08 06:12] darshanclevertap commented on #37
@kunalbhise @ParveenDala We've released the CleverTap Segment SDK v1.1.9 with this fix. Please upgrade to the latest SDK. Thanks!

[2020-09-08 06:36] darshanclevertap commented on #95
@prateekgupta22195 Can you help us with some more details here? Were you able to reproduce the issue? If yes, then please share the steps with us, if no, then please share with us what % of users or devices were affected by this crash from the Crashlytics dashboard. This will help us get to the bottom of this. Also please share with us which is the current version of the CleverTap SDK you are usin

[2020-09-10 05:34] AmitSrivastava89 commented on #99
@darshanclevertap 3.9.0 hasn't been officially released and isn't the latest stable version. Is it safe to use a non-stable version for an app which has millions of daily active users on Android?

[2020-09-10 05:43] darshanclevertap commented on #99
@AmitSrivastava89 v3.9.0 has been officially released and is stable. It is on our [CHANGELOG](https://github.com/CleverTap/clevertap-android-sdk/blob/master/CHANGELOG.md) and [Releases](https://github.com/CleverTap/clevertap-android-sdk/releases) page as well. I do not know from where did you get the idea its not stable

[2020-09-10 05:44] singh496 commented on #99
We were referring to [this](https://developer.clevertap.com/docs/changelog)

[2020-09-10 05:56] darshanclevertap commented on #99
@singh496 My bad, I'll get the documentation team to update that ASAP.

[2020-09-10 07:25] Pro-55 commented on #92
Android 11 is rolling out, when can we expect some fix for this?

[2020-09-10 09:34] darshanclevertap commented on #99
@singh496 @AmitSrivastava89 We've updated our website documentation as well. Thanks for pointing it out 👍

[2020-09-15 07:03] darshanclevertap commented on #95
@prateekgupta22195 Can you please help us with the details? Or else I'm sorry but we will have to close the issue due to lack of information.

[2020-09-15 07:17] darshanclevertap commented on #93
@alanlai1989 Can you please share the details from firebase crashlytics?

[2020-09-15 16:44] darshanclevertap commented on #92
@alanlai1989 @Pro-55 Are you asking for `READ_PHONE_STATE ` permission in your app?

[2020-09-16 10:57] darshanclevertap commented on #99
@singh496 Are you still seeing these ANRs?

[2020-09-17 06:51] darshanclevertap commented on #92
@alanlai1989 We've fixed this in CleverTap Android SDK v3.9.1

[2020-09-17 06:51] #92 closed

[2020-09-18 07:23] vamshirupeek commented on #37
@darshanclevertap We have updated to the latest versions of both CleverTap SDK and Segment SDK but still we are facing the background crashes can we know what is the reason why is it still happening?

[2020-09-18 07:46] kumaratulismu commented on #37
@vamshirupeek Can you share the exact version details of CleverTap Android & Segment SDK's. There are multiple logs in this thread. Can you help us with the exact stack trace?

[2020-09-18 07:51] vamshirupeek commented on #37
@kumaratulismu

Here are details

CleverTap Android SDK - 3.9.0
Segment SDK - 1.1.9

Check the stacktrace below

`Caused by java.util.concurrent.RejectedExecutionException: Task java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask@18bd69f6 rejected from java.util.concurrent.ScheduledThreadPoolExecutor@293341f7[Terminated, pool size = 0, active threads = 0, queued tasks = 0, complet

[2020-09-18 07:57] kumaratulismu commented on #37
@vamshirupeek I can't find the Clevertap classes in the stack trace. Can you please check again?

[2020-09-22 07:26] vamshirupeek commented on #37
@kumaratulismu Please check the attached image which show the threads which are effected and the number of crashes in the last 90 days.

![screencapture-console-firebase-google-project-insight-38a5e-crashlytics-app-android-com-rupeek-customer-issues-f95f9b26ce36516e5d84540066d23633-2020-09-22-12_50_48](https://user-images.githubusercontent.com/45193823/93854210-edbade80-fcd2-11ea-951c-ab07ab4bf091

[2020-09-23 09:19] piyush-kukadiya commented on #37
@vamshirupeek stack-trace in your image shows that it's crashing because of work manager issue [here](https://github.com/googlecodelabs/android-workmanager/issues/130) and [here](https://issuetracker.google.com/issues/129226383). CleverTap threads are affected during that crash thats why its in stack-trace. Nothing to do with CleverTap crash, CleverTap is not using WorkManager in SDK.

[2020-09-25 05:49] abhisheshsri opened #103 "Sound notification not working on android 8 and above."
I have added sound file in raw resources folder and followed all the steps mentioned in integration doc.I am able to see the notification but sound tune is not played above android version 8.
sdk version : 'com.clevertap.android:clevertap-android-sdk:3.8.1',

[2020-09-25 10:20] darshanclevertap commented on #103
hi @abhisheshsri For Android 8 and above, you need to create the notification channel with your mentioned sound file. CleverTap SDK has provided a simple method for it. Please check the Step 4 in our documentation for [Creating Notification channels.](https://developer.clevertap.com/docs/android#section-push-notifications-for-android-o)
Also since you're here, I'd suggest you update to the latest

[2020-09-25 10:30] #99 closed

[2020-09-25 10:30] #95 closed

[2020-09-25 10:40] abhisheshsri commented on #103
@darshanclevertap Tried with steps mentioned in step 4. Still not getting notification sound above android 8.
You can easily reproduce the same in sample app by adding sound resource file in raw folder.

[2020-09-25 12:40] darshanclevertap commented on #103
@abhisheshsri I think our support team has reached out to you and solved the issue for you. Closing this now.

[2020-09-25 12:40] #103 closed

[2020-09-29 09:05] mwshubham opened #106 "Possible ANR onInstallReferrerSetupFinished (Called on Main Thread)"
[code]

Dependency: api 'com.clevertap.android:clevertap-android-sdk:3.8.2'

[2020-09-29 10:03] piyush-kukadiya commented on #106
@mwshubham Does `anrwatchdog` reported stack trace for single thread only? which you posted above or there are multiple stack trace? If there are multiple then please post whole stack trace to get details of each thread.

[2020-09-30 05:22] mwshubham commented on #106
I am not sure Firebase Crashlytics support logging multiple stack trace using [recordException](https://firebase.google.com/docs/reference/android/com/google/firebase/crashlytics/FirebaseCrashlytics#public-void-recordexception-throwable-throwable)

On investigating, we found out we are using [@AddTrace](https://firebase.google.com/docs/reference/android/com/google/firebase/perf/metrics/AddTrace) o

[2020-09-30 05:37] piyush-kukadiya commented on #106
@mwshubham
[code]
 `onInstallReferrerSetupFinished` gets called on main thread and we are not doing any heavy operations in this callback, also `getInstallReferrer()` is a light weight synchronous call and safe to call on main thread. We are using [google docs](https://developer.android.com/reference/com/android/installreferrer/api/InstallReferrerClient#getinstallreferrer) as it is for google ad i

[2020-09-30 05:37] #106 closed

[2020-10-01 07:01] #93 closed

[2020-10-01 11:01] darshanclevertap commented on #94
@wisnukurniawan We have fixed this in the CleverTap Android SDK v4.0.0. This is a major release so please check out the [changes here](https://github.com/CleverTap/clevertap-android-sdk/blob/master/docs/CTV4CHANGES.md) which we have made before updating.

[2020-10-01 11:02] darshanclevertap commented on #59
@calvarez-ov Sorry for the extreme delay but we have fixed this in the CleverTap Android SDK v4.0.0. This is a major release as we have started supporting AndroidX and the latest FCM dependency so please check out the [changes here](https://github.com/CleverTap/clevertap-android-sdk/blob/master/docs/CTV4CHANGES.md) which we have made before updating.

[2020-10-01 11:03] darshanclevertap commented on #38
Hi guys,

We have brought AndroidX and Android 10 support in the CleverTap Android SDK v4.0.0. This is a major release so please check out the [changes here](https://github.com/CleverTap/clevertap-android-sdk/blob/master/docs/CTV4CHANGES.md) which we have made before updating.

[2020-10-01 11:04] darshanclevertap commented on #30
@shivam-mygate We have fixed this in the CleverTap Android SDK v4.0.0. This is a major release so please check out the [changes here](https://github.com/CleverTap/clevertap-android-sdk/blob/master/docs/CTV4CHANGES.md) which we have made before updating.

[2020-10-01 11:04] #30 closed

[2020-10-01 11:04] wisnukurniawan commented on #94
Ack will check that. thank you!

[2020-10-01 11:04] #59 closed

[2020-10-01 11:04] #37 closed

[2020-10-01 11:05] #94 closed

[2020-10-01 11:05] #38 closed

[2020-10-14 05:48] mochadwi commented on #38
Thanks a lot for this @darshanclevertap

[2020-10-15 07:59] Aryan210 opened #113 "Duplicate Profiles creation"
While using Clevertap's pushProfile function, it is creating multiple profiles if I change details associated with it. Is there a way that we can update the existing profiles with new values instead of creating a new profile?

[2020-10-15 08:25] darshanclevertap commented on #113
@Aryan210 Can you show us the code you're using to update the profile?

[2020-10-15 08:27] Aryan210 commented on #113
mCleverTap = CleverTapAPI.getDefaultInstance(context);
			CleverTapAPI.setDebugLevel(CleverTapAPI.LogLevel.DEBUG);
			HashMap<String, Object> data = new HashMap<>();

			data.put("deviceIdImei", mDeviceId);
			Log.i(TAG, "clever tap check : Identity = " + data.get("Identity"));
			data.put(MixPanelColumns.FLOW_VERSION, flowVersion);
			if(isEmptyOrNull(userId)){
				mCleverTap.profile.push(data);

[2020-10-15 08:29] darshanclevertap commented on #113
@Aryan210 Sorry, can you also tell us which version of the CleverTap SDK are you using currently?

[2020-10-15 08:36] Aryan210 commented on #113
com.clevertap.android:clevertap-android-sdk:3.5.1

[2020-10-15 10:50] darshanclevertap commented on #113
@Aryan210 v3.5.1 is a very old SDK version. We've fixed a bunch of bugs and issues since then. I'd suggest you move to CleverTap Android SDK v4.0.0 soon or as per [this Google Policy](https://developer.android.com/distribute/best-practices/develop/target-sdk) you won't be able to push updates to your app starting November 2nd. And since you'll be moving from a very old SDK version, I'd suggest tha

[2020-10-15 11:10] Aryan210 commented on #113
Anyways that is something the team is working on. My doubt is still the same that if we change certain params, then Clevertap will create new profile on calling the push function? If yes how can we only update the profile and not create another instance of the profile.

[2020-10-15 11:58] darshanclevertap commented on #113
@Aryan210 No, `profile.push`(now deprecated) and `pushProfile` (new) method do not create a new profile. Can you check if you're unknowingly calling `onUserLogin` with a new identity or email before calling `profile.push`

[2020-10-15 12:38] darshanclevertap commented on #113
@Aryan210 `onUserLogin` method **does** create new profiles if you pass a new identity/email to it. `pushProfile` **does not**. Please go through our documentation on handling [a single user here](https://developer.clevertap.com/docs/android#section-user-profiles) and [multiple users here](https://developer.clevertap.com/docs/concepts-user-profiles#section-maintaining-multiple-user-profiles-on-the

[2020-10-16 05:36] Aryan210 commented on #113
@darshanclevertap Can you clarify these two scenarios. In both the cases the identity we are passing are same for onUserLogin
1. No email was previously there, this time we including email in the data. Will it create new profile?
2. Previously there was a different email, now I updated the email with the same identity. Will it create new profile?

[2020-10-16 09:53] piyush-kukadiya commented on #113
@Aryan210  If you pass same identity then it won't create new profile in both cases.

[2020-10-16 10:21] Aryan210 commented on #113
@piyush-kukadiya On the documentation it says -

"If instead you wish to assign multiple Identity, Email, or FBID values to the same user profile, push that profile information on the current user profile (via profile.push/profilePush) rather than onUserLogin."

So I suppose if email id and Identity are being passed, same id but different email, then it would create a different profile on Cleverta

[2020-10-16 13:15] piyush-kukadiya commented on #113
@Aryan210 We have to consider 4 identifier here `Identity`, `email`, `FBID` and `GPID`.

With `profilePush()` All of them gets merged into single Profile.
With `onUserLogin()` out of 4, if you pass any identifier which is same as the one that you pass earlier, then that will get merged with profile.
For example,

1. On first App launch you wont pass anything, so anonymous profile gets created, let

[2020-10-20 12:09] darshanclevertap commented on #113
@Aryan210 Does this help in solving your issue?

[2020-10-20 12:47] Gaurav328 opened #114 "Fatal Exception: java.lang.RuntimeException: Unable to instantiate receiver com.clevertap.android.sdk.InstallReferrerBroadcastReceiver"
Fatal Exception: java.lang.RuntimeException: Unable to instantiate receiver com.clevertap.android.sdk.InstallReferrerBroadcastReceiver: java.lang.ClassNotFoundException: Didn't find class "com.clevertap.android.sdk.InstallReferrerBroadcastReceiver" on path: DexPathList[[zip file "/data/app/com.viewlift.hoichoi-ZtNEBCIGIBof82p5zwZZtw==/base.apk", zip file "/data/app/com.viewlift.hoichoi-ZtNEBCIGIBo

[2020-10-20 12:51] Gaurav328 commented on #114
this is firebase crash log

[2020-10-20 13:00] piyush-kukadiya commented on #114
@Gaurav328 Please check your **merged** manifest file. If you find `InstallReferrerBroadcastReceiver` in it then next step is to check from where is it getting merged.

1. If it's coming from your manifest then remove it.
2. Check what all cleverTap SDKs you are using, one of the old version of SDK might be using it, in that case update sdk version.

[2020-10-20 13:40] Gaurav328 commented on #114
<receiver
            android:name="com.clevertap.android.sdk.InstallReferrerBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

[2020-10-20 13:40] Gaurav328 commented on #114
<receiver
            android:name="com.clevertap.android.sdk.InstallReferrerBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

[2020-10-20 13:42] Gaurav328 commented on #114
<receiver
android:name="com.clevertap.android.sdk.InstallReferrerBroadcastReceiver"
android:exported="true">
<intent-filter>
<action android:name="com.android.vending.INSTALL_REFERRER"/>
</intentfilter>
</receiver>

[2020-10-20 13:44] Gaurav328 commented on #114
we are using InstallReferrerBroadcastReceiver

[2020-10-21 09:37] sagrawal31 commented on #45
@darshanclevertap how can we use the recorded screen name in the CleverTap dashboard? I couldn't seem to find anything solid in the docs neither in the dashboard.

[2020-10-22 11:53] nabil6391 opened #115 "CTBackgroundJobService: java.lang.ClassNotFoundException in 4.0.0"
@darshanclevertap can you please have a look ? Its crashing like crazy in my app after updating to 4.0.0

`Fatal Exception: java.lang.RuntimeException: Unable to instantiate service com.clevertap.android.sdk.CTBackgroundJobService: java.lang.ClassNotFoundException: Didn't find class "com.clevertap.android.sdk.CTBackgroundJobService" on path: DexPathList[[zip file "/data/app/com.photobook.android-N

[2020-10-22 13:26] piyush-kukadiya commented on #115
@nabil6391 Did you check this https://github.com/CleverTap/clevertap-android-sdk/blob/master/docs/CTV4CHANGES.md#-push-amplification-changes

[2020-10-23 08:45] nabil6391 commented on #115
You should have placed the changes in the Changelog.md as well:
https://github.com/CleverTap/clevertap-android-sdk/blob/master/CHANGELOG.md

Or in the releases tab
https://github.com/CleverTap/clevertap-android-sdk/releases

Anyways thanks for the prompt response. I am closing this now.

[2020-10-23 08:45] #115 closed

[2020-10-26 10:18] darshanclevertap commented on #114
@Gaurav328 Using the `InstallReferrerBroadcastReceiver` was deprecated in January 2020 release. Could you please remove it from the manifest? That will stop showing up the crash on your Crashlytics

[2020-10-26 10:18] #113 closed

[2020-10-28 18:05] bikranttripathi opened #116 "CTInAppNativeHalfInterstitialFragment: Resources$NotFoundException: Resource ID #0x7f0c0208"
Hi CleverTap team, We are having issues with CleverTap InApp Notification and is preventing us from using the platform.

SDK version: v3.9.1

Crashing devices:
moto g(7): Android 10
meizu X8: Android 8.1.0
moto g power: Android 10
moto g stylus: Android 10
TCL 9029W: Android 9
TCL Alcatel 3X: Android 9
HUWEI MediaPad T3: Android 7

[code]

We've had the same issue with an older version of the SDK

[2020-10-29 10:41] piyush-kukadiya commented on #116
@bikranttripathi `moto g(7)`, `moto g power`, `moto g stylus`, `TCL Alcatel 3X`, `meizu X8` all of them have diagonal below `7 inch`. Also we have added [`diagonal>=7` condition in 3.9.0](https://github.com/CleverTap/clevertap-android-sdk/commit/9fb4eebdca0f984f8ed814ade57bf335c49d3ced#diff-9fb0a53663385d4e1a7e4205c80e1e75585c5f34db570a2c2460076c84773d80R30). You are getting Resources$NotFoundExce

[2020-10-29 13:49] nagraj-ec opened #117 "Crash on App launch"
Reported only with CT SDK Version 4.0.0

[code]

[2020-10-29 14:03] piyush-kukadiya commented on #117
@nagraj-ec duplicate of #115

[2020-10-29 17:06] bikranttripathi commented on #116
@piyush-kukadiya unfortunately, I don't have those devices. We are seeing these crashes for our users on Crashlytics and I haven't been able to reproduce this.

[2020-10-29 17:23] bikranttripathi commented on #116
@piyush-kukadiya We have been using smallestWidthDp on our project to identify if a running device is a tablet or not, instead of doing a manual calculation. Maybe that might be one fix for this crash?

We added `isTablet` -> `false` in `values` folder and `isTablet` -> `true` in `values-sw600dp` and up.

There is also a programmatic way of doing this:
https://github.com/react-native-device-info/r

[2020-10-30 08:02] #117 closed

[2020-10-30 10:09] piyush-kukadiya commented on #116
@bikranttripathi  We use multiple conditions to pick layout file not just `isTablet()`. I know android can pick automatically from resource buckets, but that approach is not feasible for us due to compound condition.

Are you using [supports-screens](https://developer.android.com/guide/topics/manifest/supports-screens-element) in your manifest? If yes please post it here.

[2020-10-30 14:53] bikranttripathi commented on #116
Hi @piyush-kukadiya We are not using supports-screens in our app.

Also, I just got some data that you asked for. From this, it looks like the calculation is incorrectly flagging these devices as tablet.

<table>
  <tr>
    <td>device</td>
    <td>widthPixels</td>
    <td>heightPixels</td>
    <td>xdpi</td>
    <td>ydpi</td>
    <td>xInches</td>
    <td>yInches</td>
    <td>diagonalInches</td>
  <

[2020-10-30 16:29] piyush-kukadiya commented on #116
@bikranttripathi Awesome job, this really helps.
We might have to modify logic for picking layout more accurately. We will try to fix this in next 1 or 2 release.
Will notify you once we fix it. Thanks for reporting.

[2020-11-04 18:05] #114 closed

[2020-11-05 10:19] mwshubham commented on #10
Agree with @darshanclevertap This is not related to CleverTap. I have got this issue recently. I am currently investigating it. @radityagumay Do you have anything to share on this?

![1](https://user-images.githubusercontent.com/29930308/98228350-7c7f7400-1f7e-11eb-93f8-82ad6a5ccc5c.png)

[2020-11-09 12:37] danilopena opened #118 "Fatal Exception: java.lang.NoSuchMethodError"
Hey guys our firebase started register this crash.

Some data to help on analysis.

No virtual method setDefaultArtwork(Landroid/graphics/drawable/Drawable;)V in class Lcom/google/android/exoplayer2/ui/PlayerView; or its super classes (declaration of 'com.google.android.exoplayer2.ui.PlayerView' appears in base.apk)

<img width="722" alt="Captura de Tela 2020-11-09 às 09 34 34" src="https://user-

[2020-11-09 15:01] piyush-kukadiya commented on #118
@danilopena Seems like a mismatch between compile time and runtime code for exoplayer. Please check if there is any mismatch in Exoplayer version. Also if possible try to invalidate cache and rebuild.

[2020-11-10 06:59] onesand opened #119 "Inbox the item onclick"
Is there a callback for clicking on the inbox list? I know the link callback,but this not what i want.

[2020-11-10 09:27] piyush-kukadiya commented on #119
@onesand Can you clarify in detail that what you want and what not.

[2020-11-10 09:31] onesand commented on #119
When I click on an item in the inbox list, I want to receive a click callback. Is this possible?

[2020-11-10 09:32] onesand commented on #119
I see ios has messageDidSelect

[2020-11-10 09:55] piyush-kukadiya commented on #119
On Android we only have callbacks for inbox buttons and not for the inbox item. We will take it up internally but we cannot promise any timelines

[2020-11-10 09:57] onesand commented on #119
Okay,Thank you!

[2020-11-10 09:57] #119 closed

[2020-11-19 17:56] pratyesh opened #120 "java.lang.ClassNotFoundException: Didn't find class "com.clevertap.android.sdk.CTBackgroundIntentService""
Currently using sdk "**com.clevertap.android:clevertap-android-sdk:4.0.0**" .

**//our project sdk setup :-**
compileSdkVersion = 30
minSdkVersion = 19
targetSdkVersion = 30

**java.lang.RuntimeException: Unable to instantiate service com.clevertap.android.sdk.CTBackgroundIntentService:** **java.lang.ClassNotFoundException: Didn't find class "com.clevertap.android.sdk.CTBackgroundIntentService"**

[2020-11-20 05:01] darshanclevertap commented on #120
@pratyesh Did you check this https://github.com/CleverTap/clevertap-android-sdk/blob/master/docs/CTV4CHANGES.md#-push-amplification-changes ?

[2020-11-23 12:55] sayagodshala opened #121 "Caused by java.lang.ClassNotFoundException: Didn't find class "com.clevertap.android.sdk.CTBackgroundJobService"
Caused by java.lang.ClassNotFoundException: Didn't find class "com.clevertap.android.sdk.CTBackgroundJobService" on path: DexPathList[[zip file "/data/app/com.vlv.aravali-S6cGxDiLOmMsfwabh4zD4Q==/base.apk", zip file "/data/app/com.vlv.aravali-S6cGxDiLOmMsfwabh4zD4Q==/split_config.arm64_v8a.apk"],nativeLibraryDirectories=[/data/app/com.vlv.aravali-S6cGxDiLOmMsfwabh4zD4Q==/lib/arm64, /data/app/com.v

[2020-11-23 12:59] piyush-kukadiya commented on #121
Duplicate of #115

[2020-11-23 13:00] piyush-kukadiya commented on #120
Duplicate of #115

[2020-11-23 13:01] #120 closed

[2020-11-23 13:01] #121 closed

[2020-11-25 16:57] LonelyCpp opened #122 "Xioami push service causing crahes"
We recently integrated xiaomi's push notifications through clevertap with

`com.clevertap.android:clevertap-xiaomi-sdk:1.0.0`

We started noticing random crashes from this pushservice -

[code]

[2020-11-26 06:00] darshanclevertap commented on #122
@LonelyCpp The extra details help a lot. Can you share the entire stack trace from the crash as well?

[2020-11-26 06:09] LonelyCpp commented on #122
sure
[code]

here's a video of the behaviour - https://kapwi.ng/c/az0CZkA5

[2020-11-26 06:40] piyush-kukadiya commented on #122
@LonelyCpp Can you help with reproducing this, I have added `com.clevertap.android:clevertap-xiaomi-sdk:1.0.0` in Starter app but App is launching successfully without a crash.

Transferring the issue to clevertap-react-native repo.

[2020-12-01 17:11] SuhasTS opened #127 "Bug: Product config function fetchAndActivate is not working as expected."
Function `fetchAndActivate()` in class `CTProductConfigController` is fetching the new values but failing to activate the same in some scenarios.
[code]
Logs on running the above function

[code]

[2020-12-03 07:02] kumaratulismu commented on #127
@SuhasTS Thanks for the time & effort to raise a fix for this.

Before going ahead with the PR, Can you please explain the scenario in which it's failing & the solution you have proposed will work to handle the scenario?

[2020-12-03 12:29] SuhasTS commented on #127
The sample function that I have shared is the scenario where it fails.
Basically when you call `fetchAndActivate` and previously called `activate` function is completed after that(`activate` function is asynchronous) the variable `isFetchAndActivating` is reset to `false` as a result, it only fetches the new values but never activates them.
The PR which I have raised resolves this issue.

[2020-12-03 12:37] kumaratulismu commented on #127
@SuhasTS As per my understanding , you are calling activate() & fetchAndActivate() method one after another in a sequence. So the isFetchAndActivating = true is getting overridden.

Please confirm.

[2020-12-03 12:39] SuhasTS commented on #127
Yes.

[2020-12-06 17:04] kumaratulismu commented on #127
@SuhasTS Thanks for confirming.

We will including the fix in our next planned release.
Will keep you informed.

[2020-12-08 07:23] chirag-raval opened #131 "Clever Tap Notification not displayed in the Genymotion emulator as well as Android Device"
I have implemented the Clever Tap Custom push notification in Android. I got the message when I debug the code but it doesn't display in the notification tray.

Can you please let me know what is the issue in notification display?

[2020-12-10 06:15] kumaratulismu commented on #131
Hi Chirag,

Can you verify if you are calling `CleverTapAPI.createNotification(getApplicationContext(), extras);`

Can you just verify your implementation with our [documentation](https://developer.clevertap.com/docs/android#section-custom-android-push-notifications-handling).

Please let us know your inputs.

[2020-12-10 06:16] kumaratulismu commented on #118
@danilopena Any updates on this?

[2020-12-10 06:35] chirag-raval commented on #131
Hi, I have implemented the same and also check the entire document twice to make sure I didn't miss anything.

Though I didn't get the notification. I got the notification that makes sure by debugging the code but it doesn't display in the Notification try of the device as well as the emulator.

Note: I have used the custom notification and also used below line.

Can you verify if you are calling

[2020-12-11 17:32] SuhasTS opened #132 "Crash : ConcurrentModificationException"
We are using clevertap product config in our project. There were many crashes reported related to  `CTProductConfigController.java` class.

**Stack trace** -
[code]

[2020-12-14 07:13] kumaratulismu commented on #132
Hi @SuhasTS Thanks for reporting this.

Are you calling Product Config fetch/activate from background thread?

Can you please confirm ?

[2020-12-14 14:01] SuhasTS commented on #132
We are calling `fetch` on callback of `onInit()`  and `activate` on callback of `onFetched()`. Need to check on what threads these callbacks are fired.

[2020-12-14 14:29] kumaratulismu commented on #131
hi @chirag-raval ,

I have tried the same with a sample app. it's working for us.

Can you please refer the [sample](https://github.com/kumaratulismu/CTCustomNotification) once & retry.

PFA: <img width="317" alt="Screenshot 2020-12-14 at 7 46 02 PM" src="https://user-images.githubusercontent.com/3396798/102093180-dc531f80-3e46-11eb-8027-64b5c1f48893.png">

[2020-12-15 11:53] arora-vishal opened #134 "NullPointerException on inboxlistener reference in ClevertapAPI class"
[code]
`_notifyInboxMessagesDidUpdate` is invoked on a worker thread and hence creates a race condition inside this method for inboxListener reference. Client can clear reference of inboxListener by `setCTNotificationInboxListener(null)` before the  `CleverTapAPI.this.inboxListener.inboxMessagesDidUpdate();` gets invoked on UI thread resulting in NPE on `CleverTapAPI.this.inboxListener` reference.

[2020-12-16 10:40] darshanclevertap commented on #118
Closing due to inactivity

[2020-12-16 10:40] #118 closed

[2020-12-22 12:33] kumaratulismu commented on #131
@chirag-raval any updates on this?

[2020-12-23 11:02] kumaratulismu commented on #131
Closing due to inactivity

[2020-12-23 11:02] #131 closed

[2020-12-29 09:55] arunabimanyu7 opened #139 "[Android] SecurityException - Compiling under/targeting SDK 30 causes crash on startup"
I've been able to reliably reproduce this startup crash on Android when targeting SDK 30 (targeting 29 shows no such issue).

[code]

getNetworkType is deprecated in Android 11.

getDataNetworkType should be used instead.

[2020-12-29 09:58] kumaratulismu commented on #139
Hi @arunabimanyu7,

Can you please check the SDK version which you are using. We have fixed this in v4.0.0.

Please check and confirm on this.

[2020-12-29 09:59] arunabimanyu7 commented on #139
@kumaratulismu Looks like documentation is not up to date

[2020-12-29 10:18] darshanclevertap commented on #139
@arunabimanyu7 Please find the documentation on [Github here](https://github.com/CleverTap/clevertap-android-sdk/blob/master/docs/CTV4CHANGES.md) and the [CleverTap documentation here](https://developer.clevertap.com/docs/android-quickstart-guide)

[2020-12-29 10:18] darshanclevertap commented on #134
@arora-vishal This has been fixed in v4.0.1

[2020-12-29 10:18] #134 closed

[2020-12-29 10:19] #139 closed

[2021-01-04 06:03] darshanclevertap commented on #116
This has been fixed in v4.0.1 but please move to v4.0.2 as it is the latest stable release.

[2021-01-04 06:03] #116 closed

[2021-01-04 14:19] sayagodshala opened #142 "Unable to render notification"
Unable to render notification, channelId: Announcements and Updates not registered by the app.

Dependency 'com.clevertap.android:clevertap-android-sdk:4.0.0'

[2021-01-04 14:25] darshanclevertap commented on #142
@sayagodshala Have you create a notification channel with the same name? As per the logs, SDK is unable to find the notification channel ID and hence cannot render the push notification

[2021-01-04 14:51] sayagodshala commented on #142
Earlier it was working good, after updating the library from 3.7.2 to 4.0.0 somewhere something Is breaking. Like our custom instance of FirebaseMessagingService is not even getting triggered when notification is sent from CT dashboard but yes i can see logs.

Example :
CleverTap:***-K5K-****: Handling notification: Bundle[{delivery_medium=CT, wzrk_acct_id=466-K5K-485Z, description=सद्गुरु से जाने

[2021-01-05 04:18] darshanclevertap commented on #142
@sayagodshala CT SDK v4.0.0 was a major release. Please check if you have gone through all the changes [mentioned here](https://github.com/CleverTap/clevertap-android-sdk/blob/master/docs/CTV4CHANGES.md)
Also if you could share some more logs, like what happens before and after you see the notification logs on the console, that would help.
Thanks!

[2021-01-06 05:56] sayagodshala commented on #142
@darshanclevertap i think problem is with multiple instances of FirebaseMessagingService as there's two instances, one is our's and another is your's(**com.clevertap.android.sdk.pushnotification.fcm.FcmMessageListenerService**) and both services were listed in **androidmanifest.xml**  so I commented yours service and it worked as expected.

[2021-01-06 06:19] darshanclevertap commented on #142
@sayagodshala Great! Closing this issue now 👍🏾

[2021-01-06 06:19] #142 closed

[2021-01-13 13:32] Pragramer commented on #15
i tried but useless..
classpath 'com.android.tools:r8:2.1.75'
classpath 'com.android.tools.build:gradle:3.6.3'

[2021-01-13 14:38] darshanclevertap commented on #15
Please upgrade your AGP and move to the latest version of CleverTap Android SDK v4.0.2

[2021-01-18 09:40] rizalferdian opened #147 "SecurityException in Utils.getDeviceNetworkType()"
There were many crashes reported related to `Utils.java` class in our apps. we use clevertap v4.0.0

**Stack Trace**
[code]
Currently this issue only happen when the app is on the background with specific samsung devices (SM-T380, SM-T385)

[2021-01-18 10:45] rizalferdian commented on #147
@darshanclevertap the `targetSdkVersion 29` and the `compileSdkVersion 16`

[2021-01-20 05:17] darshanclevertap commented on #147
@rizalferdian Are you also using the CleverTap Xiaomi Push SDK?

[2021-01-20 08:58] rizalferdian commented on #147
@darshanclevertap no i'm not

[2021-01-21 05:53] paragmrsool opened #148 "SecurityException in getDataNetworkTypeForSubscriber"
**Clevertap SDK version** 'com.clevertap.android:clevertap-android-sdk:**3.5.1**'
compileSdkVersion **30**  targetSdkVersion **30**
[code]
Continuously App Crash after few seconds.

Working fine with compileSdkVersion **29** and targetSdkVersion **29**

[2021-01-21 06:42] darshanclevertap commented on #148
@paragmrsool Please update to CleverTap Android SDK v4.0.2 and follow the [breaking changes here](https://github.com/CleverTap/clevertap-android-sdk/blob/master/docs/CTV4CHANGES.md) which were made as a part of v4.0.0

[2021-01-25 04:09] alanlai1989 opened #149 "com.clevertap.android.sdk.InAppNotificationActivity is not displaying the content"
When the app start this activity, it created a transparent activity which block any UI feedback. Here is the video of the issue.

 implementation 'com.clevertap.android:clevertap-android-sdk:4.0.0'

Handle window ActivityRecord{e9a4be3 token=android.os.BinderProxy@36c2a98 {com.clevertap.android.sdk.InAppNotificationActivity}} visibility: false

https://user-images.githubusercontent.com/3030785/105

[2021-01-25 05:44] piyush-kukadiya commented on #149
@alanlai1989 Can you post logs by CleverTap SDK?

[2021-01-25 05:44] piyush-kukadiya commented on #149
@alanlai1989 Can you post logs by CleverTap SDK?

[2021-01-25 07:55] alanlai1989 commented on #149
Handle window ActivityRecord{e9a4be3 token=android.os.BinderProxy@36c2a98 {com.clevertap.android.sdk.InAppNotificationActivity}} visibility: false
this is the log that i filter by only "clevertap"

[2021-01-25 09:00] piyush-kukadiya commented on #149
@alanlai1989 Can you enable verbose mode and share the logs.

[2021-01-26 11:08] alanlai1989 commented on #149
2021-01-26 19:05:02.529 14447-14447/? I/CleverTap: Activity Lifecycle Callback successfully registered
2021-01-26 19:05:02.625 14447-14447/com.kfit.fave.debug I/CleverTap: Account Region not specified in the AndroidManifest - using default region
2021-01-26 19:05:02.636 14447-14580/com.kfit.fave.debug I/CleverTap: SDK Version Code is 40000
2021-01-26 19:05:02.636 14447-14580/com.kfit.fave.debug I/

[2021-01-27 05:26] alanlai1989 commented on #149
@piyush-kukadiya @kumaratulismu @judepereira

[2021-01-27 06:09] piyush-kukadiya commented on #149
@alanlai1989 Looking into it

[2021-01-27 11:39] piyush-kukadiya commented on #149
@alanlai1989 It's working fine in sample app hosted in this repo.

Few questions:

1. Is this issue Device specific or happening on all OS and OEMs?
2. Also can you share[ Component tree and and Layout Display](https://developer.android.com/studio/debug/layout-inspector) of a screen where this issue is happening.
3. Does inApp works properly on other screens of your app or just home page?
4. Was t

[2021-01-29 04:57] alanlai1989 commented on #149
@piyush-kukadiya
1. happened to all Devices

2. `<layout xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:app="http://schemas.android.com/apk/res-auto"
        xmlns:bind="http://schemas.android.com/apk/res-auto">

    <data>

        <import type="android.view.View"/>

        <variable
            name="viewModel"
            type="com.kfit.fave.viewmodel.MainViewModel"/>

[2021-01-29 07:46] piyush-kukadiya commented on #149
@alanlai1989 Can you post screenshot of layout inspector showing your screen and clevertap inApp Activity.

[2021-01-29 07:53] piyush-kukadiya commented on #149
Also is this theme applied globally to all components?

[2021-01-29 08:28] nabil6391 opened #150 "Clevertap 4.0.2. does allow to send push notification with customGcmSenderId"
After updating from 3.8.1 to 4.0.2, We are unable to send push notifications from our dashboard.

The error that happens is our dashboard is this:

**FCM Mismatch Sender ID**

The gcmSenderId in our manifest.xml and googleservices.json is different, but we own both the firebase projects. According to the clevertap documentation,  if we use the customSenderId in the manifest then the push notificat

[2021-01-29 09:59] darshanclevertap commented on #150
@nabil6391 Can you check if the custom sender ID value in your `AndroidManifest.xml` and the value on the Push Settings in the CleverTap dashboard are the same?

Here is a screenshot to help you find Push Settings in the dashboard.

<img width="1219" alt="Screenshot 2021-01-29 at 3 28 12 PM" src="https://user-images.githubusercontent.com/29622446/106260631-9c08fe80-6246-11eb-9e0f-b44dff708d0e.png"

[2021-02-01 03:37] alanlai1989 commented on #149
@piyush-kukadiya you mean the InAppActivity when received the in app push?
Yup, the theme is applied to global

[2021-02-01 06:59] alanlai1989 commented on #149
@piyush-kukadiya
Here is the screenshot of the layout. Left is before with white navigation bar and right is the after receiving the in app push with black navigation bar
![Screenshot_20210201_143153_com kfit fave debug](https://user-images.githubusercontent.com/3030785/106424934-036cbb80-649e-11eb-9756-ba1da5ae6dc1.jpg)
![Screenshot_20210201_145426_com kfit fave debug](https://user-images.githubu

[2021-02-01 08:54] piyush-kukadiya commented on #149
@alanlai1989 Can't see CleverTap InApp Activity bounds in attached layout. Wanted to check is this issue is due to CleverTap InApp. Wanted screenshot like the attached one.
<img width="571" alt="Screenshot 2021-02-01 at 2 21 37 PM" src="https://user-images.githubusercontent.com/61137760/106435585-16c95800-6499-11eb-84ae-4afe58841515.png">

[2021-02-02 03:36] nabil6391 commented on #150
Hi @darshanclevertap , Yes I have verified that the custom sender ID and the one in the push settings in clevertap dashboard is the same.

[2021-02-02 09:14] alanlai1989 commented on #149
@piyush-kukadiya
<img width="814" alt="Screenshot 2021-02-02 at 17 13 51" src="https://user-images.githubusercontent.com/3030785/106578044-0fc64680-657a-11eb-94e3-451805ec10c2.png">

[2021-02-02 10:23] piyush-kukadiya commented on #149
@alanlai1989 Again I can't see CleverTap InApp Activity bounds here.  As per screenshot - `after receiving the in app push with black navigation bar` if CleverTap inApp is blocking touch events then it must show layout bounds of inApp.

How did you identified that CT inApp is blocking touch events?

[2021-02-04 03:43] alanlai1989 commented on #149
@piyush-kukadiya do we need to add the UI for InApp activity explicitly?

To test it, I go to CT and create Inapp campaign then send to all Android Devices. After 5 minutes, when we launched the app, we can't click anything and the bottom navigation changed to black color. As well, I checked the log

`Notification ready: {"type":"half-interstitial","bg":"#ffffff","tablet":false,"close":true,"messa

[2021-02-05 06:19] darshanclevertap commented on #150
@nabil6391 So the error "FCM Mismatch Sender ID" is because your FCM credentials of `google-services.json` in your app and the CleverTap dashboard are not the same. I'd suggest you raise a request to our Support Team via the Dashboard itself to get a faster solution.

[2021-02-05 06:25] #148 closed

[2021-02-05 06:26] darshanclevertap commented on #147
@rizalferdian Can you check with `targetSdkVersion` as 30 and update the CleverTap SDK version to 4.0.2?

[2021-02-05 06:28] piyush-kukadiya commented on #149
@alanlai1989 Please raise a support request via the CleverTap Dashboard and if possible send us a debug APK. Since it's working fine for other users it's difficult to reproduce without debugging. Also it would be better if you try to debug from your end as well to resolve this asap.

[2021-02-05 08:40] arunabimanyu7 opened #151 "Production -> Clever Tap -> Null pointer Exception"
[code]

Device ->

Nexus 4
6.0.1

SDK version ->

4.0.2

Audience  ->

Many marshmallow users are facing this issue

[2021-02-05 10:47] darshanclevertap commented on #151
@arunabimanyu7
Are you using
`showAppInbox(CTInboxStyleConfig styleConfig)`
or
`showAppInbox()`
in your app?

[2021-02-05 16:55] arunabimanyu7 commented on #151
@darshanclevertap We are not using the AppInbox in our application

[2021-02-15 07:54] darshanclevertap commented on #151
@arunabimanyu7 This crash is not possible if you're not using the AppInbox methods. Are you sure you were not using AppInbox methods in some previous releases of the app?

[2021-02-15 07:55] #150 closed

[2021-02-15 07:56] darshanclevertap commented on #147
@rizalferdian Are you still facing this issue?

[2021-02-15 07:56] #149 closed

[2021-02-15 08:01] rizalferdian commented on #147
@darshanclevertap Currently I cannot reproduce the bug myself, if we have to change the `targetSdkVersion` to 30 I think it will take a while before it goes to production.

[2021-02-15 10:04] piyush-kukadiya commented on #147
@rizalferdian If crashes are high then please downgrade SDK to `3.9.1`. We will be fixing this in next release.

[2021-02-15 10:30] rizalferdian commented on #147
Okay thank you

[2021-02-19 03:36] alanlai1989 commented on #149
@piyush-kukadiya @darshanclevertap we managed to found the root cause. It can be replicate if using below version
`"androidx.fragment:fragment:1.3.0-beta02"`.

[2021-02-19 06:45] piyush-kukadiya commented on #149
@alanlai1989 Thanks, we will change in upcoming release.

[2021-02-22 02:49] anjalsaneen commented on #99
Hi @darshanclevertap

We are still seeing the ANR even after updating to 3.9.0.

[code]

[2021-02-22 08:10] kumaratulismu commented on #132
@SuhasTS We have fixed this in our latest release v4.0.3.
Closing this.

[2021-02-22 08:10] #132 closed

[2021-02-22 08:10] kumaratulismu commented on #147
@rizalferdian We have fixed this in our latest release v4.0.3.
Closing this.

[2021-02-22 08:10] #147 closed

[2021-02-22 08:11] kumaratulismu commented on #127
@SuhasTS we have fixed this issue with latest release(4.0.3).

Closing this.

[2021-02-22 08:11] #127 closed

[2021-02-23 23:25] ivannarino opened #155 "[Exoplayer] InAppMessaging with video or audio doesn't work"
I am trying to display an interstitial with video or audio but none of them work.

I get the following error log

[code]

![image](https://user-images.githubusercontent.com/5160934/108921355-33722f00-7604-11eb-8d44-afab6430ba5f.png)

![image](https://user-images.githubusercontent.com/5160934/108921417-4edd3a00-7604-11eb-9321-db875956515d.png)

**Version: 4.0.3**
**ExoPlayer: 2.11.5**

[2021-02-25 09:47] anjalsaneen opened #156 "StrictMode policy violation; ~duration=455 ms on main thread"
Clevertap is doing IO Operation on the main thread on app onCreate through activity lifecycle callbacks

[code]

[2021-02-25 09:55] piyush-kukadiya commented on #155
@ivannarino Which url are you using?

[2021-02-26 10:30] piyush-kukadiya commented on #155
@ivannarino Can you share video that you are trying to upload on CT?

[2021-03-22 15:02] w3b-amit opened #158 "Application Not Responding - com.clevertap.android.sdk.pushnotification.amp.CTBackgroundJobService, InvisibleToUser"
Hello Team,
We are getting some ANRs from CleverTap SDK, please check it and resolve it ASAP.
Here are the logs we received from AppStore -
**executing service ******.app/com.clevertap.android.sdk.pushnotification.amp.CTBackgroundJobService, InvisibleToUser**
_com.clevertap.android.sdk.pushnotification.amp.CTBackgroundJobService,_
[code]

[2021-03-22 15:18] darshanclevertap commented on #158
Which version of the CleverTap Android SDK are you using?
Also, are these the entire logs?

[2021-03-22 15:18] darshanclevertap commented on #158
Also can you share the devices affected?

[2021-03-22 15:21] w3b-amit commented on #158
CleverTap SDK Version - 4.0.4
Yes, there is some more thread, around 30.
Device Affected - Motorola Moto G (5S) Plus - Android 8.1

[2021-03-22 15:49] darshanclevertap commented on #158
Can you share the entire logs with us? If it's too long to be put as a comment, you can share a text file as well.
Also is this happening only for one device or multiple devices?

[2021-03-26 12:01] w3b-amit commented on #158
Hi,
It happens to one device only. The logs are too long. I will attach all the thread log.

[2021-03-26 12:02] darshanclevertap commented on #158
@w3b-amit You can copy all the logs to a text file and Github now allows you to upload files. So please upload them here.
Thanks!

[2021-03-30 10:02] darshanclevertap commented on #156
@anjalsaneen Sorry for the delay in getting back here. Can you mention which SDK version are you using?

[2021-03-30 10:03] darshanclevertap commented on #155
@ivannarino Can you tell us if you're still facing this issue?

[2021-03-30 10:04] darshanclevertap commented on #151
@arunabimanyu7 Any update here?

[2021-03-31 00:09] anjalsaneen commented on #156
@darshanclevertap

Version: 3.9.0

[2021-03-31 00:16] anjalsaneen opened #159 "ANR in Clevertap SDK on 3.9.0 Version"
Hi @darshanclevertap

We are still seeing the ANR even after updating to 3.9.0.

[code]

_Originally posted by @anjalsaneen in https://github.com/CleverTap/clevertap-android-sdk/issues/99#issuecomment-783002236_

[2021-03-31 00:25] anjalsaneen opened #160 "ANR Inside Clevertap react native SDK."
Version: Clevertap-react-native: 0.4.5 (Internally it uses android-sdk:3.8.2)

Major ANR is which is the bottleneck for avoiding bad threshold for ANR in the Play console. Please fix this

[code]

[2021-03-31 09:46] darshanclevertap commented on #159
@anjalsaneen We'll track this in #160 Closing this as duplicate.

[2021-03-31 09:57] darshanclevertap commented on #160
@anjalsaneen The latest [CleverTap React Native SDK is 0.5.0](https://github.com/CleverTap/clevertap-react-native/releases/tag/0.5.0) which uses CT Android SDK v4.0.0. Can you update and check if the issue still happens?

[2021-03-31 11:29] anjalsaneen commented on #159
@darshanclevertap Both are different traces.

[2021-03-31 11:32] darshanclevertap commented on #159
Sorry @anjalsaneen, reopened this.

Can you share the entire logs for this ANR? I do not see any mention of CleverTap in the logs you have put in the issue.

[2021-03-31 11:33] darshanclevertap commented on #159
@anjalsaneen Since you're updating to the new React Native SDK 0.5.0, let me know if this one happens after upgrading as well.

[2021-03-31 11:34] #151 closed

[2021-03-31 11:34] #155 closed

[2021-03-31 11:35] darshanclevertap commented on #156
@anjalsaneen Please provide an update here as well after upgrading to CT React Native SDK 0.5.0

[2021-04-06 01:45] anjalsaneen commented on #156
Sure

[2021-04-20 07:15] thirumal-r opened #166 "java.lang.NullPointerException"
Fatal Exception: java.lang.NullPointerException
Attempt to invoke interface method 'boolean pnb.e()' on a null object reference
android.os.Parcel.createExceptionOrNull (Parcel.java:2382)
com.android.installreferrer.api.InstallReferrerClientImpl.getInstallReferrer (InstallReferrerClientImpl.java:8)
com.clevertap.android.sdk.CleverTapAPI$35.onInstallReferrerSetupFinished (CleverTapAPI.java:5860)
com

[2021-04-20 07:18] darshanclevertap commented on #166
@thirumal-r Please share the following details -

- Device: [e.g. OnePlus 9 Pro]
 - OS: [e.g. Android 10]
 - CleverTap SDK Version [e.g. v4.x.x]
 - Android Studio Version [e.g. v4.1.2]

[2021-04-20 07:28] thirumal-r commented on #166
Find the details below,

Device: Redmi Note 9 Pro
OS: Android 10
CleverTap SDK Version 4.0.1
Android Studio Version 4.0.1

[2021-04-21 10:18] kartic-techindustan opened #167 "Notification Small Icon Not Showing"
**Describe the bug**
In manifest, i have mentioned notification icon-

[code]

But, icon is not visible, gray square is visible only.
But if i create custom notification using NotificationCompat.Builder, its working fine.

 - Device: - Google Pixel 4A
 - OS: - Android 11
 - CleverTap SDK Version - 4.1.0
 - Android Studio Version - 4.1.3

[2021-04-21 10:55] piyush-kukadiya commented on #167
@kartic-techindustan Please check **Warning** section here https://developer.clevertap.com/docs/android#section-set-the-small-notification-icon

[2021-04-21 10:58] #167 closed

[2021-04-26 13:25] NikSatyr opened #168 "Crash on Android 4.4 after updating SDK to v4.1.0"
**Describe the bug**
The SDK crashes on init on Android 4.4 devices

**To Reproduce**
Steps to reproduce the behavior:
1. Try to init the SDK v4.1.0 on Android 4.4

**Expected behavior**
The SDK v.4.1.0 does not crash on Android 4.4

**Screenshots/Logs**
[crash-log.txt](https://github.com/CleverTap/clevertap-android-sdk/files/6377269/crash-log.txt)

**Environment (please complete the following inf

[2021-04-27 06:29] piyush-kukadiya commented on #168
@NikSatyr We will try to reproduce and fix this in next release.

[2021-04-27 09:51] darshanclevertap commented on #166
@thirumal-r Sorry for the delay, we'll try and reproduce this on our end and fix it in the next release

[2021-04-27 09:52] darshanclevertap commented on #160
@anjalsaneen Any update on this?

[2021-04-27 09:52] darshanclevertap commented on #159
@anjalsaneen Any update on this?

[2021-04-27 09:53] darshanclevertap commented on #158
@w3b-amit Are you still facing this ANR? If yes, can you share the entire ANR stack trace with us in a text file or Google Doc link?

[2021-04-27 09:54] darshanclevertap commented on #156
@anjalsaneen Are you still facing this issue?

[2021-05-03 15:16] w3b-amit commented on #158
Hi @darshanclevertap, Sorry for late reply.
Yes, I am facing some ANRs. I am sharing all of them with you.
Most of them are coming at the time of launch when we register firebase and CleverTap.
I would like to share my approach of implementation, if anything I am doing wrong please let me know.

We have overridden the MultiDexApplication class named - AppController which implements ActivityLifecyc

[2021-05-04 10:31] william-ct commented on #168
Hi @NikSatyr , we have fixed the crash in the new version of the SDK(4.1.1).Let us know if you are facing any other issues.Cheers for reporting!

[2021-05-04 10:34] william-ct commented on #166
Hi @thirumal-r , we have fixed the issue in the current version of the SDK(4.1.1).Do let us know if you are facing any other issues.Thanks!

[2021-05-04 12:33] athulantonynp opened #176 "Clevertap SDK v4.1.0 is crashing on Android SDK update to 30"
CleverTap SDK v4.10 is crashing on several devices including Android 11 after updating to android targetSDKVersion to 30. Here is the log

`
Fatal Exception: java.lang.RuntimeException
Unable to create service com.clevertap.android.sdk.CTBackgroundJobService: java.lang.ClassNotFoundException: Didn't find class "com.clevertap.android.sdk.CTBackgroundJobService" on path: DexPathList[[zip file "/data

[2021-05-05 06:12] william-ct commented on #176
Hi @athulantonynp can you help us with the following information:-
Environment (please complete the following information):

Device:
OS:
CleverTap SDK Version:
Android Studio Version:

Thanks

[2021-05-05 12:58] #176 closed

[2021-05-06 11:14] NikSatyr commented on #168
@william-ct thanks, the issue seems to be resolved in 4.1.1.

[2021-05-06 11:14] #168 closed

[2021-05-20 07:05] nishanth0299 opened #177 "User Profiles getting merged with first logged in User"
**Describe the bug**

On launching the android application very first time by logging in with user 1 the clevertap details for user1 is displayed as expected. Now on uninstalling the application and on reinstalling logged in with user 2, now the clevertap details for user 2 is getting merged with the user 1 profile

**To Reproduce**
Steps to reproduce the behavior:

Scenario 1:(Login-Logout-Login)

[2021-05-25 09:03] athulantonynp opened #178 "Getting ANR on production app"
Here is the log
`
  java.lang.RuntimeException: Unable to start activity ComponentInfo{me.entri.entrime/com.clevertap.android.sdk.InAppNotificationActivity}: java.lang.RuntimeException: java.lang.NoSuchMethodException: com.clevertap.android.sdk.L.z.values []
        at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:3574)
        at android.app.ActivityThread.handleLaunchActiv

[2021-05-25 09:28] darshanclevertap commented on #178
@athulantonynp Are you sure this is an ANR as these are crash logs? Also, can you give us more details like

- CleverTap SDK Version
- Android version of the device where this issue is being faced
- Device details
- Steps to reproduce if any

[2021-05-25 09:29] #160 closed

[2021-05-25 09:29] #159 closed

[2021-05-25 09:32] athulantonynp commented on #178
These are crash logs. The app throws this crash log just before the ANR dialog. That's why I have mentioned it as an ANR.
Here are the details

1. 4.1.1
2. Pixel 4a (Android 12 beta) ,Redmi k20 pro Android 10
3. Pixel4a, Redmi k20 pro
4. Happening in a random manner. Whenever we open our app in release build, this crash logs and ANR message is shown

[2021-05-25 09:35] athulantonynp commented on #178
Also, it is not happening now.

[2021-05-25 10:03] william-ct commented on #177
Hey @nishanth0299, during your login process are you using google_ad_id?

[2021-05-25 11:09] darshanclevertap commented on #178
@athulantonynp Is it possible to reproduce this on a debug variant of your app and share the unobfuscated logs? That would help us tremendously in figuring out what is causing this issue.

[2021-05-27 05:00] nishanth0299 commented on #177
No we don't have google_ad_id in our app and We've also created a ticket on
clevertap support  Ticket ID: SUC-82946

On Tue, May 25, 2021 at 3:33 PM William John ***@***.***>
wrote:

[2021-05-27 06:35] darshanclevertap commented on #177
@nishanth0299 You are in great hands then. I'll be personally following the internal ticket as well and we'll step in if required. I'll keep this ticket open till your issue is resolved by our support team 👍🏾

[2021-05-27 15:54] NitishEzeia opened #179 "Could not GET 'https://dl.google.com/dl/android/maven2/com/google/android/gms/play-services-base/17.6.0/play-services-base-17.6.0.pom'. Received status code 405 from server: Method Not Allowed"

[2021-06-03 03:16] anjalsaneen commented on #156
No @darshanclevertap. We are not having this in the latest version of clevertap. although `com.clevertap.android.sdk.pushnotification.amp.CTBackgroundJobService` service wakes up when the phone is on killed state or background and that is causing ANR on firebase and other apps due to lack of processing power in the App. May I know how often this service run?
<img width="1482" alt="Screenshot 2021-

[2021-06-03 03:34] anjalsaneen opened #180 "Security Vulnerability in Clever-tap SDK"
**Describe the bug**
According to the documentation of Clever tap, clients are enforce to add Api token in Manifest. it's a Very Vulnerable place to keep token. Anyone who reverse engineer APK can easily get these tokens.

**To Reproduce**
Steps to reproduce the behaviour:
1. Install apktool in your machine
2. decode any apk which has clevertap integrated
3. Open manifest file
4. See token in mani

[2021-06-03 04:34] darshanclevertap commented on #179
@NitishEzeia Could you please elaborate on the issue? Issues with no description and explanations will be closed.

[2021-06-03 04:35] darshanclevertap commented on #178
@athulantonynp Any update? Were you able to reproduce this on a debug variant of the app?

[2021-06-03 04:40] darshanclevertap commented on #156
@anjalsaneen Could you help us with a few details? Are you using the native Android SDK or the React Native SDK? Also please share the version of the SDK you're using currently. And the devices on which this ANR occurs.

If you could share the detailed logs of this ANR then it will be helpful for us to figure out if the ANR is being caused by the logic of our SDK or the other reason could be due t

[2021-06-03 04:42] darshanclevertap commented on #180
@anjalsaneen If you're using the native Android SDK, then we have an option of creating the instance of CleverTap without providing the Account ID and token in the `AndroidManifest.xml` file. You can read about it in our [Multi Instance SDK docs](https://developer.clevertap.com/docs/multi-instance-sdk-update). If you have any doubts or concerns or require any help in implementing this, you can rea

[2021-06-03 05:00] darshanclevertap commented on #158
@w3b-amit
Sorry for the delay in reply. We've been receiving many issues regarding ANRs, some have been legit, which some have been apps trying to load multiple SDKs at the start of the application. However, we've done an internal code review to find legit issues and two of the three ANRs faced by you are a part of the legit issues found by us.

Your logs had 3 main ANRs which I will list below an

[2021-06-03 05:01] #166 closed

[2021-06-03 06:44] anjalsaneen commented on #180
Awesome. This works. You can close the ticket.

[2021-06-03 06:46] #180 closed

[2021-06-03 06:49] anjalsaneen commented on #156
1. Are you using the native Android SDK or the React Native SDK?   React Native SDK 0.5.1
2. The ANR's are not due to clevertap. basically, clever tap wakes up the app occasionally for running the service. whenever the app process wakes up, it has to initialise all content providers. we have firebase crashalytics and performance (it's well known for ANR's). that is causing ANR's. The one way to re

[2021-06-03 10:13] darshanclevertap commented on #156
@anjalsaneen As I explained the CTBackgroundJobService wakes up to sync with our servers to increase the delivery rate for Push Notifications as a part of Push Amplification. It wakes up every 4 hours to check whether a device is qualified to receive amplified Push Notifications. If there's a concern about the number of wake-ups, you can raise a ticket with our support team via the Dashboard, and

[2021-06-03 11:14] anjalsaneen commented on #156
No. ANR is still acceptable range. Thanks for update

[2021-06-03 11:29] #156 closed

[2021-06-16 07:26] arunabimanyu7 opened #182 "Production - DeadSystemException"
**Describe the bug**
We are getting random crashes from Clever tap SDK.This issue is intermittent.

**Logs**

[clevertap_android.txt](https://github.com/CleverTap/clevertap-android-sdk/files/6661008/clevertap_android.txt)

**Environment**
 - Device: Galaxy Note10+
 - OS: 11
 - CleverTap SDK Version 4.1.1
 - Android Studio detail

 Android Studio 4.2.1
Build #AI-202.7660.26.42.7351085, built on May

[2021-06-20 07:28] #178 closed

[2021-06-23 19:12] tallaltasawar opened #189 "Security vulnerability issue"
I have used the CleverTap Android SDK and apparently the sdk used implicit pending intent which I found out after google sent me a security vulnerability report upon submitting my app to google play store, After analysing my codes and the all the third party utilities I was using I found out that this issue lies in the CleverTap SDK particularly in PushProvider class which uses PendingIntent exten

[2021-06-24 04:33] darshanclevertap commented on #189
@tallaltasawar We're seeing this issue with any of our clients for the first time. Could you please tell us which version of the CleverTap Android SDK are you using?
Also, can you share the security vulnerability report sent to you by the Google Play Store?
If you're not comfortable sharing this information here, I'd suggest you raise a support issue via the CleverTap Dashboard and mention this Gi

[2021-06-24 12:53] muhammad-rifais commented on #189
Hi @darshanclevertap

We've got the same issue. Please refer to this https://support.google.com/faqs/answer/10437428

Thank you

[2021-06-24 13:04] darshanclevertap commented on #189
@muhammad-rifais Can you please share the vulnerability report given by the Play Store with us?

It will help us understand the issue better.

[2021-06-24 13:12] tallaltasawar commented on #189
@darshanclevertap, I have already shared the steps to resolve the issue, but still you need the report it self I can only share a part of it due to NDA etc as it won't be of any help.

Here it is.

<div class="pm-table-container  sc-emmjRN bTNvq" data-layout="default" style="font-style: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-align: start

[2021-06-25 06:15] darshanclevertap commented on #189
Closing this issue here as it is being tracked by our support team

[2021-06-25 06:15] #189 closed

[2021-06-25 06:16] #179 closed

[2021-06-25 06:17] #177 closed

[2021-06-25 06:27] william-ct commented on #182
Hi @arunabimanyu7 , based on the logs you have sent, it's throwing `android.os.DeadSystemException`, according to the docs the exception is caused when the core android system has died and is going through a runtime restart and all running apps will be promptly killed. [doc link](https://developer.android.com/reference/android/os/DeadSystemException)

Also does this crash specific only to Galaxy N

[2021-06-25 07:03] muhammad-rifais commented on #189
Hi @darshanclevertap when this issue can be rectified..? As this is blocking our app to roll-out.

Thank you

[2021-08-02 09:52] shaz-tech opened #197 "Firebase multiple projects without google-services plugin not supported"
We have configured multiple projects, hence not using the google-services.json file in our application instead of applying google-services we're loading the configuration from our server based on the variant.

There is no documentation from the Clevertap to configure with Firebase multiple projects without applying the google-services plugin.

**Working**: Events
**Not working**: Notification (As

[2021-08-02 11:54] william-ct commented on #197
Hi @shaz-tech , can you let us know which version of FCM and Clevertap's SDK are you using ?

[2021-08-04 07:57] shaz-tech commented on #197
Clevertap version: 4.2.0
Firebase Bom Version: 24.0.2

[2021-08-04 11:25] nikhilk1993 opened #198 "NullPointerException for isUsingTabs: com.clevertap.android.sdk.CTInboxStyleConfig.isUsingTabs"
**Describe the bug**
Getting this clevertap crash for both android and ios in crashlytics

Unable to destroy activity {com.razorpay.payments.app/com.clevertap.android.sdk.inbox.CTInboxActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'boolean com.clevertap.android.sdk.CTInboxStyleConfig.isUsingTabs()' on a null object reference

**stack trace**
android.app.ActivityThread.

[2021-08-04 11:27] william-ct commented on #197
Hi @shaz-tech In your app's Manifest.xml file can you add the following:-
[code]
While you're adding `fcm_sender_id` in `strings.xml`, append your sender_id after `id:` like below
`<string name="fcm_sender_id">id:fcm_sender_id</string>`

You can find your FCM sender id for the Firebase project [from here](https://developer.clevertap.com/docs/find-your-fcm-sender-id-fcm-server-api-key)

After addin

[2021-08-10 09:17] deb-anndy commented on #197
Hi @william-ct We are following the above solution but Mobile Push notification isn't subscribed for the user.

[2021-08-10 10:02] william-ct commented on #197
Hey @deb-anndy Can you raise a support ticket of the issue via the CleverTap Dashboard and mention this Github issue and we'll take it up on priority. While raising the ticket can you also share an apk with us with `CleverTapAPI.setDebugLevel(3)`, so that we can debug it further. Thanks!

[2021-08-13 05:24] Prashant-Sarin commented on #147
We observe this again on the latest version (4.2.0). Please help @rizalferdian

[2021-08-19 10:15] niteshmunda opened #199 "Getting ANR need some insight if reason is in SDK"
**Describe the bug**
A possible ANR in SDK, has significant impact on performance

**To Reproduce**
No particular repro steps from app side, we have integrated ANR and got log in this.

**Expected behavior**
ANR should not happen. May be offloaded to different thread.

**Screenshots/Logs**
Attached screenshots.
<img width="1246" alt="Screenshot 2021-08-19 at 3 38 55 PM" src="https://user-images.gi

[2021-08-19 11:04] darshanclevertap commented on #198
@nikhilk1993 we fixed a bunch of Strict Mode violations in our latest version v4.2.0
Can you check if this issue exists on our latest version as well?

[2021-08-24 13:21] naveenchandan commented on #158
@darshanclevertap any update on this issue?, we are also getting same anr

[2021-08-25 04:58] darshanclevertap commented on #158
@w3b-amit Hey, sorry for the delay, the first 2 ANRs of "Broadcast of Intent" and "SystemAlarmService" have been fixed in [v4.2.0](https://github.com/CleverTap/clevertap-android-sdk/releases/tag/core-v4.2.0) of the CleverTap Android SDK. The 3rd one is not being caused by the CleverTap SDK as mentioned above.

@naveenchandan Can you go through my previous reply and let us know which ANR is affecti

[2021-08-25 05:04] darshanclevertap commented on #199
@niteshmunda This looks like some Read/Write issue related to Shared Preferences. We fixed a bunch of Read/Write`StrictMode` violations that flared up in our SDK after v4.0.0 in the latest release [v4.2.0](https://github.com/CleverTap/clevertap-android-sdk/releases/tag/core-v4.2.0) of the CleverTap Android SDK.
Could you please update to our latest SDK and let us know if the issue persists?

[2021-08-25 05:06] #197 closed

[2021-08-25 05:08] darshanclevertap commented on #182
@arunabimanyu7 Closing issue due to inactivity. Please feel free to reopen the thread if you have any updates

[2021-08-25 05:08] #182 closed

[2021-08-25 07:17] w3b-amit commented on #158
Thank you,
I have updated the SDK.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
25/08/21,
12:46:04

On Wed, Aug 25, 2021 at 10:29 AM Darshan Pania ***@***.***>
wrote:

[2021-08-25 08:36] naveenchandan commented on #158
@darshanclevertap I'm getting the first ANR **FirebaseInstanceIdReceiver**, anyway I will update the sdk to v4.2.0 and revert back here

[2021-08-25 08:49] naveenchandan commented on #158
other than this I'm getting two more ANRs from sdk
![Screenshot 2021-08-25 at 14 12 52](https://user-images.githubusercontent.com/23548335/130759354-01a0b713-58c4-4008-a255-dbc7d26b9024.png)
![Screenshot 2021-08-25 at 14 13 23](https://user-images.githubusercontent.com/23548335/130759422-7037033c-d949-49f1-a2f5-a16e663c91b9.png)

[2021-09-23 12:20] naveenchandan commented on #158
@darshanclevertap any update on the ANR?, it's still occurring in latest version

[2021-09-27 16:55] calvarez-ov opened #200 "Android 12 impact regarding advertising id"
Google is introducing new policies regarding the google advertising id:

https://support.google.com/googleplay/android-developer/answer/6048248?hl=en

What are the impacts of google's new policy regarding opting out of tracking, in android 12, on the clevertap sdk, and apps which use clevertap?

Will we have to add the new permission to the app?
[code]

Or will CleverTap use the new [App Set Id](h

[2021-09-28 08:25] hartviqb opened #201 "Security issues exposing unencrypted data"
Hi,

We have an issue regarding the clevertap database in our android app which exposing our unencrypted user profile data, causing a high severity security issue based on the results of our independent penetration testers. is there any workaround to avoid that or how to encrypt that?

Thanks

![Screenshot 2021-09-28 145916](https://user-images.githubusercontent.com/8909820/135049696-2460d8be-bb1b

[2021-10-04 07:10] darshanclevertap commented on #158
@naveenchandan Can you share the logs for both `CTLocationUpdateReceiver` and the `XMPushService` ANR?

Also, can you let us know if you're using the CleverTap Xiaomi Push SDK (and the version), or have you integrated the Xiaomi Push SDK separately?

[2021-10-04 07:11] darshanclevertap commented on #198
Closing this for now. Please reopen this issue if you have any new inputs.

[2021-10-04 07:11] #198 closed

[2021-10-04 07:15] darshanclevertap commented on #199
Closing this for now. Please reopen if you have any new inputs.

[2021-10-04 07:15] #199 closed

[2021-10-06 03:09] hartviqb commented on #201
Hi @darshanclevertap could you help my problem?

[2021-10-11 16:20] calvarez-ov opened #202 "[Targeting Android 12] Push notifications not appearing."
**Describe the bug**

Summary:
CleverTap's `PushProviders.triggerNotification()` needs to declare whether the `PendingIntent` is mutable or not, otherwise notifications don't appear in an app **targeting** Android 12, on an Android 12 emulator/device.

Details:
We're following the documentation for custom [push notification handling](https://developer.clevertap.com/docs/android#section-custom-andr

[2021-10-12 05:57] darshanclevertap commented on #200
@calvarez-ov The impact of Google's new policy regarding opting out of tracking depends on whether your app is GDPR compliant or not.

If your app is GDPR compliant, then the CleverTap Android SDK does not fetch the Google Ad ID for tracking the user even today. So no changes are required in your app.

If your app is using the Google Ad ID, for tracking a user in CleverTap ([using the XML meta tag

[2021-10-12 06:04] darshanclevertap commented on #201
Hi @hartviqb Sorry for the delay.

We do not encrypt and store the PII information as encryption and decryption would be a massive performance overhead for us. There are two types of encryption - local and server level.

Local encryption would not be secure as we would have to use a public-private key at the SDK level and even after encryption, the public key would be exposed at the SDK level and

[2021-10-12 07:49] calvarez-ov commented on #200
Wow, many thanks for such a detailed and complete response!  Really appreciated ❤️

[2021-10-29 07:22] amit-semusi opened #204 "Geofence stopped working."
Sometimes it works as expected, sometimes it stopped working till i reboot my device.

problem i am seeing when it stopped working, then receiver is not getting invoke.

try {

            CTGeofenceAPI.getLogger().debug(CTGeofenceAPI.GEOFENCE_LOG_TAG,
                    "Geofence receiver called");

this block is not execute when geofence stop working.
every time when this block execute and app

[2021-11-02 10:47] darshanclevertap commented on #202
@calvarez-ov We have released the new version (4.3.0) of the CleverTap Android SDK today. This issue has been fixed in it.

[2021-11-02 10:48] darshanclevertap commented on #200
We have released the new version (4.3.0) of the CleverTap Android SDK today. This has been fixed in it.

Closing this now.

[2021-11-02 10:48] #200 closed

[2021-11-02 11:23] #202 closed

[2021-11-02 11:23] #201 closed

[2021-11-16 08:34] darshanclevertap commented on #158
Closing this due to inactivity. Feel free to reopen.

[2021-11-16 08:34] #158 closed

[2021-11-16 09:44] piyush-kukadiya commented on #204
@amit-semusi Can you use [fake GPS app](https://play.google.com/store/apps/details?id=com.lexa.fakegps&hl=en_IN&gl=US) for proper testing as real time notifications can be dropped by OEMs due to battery related restrictions due to which it's impossible to come to any conclusion that the issue is with OEM or OS or CleverTap SDK or Google geofence service.

[2021-11-23 11:36] Divya015 commented on #103
Hi Team,
I'm facing the same issue getting notifications but not the sound. We are using version 4.0.0.
Please help.

[2021-11-23 11:56] darshanclevertap commented on #103
@Divya015 Have you tried this?

[2021-11-23 12:21] Divya015 commented on #103
@darshanclevertap
Yes we are creating notification channel like below, which should get the default sound right?

CleverTapAPI.createNotificationChannel(getApplicationContext(),"YourChannelId","Your Channel Name","Your Channel Description",NotificationManager.IMPORTANCE_MAX,true)

[2021-12-03 07:15] NG-Gaurav opened #210 "Fatal Exception: java.lang.NoSuchMethodError No direct method <init>(Landroid/content/Context;Lcom/google/android/exoplayer2/trackselection/TrackSelection$Factory;)V in class Lcom/google/android/exoplayer2/trackselection/DefaultTrackSelector; or its super classes (declaration of 'com.google.android.exoplayer2.trackselection.DefaultTrackSelector' appears in base.apk!classes2.dex)"
Fatal Exception: java.lang.NoSuchMethodError: No direct method <init>(Landroid/content/Context;Lcom/google/android/exoplayer2/trackselection/TrackSelection$Factory;)V in class Lcom/google/android/exoplayer2/trackselection/DefaultTrackSelector; or its super classes (declaration of 'com.google.android.exoplayer2.trackselection.DefaultTrackSelector' appears in base.apk!classes2.dex)
       at com.cle

[2021-12-03 07:50] darshanclevertap commented on #210
@NG-Gaurav Can you please give some context on when this crash is occurring? Just copy-pasting the stack trace does not help anyone.

Please also provide which version of the CleverTap Android SDK you are currently using and the version of ExoPlayer.

Thanks 😊

[2021-12-03 10:24] NG-Gaurav commented on #210
we do not know when it happen. firebase crashlytics is showing this crash.

[2021-12-03 10:25] NG-Gaurav commented on #210
CleverTap Android SDK version : - 4.2.0
 ExoPlayer Android SDK version : - 2.16.1

[2021-12-03 10:28] darshanclevertap commented on #210
@NG-Gaurav  Please downgrade your ExoPlayer version to 2.15.1 and see if the crashes continue to occur

[2021-12-03 10:30] darshanclevertap commented on #210
@NG-Gaurav For CleverTap Android SDK v4.2.0, please use ExoPlayer v2.11.0
or
update CleverTap Android SDK to v4.3.1 and use ExoPlayer v2.1.5.1

Let us know if you still face the crash

[2021-12-03 10:33] NG-Gaurav commented on #210
we can not downgrade your ExoPlayer version. any other solution?

[2021-12-03 11:00] darshanclevertap commented on #210
@NG-Gaurav Try using CleverTap Android SDK v4.3.1 and let us know if you still face the issue

[2021-12-09 06:40] shubhamS-vs commented on #103
@Divya015 I am facing the same issue. Have you found any solution to this?

[2021-12-09 06:43] shubhamS-vs opened #211 "sound in push notification not working [React native]"
**Describe the bug**
Sound not coming with push notification

  CleverTap.createNotificationChannelWithSound(
      'general',
      'General Channel',
      'This channel is for all general notifications.',
      1,
      true,
      'h123.mp3'
    );

[2021-12-09 06:52] #211 closed

[2021-12-09 07:13] piyush-kukadiya commented on #103
@shubhamS-vs Are you following this https://developer.clevertap.com/docs/add-a-sound-file-to-your-android-app

[2021-12-09 07:15] shubhamS-vs commented on #103
Yes i have tried this, not event default sound is coming, I am using clevertap-android-sdk:4.0.1

[2021-12-09 07:16] piyush-kukadiya commented on #103
@shubhamS-vs Can you try on real device once?

[2021-12-09 07:18] shubhamS-vs commented on #103
Channel(
      'general',
      'General Channel',
      'This channel is for all general notifications.',
      1,
      true
    );
tried this also for default OS sound but still not working

[2021-12-09 07:21] piyush-kukadiya commented on #103
@shubhamS-vs It should work.

-  please try checking on real device
- check sound related settings on your phone.
- check if channel created successfully in app settings
- check if channel is not silent

[2021-12-09 07:23] shubhamS-vs commented on #103
@piyush-kukadiya can you help me that how can i check if channel is not silent and
 channel created successfully in app settings?

[2021-12-09 07:24] piyush-kukadiya commented on #103
@shubhamS-vs https://support.google.com/android/answer/9079661?hl=en#zippy=

[2021-12-09 07:41] shubhamS-vs commented on #103
@piyush-kukadiya Thank you

[2021-12-09 09:28] inventionsbyhamid opened #212 "Expected timeline with FCM v21.0.0 support?"
Is there any way we can switch to latest Firebase dependency and maintain compatibility with CleverTap? Is adding a direct dependency to `com.google.firebase:firebase-iid` a solution to use latest FCM version?

<img width="940" alt="image" src="https://user-images.githubusercontent.com/4223656/145369866-0cde62e0-9c2d-4e0c-9936-d5fe5026b615.png">

[2021-12-09 09:51] darshanclevertap commented on #212
@inventionsbyhamid We're currently working on switching to the latest FCM dependency. We're looking to push out the next version of the CleverTap Android SDK with support for FCM v22 by the end of next week.

Adding a direct dependency of `com.google.firebase:firebase-iid` does not help if the app's FCM dependency is v21.0+
Hence directly switching to the latest FCM version is the only way forward

[2021-12-09 09:52] darshanclevertap commented on #210
@NG-Gaurav Were you able to fix the issue with the latest CleverTap Android SDK?

[2021-12-09 10:25] inventionsbyhamid commented on #212
Ok. Looking out for the release. Need to update the Firebase BOM on our end which has the latest FCM. Thanks!

[2021-12-09 10:25] #212 closed

[2021-12-10 07:03] manukj opened #214 "Control on System events captured"
**Is your feature request related to a problem? Please describe.**
Right now the system events are captured automatically  when clevertap SDK is integrated, I went through the code and couldn't find a way to control the system events being captured

**Describe the solution you'd like**
please let me know if we can control system events, if not please do add this feature

[2021-12-13 05:36] darshanclevertap commented on #214
@manukj Can you please help us with the use case for controlling system events and which specific system events you'd like to control? We currently do not plan to have this specific feature in our roadmap but your use case would help us in triaging this issue internally.

[2021-12-16 10:39] adesamp opened #216 "Ignoring Space and Upper/Lower Case"
**Event property merged with 2 different name**
when I rename a event property, the new event is still increase in old event property

**To Reproduce**
Steps to reproduce the behavior:
1. you have event name A with event property `Abc Def`
2. trigger the event, then works well, the `Abc Def` event property in the dashboard is increase from 0 (nil) into 1
3. you rename it into `abcDef`
4. trigger t

[2021-12-20 07:03] darshanclevertap commented on #210
Closing this for now. Please re-open if you are still facing this issue.

[2021-12-20 07:03] #210 closed

[2021-12-20 07:03] darshanclevertap commented on #204
@amit-semusi Are you still facing this issue?

[2022-01-03 04:26] afarhan39 opened #218 "SplashActivity does not excluded from CLEVERTAP_INAPP_EXCLUDE"
**Describe the bug**
In App Notifications does not obey CLEVERTAP_INAPP_EXCLUDE tag despite added correct Activity to [exclude](https://docs.clevertap.com/docs/faq#q-why-does-the-in-app-notification-disappear-from-the-users-device-in-a-few-seconds
).

**To Reproduce**
Steps to reproduce the behavior:
1. Add SplashActivity inside CLEVERTAP_INAPP_EXCLUDE
2. Create campaign for in app notification, a

[2022-01-10 06:34] shubhamS-vs opened #219 "Do we have any option to trigger a notification from app? [React native]"
Example , if user clicks on notify me button, can we send a scheduled notification to the user?
Any documentation for the same for react native app?

[2022-01-10 06:47] shubhamS-vs commented on #150
@darshanclevertap Do we have any option to trigger a notification from app? [React native]
Example , if user clicks on notify me button, can we send a scheduled notification to the user?
Any documentation for the same for react native app?

[2022-01-10 06:48] shubhamS-vs commented on #219
@darshanclevertap

[2022-01-10 07:05] darshanclevertap commented on #219
@shubhamS-vs You can raise an event with the date/time user property and then create a campaign on the CleverTap dashboard for that particular date/time. There is no way to locally create/render push notifications for a given time.

To understand more on the date/time property, you can reach out to our support team with this query by raising a ticket via the CleverTap Dashboard.

[2022-01-10 07:07] darshanclevertap commented on #214
@manukj Closing this issue for now. Feel free to reopen this once you can share your use case.

[2022-01-10 07:07] #214 closed

[2022-01-10 07:08] #204 closed, assigned to nobody

[2022-01-10 07:13] shubhamS-vs commented on #219
@darshanclevertap Can we record an event containing the date/time and then send notification to that user with that date/time?

[2022-01-10 07:30] darshanclevertap commented on #219
@shubhamS-vs Yes you can raise an event with date/time as event property on the notify button and then create a Push Notification campaign on the CleverTap dashboard which will send out the push automatically.

[2022-01-10 10:06] root-ansh-ct commented on #216
Hi @adesamp . Thank you for reporting this issue. I have followed the steps and am able to reproduce this. We will take this with the backend team and get it fixed.

[2022-01-17 04:23] ankit-g-rapido opened #220 "com.clevertap.android.sdk.InAppNotificationActivity - Window couldn't find content container view"
**Describe the bug**
java.lang.RuntimeException: Unable to start activity ComponentInfo{com.rapido.passenger/com.clevertap.android.sdk.InAppNotificationActivity}: java.lang.RuntimeException: Window couldn't find content container view

**To Reproduce**
Steps to reproduce the behavior:
1 On Android 6
2 Sending an InAppNotification/Notification is causing this exception.

**Expected behavior**
Shoul

[2022-01-17 06:43] root-ansh commented on #220
hi @ankit-g-rapido can you provide the full stack trace from device for this exception?

[2022-01-17 06:45] root-ansh-ct commented on #220
Hi @ankit-g-rapido, Can you provide a full stack for this exception from the said device?