[2022-01-17 07:20] root-ansh-ct commented on #218
Hi @afarhan39  . can you please do the following:
1.  provide logs till the login screen, filtered by "clevertap" tag
2. verify if you added the whole name of the activity(i.e package+activity name) or just the class name, in the manifest?
3.  share the conditions used for creating the target audience Mainly the values here, when you create the campaign:
![image](https://user-images.githubusercont

[2022-01-18 16:17] naveenchandan commented on #220
Hi @root-ansh-ct, please find the stack trace for the above crash.
`Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.rapido.passenger/com.clevertap.android.sdk.InAppNotificationActivity}: java.lang.RuntimeException: Window couldn't find content container view
       at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2492)
       at androi

[2022-01-19 03:23] ankit-g-rapido commented on #220
@root-ansh-ct You can find the stack trace submitted by @naveenchandan. We are from same team. Facing this issue.

[2022-01-19 07:24] root-ansh-ct commented on #220
@naveenchandan can you please confirm whether these function is being called by the `Application` class of your app :

[code]

[2022-01-19 09:32] darshanclevertap commented on #219
@shubhamS-vs I hope your issue was solved. I'm closing this for now. Feel free to reopen if you have any more info.

[2022-01-19 09:32] #219 closed

[2022-01-22 11:01] anjalsaneen opened #221 "ANR on Clevertap"
**Describe the bug**
Getting ANR on clevertap

**Screenshots/Logs**
[code]

**Environment (please complete the following information):**
 - Device: Any
 - OS: Any
 - CleverTap SDK Version 4.4.0
 - Android Studio Version Artic Fox

**Additional context**

Clevertap is creating its instance is on the main thread [here](https://github.com/CleverTap/clevertap-android-sdk/blob/master/clevertap-core/src

[2022-01-24 05:03] manishkummar21 commented on #202
@darshanclevertap After updating the SDK to 4.4.0, I got the deprecation warning on **CTNotificationIntentService** Class.

**Are any changes I need to do?**

[2022-01-24 05:14] piyush-kukadiya commented on #202
@manishkummar21 , no change is required but do not remove it as it still getting used for OS <= Android 11. Please check this https://github.com/CleverTap/clevertap-android-sdk/blob/master/clevertap-core/src/main/java/com/clevertap/android/sdk/pushnotification/CTNotificationIntentService.java#L34

[2022-01-24 08:31] ankit-g-rapido commented on #220
hey @root-ansh-ct
We did not call following block before super.onCreate()
`ActivityLifecycleCallback.register(this)`

And we for default Instance we are somewhere using Instance at Activity level and not Application level.

[2022-01-24 11:31] manishkummar21 commented on #202
@piyush-kukadiya @darshanclevertap

In the Current Production App, we are using the SDK version is 3.9.1. we are using the custom Firebase Message Service, HmsMessageService, PushMessageReceiver

**Android Manifest Looks like this**

        <service android:name=".MyFcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />

[2022-01-24 11:34] manishkummar21 commented on #202
One More Question

In 3.9.1 there is a function **registerBooleanVariable**. I couldn't similar method after updating to 4.4.0

[2022-01-24 12:02] piyush-kukadiya commented on #202
@manishkummar21 I would suggest to have a look at changelog from 3.9.1 to 4.4.0 for any breaking changes https://github.com/CleverTap/clevertap-android-sdk/blob/master/CHANGELOG.md

[2022-01-24 14:19] root-ansh-ct commented on #220
@ankit-g-rapido This is an essential function call for the proper working of in-app notifications. Can you please try adding this in your custom application class and internally check if this exception occurs again?

[2022-01-25 04:45] ankit-g-rapido commented on #220
Thanks @root-ansh-ct for the quick response. We made the changes and will be observing any crashes. Thanks

[2022-01-25 07:00] NG-Gaurav opened #222 "how to initialise CLEVERTAP_XIAOMI_APP_KEY and CLEVERTAP_XIAOMI_APP_ID at run time."
how to initialise CLEVERTAP_XIAOMI_APP_KEY and CLEVERTAP_XIAOMI_APP_ID at run time. because both values are coming from api.

<meta-data
    android:name="CLEVERTAP_XIAOMI_APP_KEY"
    android:value="@string/xiaomi_app_key" />

<meta-data
    android:name="CLEVERTAP_XIAOMI_APP_ID"
    android:value="@string/xiaomi_app_id" />

[2022-01-25 09:06] NG-Gaurav opened #223 "getting some issue after adding com.clevertap.android:clevertap-xiaomi-sdk:1.2.0"
V/XMPush-7008: android.os.DeadObjectException
        at android.os.BinderProxy.transactNative(Native Method)
        at android.os.BinderProxy.transact(BinderProxy.java:571)
        at android.os.IMessenger$Stub$Proxy.send(IMessenger.java:125)
        at android.os.Messenger.send(Messenger.java:59)
        at com.xiaomi.mipush.sdk.ak.onServiceConnected(Unknown Source:47)
        at android.app.Lo

[2022-01-25 09:15] root-ansh-ct commented on #222
Hi @NG-Gaurav, Am afraid this is not possible with the current SDK. the SDK only supports adding Xiaomi credentials via manifest

[2022-01-25 10:08] manishkummar21 commented on #202
OK

[2022-01-25 10:13] manishkummar21 commented on #202
@piyush-kukadiya @darshanclevertap After updating the SDK to 4.4.0 notification is not coming.

Testing Steps
1. After User Logged into our Application
2. In the clever tap dashboard I searched the user by email.
3. Clicked on Send Push.

<img width="1472" alt="Screenshot 2022-01-25 at 3 43 10 PM" src="https://user-images.githubusercontent.com/16359663/150957421-3a1cb246-8a3a-454c-8334-6d7cfb3627f

[2022-01-25 11:07] root-ansh-ct commented on #223
can you share details on how you have implemented the xiaomi sdk? Also please share the following information :

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots/Logs**
If applicable, add screenshots to help explain your prob

[2022-01-25 11:15] piyush-kukadiya commented on #202
@manishkummar21 Can you turn on VERBOSE logging and share notification related logs? It will help to identify why it's not getting rendered.

[2022-01-25 11:16] NG-Gaurav commented on #222
MiPushClient.registerPush(context, CLEVERTAP_XIAOMI_APP_KEY, CLEVERTAP_XIAOMI_APP_ID);
cleverTapAPI.pushXiaomiRegistrationId(MiPushClient.getRegId(context), true);

can we use above code to initialise?

[2022-01-25 11:21] manishkummar21 commented on #202
Sure

[2022-01-25 11:32] manishkummar21 commented on #202
D/CleverTap:TEST-5W5-797-K95Z: Send queue contains 9 items: [{"g":"__3cebe3741cb045659cc2f80074d8d2f1","type":"meta","af":{"Build":"282","Version":"5.2.46","OS Version":"11","SDK Version":40400,"Make":"samsung","Model":"SM-M315F","Carrier":"JIO 4G","useIP":false,"OS":"Android","wdt":2.57,"hgt":5.07,"dpi":420,"dt":1,"abckt":"active","lib":"Segment-Android","cc":"in"},"id":"TEST-5W5-797-K95Z","tk":"

[2022-01-25 11:33] manishkummar21 commented on #202
@piyush-kukadiya Please check this the log i got

[2022-01-25 11:42] piyush-kukadiya commented on #202
@manishkummar21 above logs are not helping. Need Logs after notification arrives.

[2022-01-25 11:43] manishkummar21 commented on #202
I added the breakpoint also onMessageReceived in our custom FirebaseMessagingService for debugging. its not called after notification was triggered from Dashboard.
@piyush-kukadiya @darshanclevertap

[2022-01-25 11:44] manishkummar21 commented on #202
As I told in the above comment no notification log also

[2022-01-25 11:45] piyush-kukadiya commented on #202
@manishkummar21 You mean message is not getting received only by your custom FirebaseMessagingService class?

[2022-01-25 11:48] manishkummar21 commented on #202
Not like that, the Previous SDK Version(3.9.1) also we have the custom FirebaseMessagingService class. In this version onMessageReceived as soon as notification is triggered from Dashboard.

Just we updated the SDK version 4.4.0 with no implementation changes But the onMessageReceived method was not called after notification was triggered from Dashboard and Hence no notification appeared

[2022-01-25 11:54] piyush-kukadiya commented on #202
@manishkummar21 Are you using send test approach on dashboard to test notification?

[2022-01-25 11:57] piyush-kukadiya commented on #202
I don't feel it's an issue due to sdk upgrade.

[2022-01-25 12:13] NG-Gaurav commented on #222
Are you using latest version of xiaomi sdk?

Version 4.8.3 (updated on 2021.10.26)

[2022-01-25 12:33] manishkummar21 commented on #202
### **FCM Token Received From Firebase**

 **FCM Token refreshed** - eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6IjE6NjM2MDIyMzUxNjA1OmFuZHJvaWQ6YTJiOTlmOGVkNDBiMjUwOSIsImV4cCI6MTY0MzcxODI0NiwiZmlkIjoiZnBXZWcyaE1TM3U3ZlBvNjZ2cDFSRyIsInByb2plY3ROdW1iZXIiOjYzNjAyMjM1MTYwNX0.AB2LPV8wRAIgcOi3e1VVRjotUBQkb-8BibMh56jAh-Bl5K3tuV4ZWQICIE96coJ4FyHkhQyl_uRfBR1S2SCPNgItWrl3G3JZtzCf

 We will register th

[2022-01-25 12:39] NG-Gaurav commented on #223
FATAL EXCEPTION: Connection Controller Thread
    Process: com.viewlift.hoichoi:pushservice, PID: 16880
    java.lang.IllegalArgumentException: com.viewlift.hoichoi: Targeting S+ (version 31 and above) requires that one of FLAG_IMMUTABLE or FLAG_MUTABLE be specified when creating a PendingIntent.
    Strongly consider using FLAG_IMMUTABLE, only use FLAG_MUTABLE if some functionality depends on the

[2022-01-25 12:40] NG-Gaurav commented on #223
this issue related to android 12.

[2022-01-27 10:32] NG-Gaurav commented on #223
Any update on it

[2022-01-27 12:06] piyush-kukadiya commented on #223
@NG-Gaurav While releasing `clevertap-xiaomi-sdk:1.2.0` Xiaomi didn't supported Android 12. Xiaomi's support for Android 12 comes on `2022.01.27`. We will release the same in first half of FEB. Will update you here for new release.

[2022-01-31 11:54] darshanclevertap commented on #222
cleverTapAPI.pushXiaomiRegistrationId(MiPushClient.getRegId(context), true);

@NG-Gaurav We are using v4.8.2 of the Xiaomi Push SDK. Also, you can use the code mentioned by you above if you are manually integrating the Xiaomi Push SDK. If you are using the CleverTap Xiaomi Push SDK then you cannot manually initialize Xiaomi Push because the CleverTap SDK will also try and do the same creating mult

[2022-02-08 06:22] root-ansh-ct commented on #221
Hi @anjalsaneen, can you share some steps to reproduce the above ANR?

[2022-02-08 06:25] anjalsaneen commented on #221
Hi @root-ansh-ct

We are not able to reproduce. These are traces from production App

[2022-02-08 06:28] root-ansh-ct commented on #221
@anjalsaneen can you share any particular device's details on which the issue appeared? The following info will be useful: device android version, name, ram/storage info

[2022-02-08 06:32] anjalsaneen commented on #221
<img width="349" alt="Screenshot 2022-02-08 at 12 01 14 PM" src="https://user-images.githubusercontent.com/43947967/152931080-da811881-d9fd-4f6d-8458-0140508a8aed.png">

Seems like it's happening across all manufacturers. some of the model's are

realme XT
V2022
vivo 1933
realme C15 Qualcomm Edition
Redmi Note 10S

[2022-02-08 07:06] root-ansh-ct commented on #221
@anjalsaneen thanks for the info. we will investigate more on this

[2022-02-09 18:12] Naveenchandan-GP commented on #220
Hi @root-ansh-ct , we made the changes mentioned above and released them but still, we are observing the crashes. Please check this on priority

[2022-02-10 14:13] rahulr4 opened #225 "CTBackgroundJobService ClassNotFoundException issue"
Getting this crash on production release build after updated clevertap to 4.0.0
'com.clevertap.android:clevertap-android-sdk:4.4.0'

Fatal Exception: java.lang.RuntimeException: Unable to create service com.clevertap.android.sdk.CTBackgroundJobService: java.lang.ClassNotFoundException: Didn't find class "com.clevertap.android.sdk.CTBackgroundJobService" on path: DexPathList[[zip file "/data/app/~~

[2022-02-10 14:37] darshanclevertap commented on #225
@rahulr4 If you are migrating from a version below v4.0.0 to a version above v4.0.0. Please read this [migration document](https://github.com/CleverTap/clevertap-android-sdk/blob/master/docs/CTV4CHANGES.md) for a smooth transition.

[2022-02-10 16:22] rahulr4 commented on #225
This issue arise when we are upgrading our app from store.
Current app on play store has 3.9.1 version where CTBackgroundJobService class is in the above mentioned package
and now when we have upgrade it to 4.4.0, the package is changed and this crash is coming now

[2022-02-11 05:22] JustinLim0318 commented on #223
Hello any updates on this? Samsung device keep crashing due to this issue.

[2022-02-18 02:28] onesand opened #229 "App inbox crash"
clevertap-android-sdk:4.4.0
exoplay:2.12.0

My inbox style:
[code]
crash:
[code]

[2022-02-18 03:46] darshanclevertap commented on #229
@onesand As mentioned in the CleverTap's [Usage documentation](https://github.com/CleverTap/clevertap-android-sdk/blob/master/docs/EXAMPLES.md#using-app-inbox), for the App Inbox, you will have to update your Exoplayer dependency from 2.12.0 to 2.15.1 for smooth functioning of the App Inbox feature.

[2022-02-18 03:51] onesand commented on #229
@darshanclevertap Thanks for help. Is exoplayer must 2.15.1? ex:2.14.2、2.14.0

[2022-02-18 03:52] darshanclevertap commented on #225
@rahulr4 Proguard has nothing to do with this. This crash is happening because the Android OS is trying to run the job with the old package name, while the package name for the Job has been changed. Ideally, the OS should not keep an instance of existing jobs when an app upgrade happens.
This is not something we can fix, over time, these crashes will reduce as the majority of your userbase will mo

[2022-02-18 03:54] darshanclevertap commented on #229
@onesand Yes, v2.1.5.1 of Exoplayer is a must for CleverTap Android SDK v4.4.0 😇

[2022-02-18 03:55] onesand commented on #229
Thanks a lot! I can't upgrade the exoplayer version now, because it exists in another sdk, can you provide the exoplayer version used by different clevetap?

[2022-02-18 03:59] darshanclevertap commented on #229
@onesand For CleverTap SDK v4.0.0 to v4.2.0, you can use ExoPlayer v2.11.5

[2022-02-18 04:02] onesand commented on #229
@darshanclevertap Thanks a lot, solved my problem.

[2022-02-18 04:02] #229 closed

[2022-02-18 06:41] onesand opened #230 "Inbox how disable exoplayer?"
Hi,If my project has the sdk of exoplayer, but we will not send audio and video messages, can I set the clevertap inbox not to use exoplayer?

[2022-02-18 09:18] darshanclevertap commented on #230
@onesand I'm sorry, we do not have this configuration as of now. I'll take this up with my product team for consideration. For now, you can either use v2.11.5 of the ExoPlayer with CT Android SDK v4.0.0 - v4.2.0 or use ExoPlayer v2.15.1 with CT Android SDK v4.3.0 and above. 👍🏾

[2022-02-20 06:18] JustinLim0318 commented on #230
@onesand I able to disable the video support using 'Utils.haveVideoPlayerSupport = false' before open the app inbox

[2022-02-21 01:05] onesand commented on #230
@darshanclevertap  I see, I'll keep trying to update the project SDK. Thanks again.

@JustinLim0318  I tried it, this works, thanks bro.

[2022-02-21 01:05] #230 closed

[2022-02-24 15:41] saczuac opened #232 "SDK has the Implicit PendingIntent Vulnerability"
Please, be aware that the Android SDK has the Implicit PendingIntent Vulnerability:

<img width="953" alt="image" src="https://user-images.githubusercontent.com/20133363/155556782-e63a4e5e-5280-4921-9abd-99f3092b9672.png">

Could you fix this ?

Thanks in advance,

[2022-02-24 16:02] piyush-kukadiya commented on #232
@saczuac Which SDK version are you using?

[2022-02-24 16:03] saczuac commented on #232
"clevertap-react-native": "0.6.0", @piyush-kukadiya

[2022-02-24 16:13] saczuac commented on #232
@piyush-kukadiya Do you think this issue can be resolved only updating the lib to 0.8.0 ?

[2022-02-24 17:39] piyush-kukadiya commented on #232
@saczuac We added support for Android 12 in 0.7.0

[2022-02-25 12:02] sachinsingh15 commented on #158
@darshanclevertap Please find the details

CleverTap Android SDK : 4.4.0
CleverTap Geofence SDK: 1.0.2
CleverTap Xiaomi Push SDK : 1.0.2

[2022-02-25 14:15] SiddhiBlackLotus commented on #232
<img width="980" alt="image" src="https://user-images.githubusercontent.com/79434215/155729840-ab3bd8c2-8bb1-411b-a8f8-5f7bd9a2de87.png">

I'm also getting the same error. Updating the SDK version to latest will resolve this error ?

[2022-02-25 15:16] piyush-kukadiya commented on #232
@SiddhiBlackLotus We have added support for safe implicit pending intent for Android 12. clevertap-react-native v0.7.0 supports it. I would recommend please update to latest version.

[2022-02-28 09:30] Priyanshi-Z commented on #232
Hi I am also facing same issue with android @piyush-kukadiya please suggest the solution.
`
    implementation 'com.clevertap.android:clevertap-android-sdk:4.2.0' `

[2022-03-01 08:26] Priyanshi-Z commented on #232
@piyush-kukadiya hi after updating the sdk to version 4.3.0 i have started getting an error in my project  :
` Module was compiled with an incompatible version of Kotlin. The binary version of its metadata is 1.5.1, expected version is 1.1.13.`

[2022-03-02 07:31] piyush-kukadiya commented on #232
@Priyanshi-Z Can you upload and share sample app showcasing your issue?

[2022-03-02 10:52] piyush-kukadiya commented on #232
@Priyanshi-Z [Our sample app](https://github.com/CleverTap/clevertap-android-sdk/blob/master/sample/build.gradle#L46) is in working condition with latest SDK. We are using below versions in sample app, you can try them out.

`implementation "org.jetbrains.kotlin:kotlin-stdlib-jdk8:1.5.31"`
`distributionUrl=https\://services.gradle.org/distributions/gradle-7.0.2-all.zip`

[2022-03-02 11:18] Priyanshi-Z commented on #232
@piyush-kukadiya tried but it still doesn't works, can you suggest something else

[2022-03-03 17:54] Jparrgam opened #238 "Android 12 support"
**Describe the bug**
clevertap api support needed for android S+

**To Reproduce**
Steps to reproduce the behavior:
Run app with clevertap in device (Android 12)

**Environment (please complete the following information):**
 - Device: [e.g. OnePlus 9 Pro]
 - OS: Android 12
 - CleverTap SDK Version 4.0.4
 - Android Studio Dolphin | 2021.3.1 Canary 4

[2022-03-04 04:40] inventionsbyhamid opened #239 "Disable Xiaomi push service on other manufacturers/devices"
We are seeing some ANRs on realme devices related to XMPushService. Is Xiaomi push service used to send push notifications by Clevertap on other devices as well? If yes how can we disable that to only be active on Xiaomi devices?

**Describe the solution you'd like**
Some way to disable Xiaomi push service on other manufacturers.

[2022-03-04 08:39] piyush-kukadiya commented on #232
@Priyanshi-Z Without sample app, can't help you. I would recommend, please raise a support ticket.

[2022-03-04 08:40] piyush-kukadiya commented on #225
@rahulr4 Closing this due to inactivity. Please reopen again if required.

[2022-03-04 08:40] #225 closed

[2022-03-04 08:44] piyush-kukadiya commented on #223
@JustinLim0318 We have released [xps 1.3.0](https://github.com/CleverTap/clevertap-android-sdk/blob/master/docs/CTXIAOMIPUSHCHANGELOG.md#version-130-march-2-2022). Please use this latest version.
If issue still persists please raise issue with Xiaomi developers since crash is happening inside xiaomi dependency.

[2022-03-04 08:44] #223 closed

[2022-03-04 08:50] piyush-kukadiya commented on #238
@Jparrgam Closing this for now. Feel free to reopen if any help required.

[2022-03-04 08:50] #238 closed

[2022-03-07 04:39] Priyanshi-Z commented on #232
@piyush-kukadiya okay will be raising a ticket for it.  Just wanted to confirm once again we can still continue with our app releases. Our app release won't be impacted due to the above issue ?

[2022-03-07 08:28] piyush-kukadiya commented on #232
@Priyanshi-Z Is this a build error or just a warning? Is your app working fine after this error?

[2022-03-07 08:55] Priyanshi-Z commented on #232
@piyush-kukadiya
I have got this error from play console

[2022-03-07 09:10] piyush-kukadiya commented on #232
@Priyanshi-Z This error won't affect your app release as mentioned on [google page](https://support.google.com/faqs/answer/10437428)

You can update your app to target Android 12 in future and this warning will go away. Right now you can safely release your app with Android 11. Hope this helps.

[2022-03-09 05:09] shubhamS-vs opened #240 "React native createNotificationChannelWithSound importance"
In react native i am passing 1 for importance in createNotificationChannelWithSound but still notification is going down in notification tray. @darshanclevertap

[2022-03-09 05:51] root-ansh-ct commented on #240
Hi @shubhamS-vs  . To make Notifications with sound you need to provide an importance of minimum 3 to the channel.   checkout the various importance levels in the [chart given here ](https://developer.android.com/training/notify-user/channels#importance)

[2022-03-13 09:23] #240 closed

[2022-03-13 09:26] shubhamS-vs opened #241 "Any guide for push amplification for react native?"
Any guide/documentation for push amplification for react native?

[2022-03-14 06:09] piyush-kukadiya commented on #241
@shubhamS-vs https://developer.clevertap.com/docs/android-push#push-amplification

[2022-03-14 11:23] piyush-kukadiya commented on #239
@inventionsbyhamid this is not possible right now, we will discuss this internally if we can provide this feature. You can try updating latest xiaomi sdk and see if it solves your issue.

[2022-03-21 04:43] piyush-kukadiya commented on #239
Feel free to reopen in case more help is needed

[2022-03-21 04:43] #239 closed

[2022-03-21 04:43] piyush-kukadiya commented on #241
Feel free to reopen in case more help is needed

[2022-03-21 04:43] #241 closed

[2022-03-21 04:44] piyush-kukadiya commented on #232
Feel free to reopen in case more help is needed

[2022-03-21 04:44] #232 closed

[2022-03-22 05:20] shubhamS-vs commented on #241
@piyush-kukadiya Can you please tell if i want to use push amplification just to keep resending the notification in case user has put his phone on DND , for that we just have to enable push amplification on dashboard or we also need to  the code changes as per the doc?

[2022-03-22 05:41] sachinsingh15 commented on #220
@root-ansh-ct any updates on this?

[2022-03-22 07:14] piyush-kukadiya commented on #241
@shubhamS-vs Please reach out to our support team for any integration related queries.

[2022-03-22 08:22] root-ansh-ct commented on #220
@sachinsingh15  we are still looking into this issue and trying to reproduce this on our end. We will update here once we push the fixes . For now , you can stop sending the in-app notifications to android 6 or below to reduce the number of crashes for your app(s)

[2022-03-22 09:22] shubhamS-vs commented on #241
@piyush-kukadiya
here in the compatibility react native CT sdk is not mentioned
![Screenshot 2022-03-22 at 1 49 35 PM](https://user-images.githubusercontent.com/83690733/159448092-11ef640b-eb90-4e1d-bebe-5d27453e723c.png)

[2022-03-22 11:34] mahendra-rapido commented on #220
@root-ansh-ct though isolating Android 6 & below users is a sure temporary solution, the Product & Marketing team won't accept this as it has a direct impact on the business.

This issue was reported by our team, first, on 17 Jan 2022 and it's over two months now. Two questions:

1. What's your usual SLA?
2. Do you've a tentative ETA for this?

Would really appreciate if this can be expedited!

Re

[2022-03-22 11:47] darshanclevertap commented on #220
@mahendra-rapido

We understand that this is a temporary solution but it is not unreasonable as globally the percentage of users on Android 6 and below are approximately less than 5%.

We suggested this workaround to reduce the crashes for your app so that your overall App health is not affected. This is a tough crash to reproduce in the first place. There is very vague documentation on the intern

[2022-03-23 16:15] idrissakhi opened #250 "React native using SDK 4.4.0 and push personalization, notification displayed even on foreground mode"
**Describe the bug**
When we send push notification through CleverTap we receive it, and it displayed directly on android even if the App is in foreground mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Partoo app
2. User profile is created on CleverTap side
3. send push notification test with the app running on foreground
4. the notification is displayed above the running app

**

[2022-03-31 23:23] mochadwi opened #255 "Fatal Exception: java.lang.RuntimeException: Unable to resume activity {our.company/com.clevertap.android.sdk.InAppNotificationActivity}: java.lang.IllegalArgumentException: The style on this component requires your app theme to be Theme.MaterialComponents (or a descendant)."
**Describe the bug**
Is there any version for `InAppActivity` to use `Theme.MaterialComponents`

**To Reproduce**
Steps to reproduce the behavior:
1. Crashed as explained in: https://github.com/pandulapeter/beagle/issues/99

**Expected behavior**
`InAppActivity` compatible with `Theme.MaterialComponents`

**Screenshots/Logs**

<img width="1099" alt="Screen Shot 2022-04-01 at 6 19 56 AM" src="https

[2022-04-01 05:53] darshanclevertap commented on #250
@idrissakhi What do you think the expected behavior should be when the app is in the foreground?

As per CleverTap, when a test push notification or a normal push notification is sent and the app is in the foreground then the Push Notification will still be rendered as a heads-up notification and then it will reside in the tray.

[2022-04-01 09:37] darshanclevertap commented on #250
@idrissakhi

CleverTap sends Data Push notifications via FCM and hence the `onMessageReceived` method will be called in all states, i.e - Foreground and Background. When you send push notifications via Firebase, they send Notification payload messages and since there is no handling done for them inside `onMessageReceived` of your custom class, hence they are not getting rendered.

Currently, Cleve

[2022-04-04 10:21] shubhamS-vs opened #256 "Issue in branch.io integration"
I am unable to see events of branch in clevertap, In branch.io, i can see the clevertapAttributionId in the events in custom data.

[2022-04-04 14:19] biessek opened #257 "Notification Clicked event not sent"
**Describe the bug**
In Campaigns Dashboard, every campaign is displaying 0 click events. Push Impressions is enabled and by debugging the flow, it enqueue the "Notification Click" event to be sent.
The payload it prepares to send is attached below

I'm targeting **Android 12**, using **4.4.0** version of the sdk.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a push notification cam

[2022-04-05 05:37] shubhamS-vs opened #258 "Isues in branch and CT integration"
On branch dashboard in webhook section https://global.api.clevertap.com/branch? is giving 500 response when event is triggered from branch.
@piyush-kukadiya
@darshanclevertap

[2022-04-05 05:54] william-ct commented on #258
Hey @shubhamS-vs Need more info to debug this, I'd suggest you raise a support issue via the CleverTap Dashboard and mention this Github issue and we'll take it up on priority.

[2022-04-05 06:06] shubhamS-vs commented on #258
@william-ct Done

[2022-04-05 06:15] william-ct commented on #258
@shubhamS-vs We'll be tracking the support ticket that you've just raised, will close this issue here so that we can do any follow-up if required from the support ticket itself. Thanks 👍

[2022-04-05 06:15] #258 closed

[2022-04-05 15:19] #257 closed

[2022-04-06 06:06] mochadwi commented on #255
currently our apps pointing to material version `1.4.0-alpha01`, seems this will fix the issues, will update it later again after bumping and dogfooding :pray:

[2022-04-12 12:35] kauhsikHundred opened #261 "In app feature is not working"
**Describe the bug**
CleverTap "setInAppNotificationButtonListener" callback is not working or not able to access payload data for in app message feature. I passed the data in key pair value.

**Environment (please complete the following information):**
 - Device: Google play simulator
 - OS: [e.g. Android 11]
 - CleverTap SDK Version [e.g. v4.4.0]
 - Android Studio Version [Android Studio Arctic

[2022-04-29 06:37] root-ansh-ct commented on #255
closing this ticket due to inactivity. @mochadwi  hope the above mentioned solution worked for your product. feel free to open this ticket again if you face any issue 🙂

[2022-04-29 06:37] #255 closed

[2022-05-10 10:39] sriharshachilakapati opened #268 "Support changing credentials for Xiaomi plugin at runtime"
**Is your feature request related to a problem? Please describe.**
We were using CleverTap SDK and Xiaomi SDK plugin along with it. Recently we undertook a change in our app where as an exercise part of security checks, we were moving all the API keys and credentials from the App to our Backend and get them when needed. We found `CleverTapAPI.changeCredentials` function to help with that, but simi

[2022-05-10 12:03] darshanclevertap commented on #268
Hi @sriharshachilakapati

We understand your requirement and since we're open source, you can submit a PR for this. I will review it and we can incorporate your PR in the next release of the CleverTap Xiaomi SDK.

But before you do submit the PR, I want to understand the priority on your end in terms of the timeline. We have certain tasks related to the CleverTap Xiaomi SDK which we will align wit

[2022-05-10 12:23] sriharshachilakapati commented on #268
@darshanclevertap We're planning on taking this as early as possible to release. By next week, we're moving all keys except for Xiaomi creds to backend. If it is possible on your end to release before that, it'd be pretty great. If not, I can defer just the Xiaomi creds for the next release, which is planned to be in next two weeks.

[2022-05-11 07:10] darshanclevertap commented on #268
@sriharshachilakapati Yes, two weeks will be helpful. You can raise your PR this week and we will try to align the other changes around it. 👍🏾

[2022-05-11 07:11] darshanclevertap commented on #261
@kauhsikHundred Apologies for the delay, are you still facing this issue? Could you provide the logs when the InApp button is clicked?

[2022-05-11 07:12] #250 closed

[2022-05-16 10:34] junaid1460 commented on #95
Happening in flutter (android)
[code]

[code]

[code]

[code]

[2022-06-03 13:34] #221 closed

[2022-06-03 13:34] #268 closed

[2022-06-22 16:08] arjun1194 opened #287 "App Crashing on low device storage"
**Describe the bug**
App crashing on low device storage

**To Reproduce**
Steps to reproduce the behavior:
1. app storage low
2. Try to use Clever tap android sdk

**Expected behavior**
Error should be handled and crash should not occur event if the device storage is low
**Screenshots/Logs**
If applicable, add screenshots to help explain your problem.
In case of crashes, share the entire crash log

[2022-07-11 03:19] fugogugo opened #290 "fatal exception ClassNotFoundException "org.jacoco.agent.rt.internal_28bab1d.Offline" after updating to 4.5.0"
Today I just upgraded clevertap from 4.2.0 to 4.5.0 and when I build the app, after launching it instantly crashed with following eror

[code]

so far I only change gradle clevertap from 4.2.0 to 4.5.0 and gradle ext.kotlin_version = '1.3.61' to  ext.kotlin_version = '1.6.0'

what is this jacoco agent library? do I need to implement some library to gradle?

Environment :
 - Device: Redmi Note 8
 -

[2022-07-11 05:19] root-ansh-ct commented on #290
Hey @fugogugo thanks for reporting this. are you using the clevertap sdk directly via AAR or via maven central (i.e adding `implementation "com.clevertap.android:clevertap-android-sdk:4.5.0"` to gradle dependencies) ? also is the app native or hybrid( react-native/flutter/ etc?)

[2022-07-11 07:19] gaurav-zdroid commented on #290
Hey @root-ansh-ct  I am also facing same issue, I am using SDK via implementation `"com.clevertap.android:clevertap-android-sdk:4.5.0"`

and this app is native (Kotlin)

[2022-07-11 08:06] fugogugo commented on #290
same with @gaurav-zdroid  I am using native android , kotlin, android studio IDE, and gradle dependency

[2022-07-11 10:32] root-ansh-ct commented on #290
@gaurav-zdroid , @fugogugo i was able to replicate this issue in a slightly different environment. We are trying a fix which includes disabling the jacoco plugin for release AARs, which will become part of upcoming SDK v4.5.1 .

For now, can you try using this local snapshot of 4.5.1 AAR and let me know if the issue resolves?

Steps:
1. Download [this AAR file](https://drive.google.com/file/d/1wX_

[2022-07-11 12:02] fugogugo commented on #290
@root-ansh-ct sorry I got this error when building

what is this?
[code]

[2022-07-11 12:11] fugogugo commented on #290
oh wait nevermind I deleted the wrong gradle folder. trying again now

[2022-07-11 12:19] root-ansh-ct commented on #290
@fugogugo  make sure to remove all the instances of  implementation of clevertap's SDK via  maven central . from the logs, it seems that you are having `implementation "com.clevertap.android:clevertap-android-sdk:3.8.0"` somewhere.

Also, ensure that in project view , when you open external libraries , it shows something like `./app/libs/clevertap-core-sdk-4.5.1`  and not `com.clevertap.android.cl

[2022-07-11 12:56] fugogugo commented on #290
that's what I'm confused.. I have removed all clevertap implementation but it still error somehow. I don't even use clevertap 3.8.0

here is all my gradle dependency fyi

[code]

[2022-07-11 17:17] root-ansh-ct commented on #290
yes `.gradle` is needed to be regenerated . This whole process will not be needed once we make the official `v4.5.1` release. Please let me know if the AAR works after regenerating the `.gradle` . you can also check the various dependencies in your app by running gradle command  [gradlew :app:dependencies](https://medium.com/android-news/gradle-dependency-tree-819b68898a53) . do share the dependen

[2022-07-13 04:34] joel-meesho opened #294 "[Crash] ExceptionInInitializerError at jacocoInit in CleverTapInstanceConfig"
**Describe the bug**
We recently updated to Clevertap SDK version 4.5.0 and we're seeing the following crash in production

Stack trace

[code]

**To Reproduce**
Unable to reproduce

**Environment (please complete the following information):**
- Majority of the issues are seen on Android OS 7
- We are creating 2 instances of the SDK on the app start

<img width="334" src="https://user-images.githu

[2022-07-13 05:11] root-ansh-ct commented on #294
Hello @joel-meesho , Thank you for reporting this. Can you try updating the SDK to 4.5.1 and let  us know if it resolves the issue?

[2022-07-14 01:42] jnlin opened #295 "onNotificationClickedPayloadReceived() does not work while the app is in background"
**Describe the bug**
We implemented `onNotificationClickedPayloadReceived()` (source code attached below) however the onNotificationClickedPayloadReceived() was not executed while the app is in running in background. If the app was closed, onNotificationClickedPayloadReceived() was successfully called.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the app, and switch to another app (to

[2022-07-14 06:17] fugogugo commented on #290
Hello

I have tried multiple times and it still duplicate.
it's okay I guess I will stay with 4.4.0 currently it is working well and no breaking
I will wait until 4.5.1 goes live.. you can close this issue if it is fixed  :)

[2022-07-14 06:18] root-ansh-ct commented on #290
@fugogugo  we releases android 4.5.1 yesterday. can you revert all the above steps and try with 4.5.1 version from the maven central now?
[code]

[2022-07-14 07:01] fugogugo commented on #290
Hello,

yes thank you I just tried it with 4.5.1 and it work as intended. no crash, event log received, and push notif can be sent
thank you

[2022-07-14 07:06] #290 closed

[2022-07-19 10:05] KaustubhPatange opened #301 "Some components are not exported"
Referencing lines https://github.com/CleverTap/clevertap-android-sdk/blob/master/clevertap-core/src/main/AndroidManifest.xml#L7-L15
[code]

Is there any reason why these components are not safely exported? It might cause issues with Android 12 devices when showing notifications.

[2022-07-19 10:26] piyush-kukadiya commented on #301
@KaustubhPatange It doesn't have intent filter hence no need to specify. https://developer.android.com/about/versions/12/behavior-changes-12#exported

[2022-07-19 11:19] KaustubhPatange commented on #301
Thanks for clearing up.

[2022-07-19 11:19] #301 closed

[2022-07-21 15:23] mahima-zee commented on #295
I have a similar but different problem. I am unable to receive the callback when the app is closed and reopened on a notification action click. Did you get any solution to your problem? @jnlin

I am registering the push notification listener as below in Activity's `onCreate`:

[code]

[2022-07-26 04:17] jnlin commented on #295
@mahima-zee It's interesting. I moved my callback to MainActivity's `onCreate` but the callback only invoked while app is closed

[2022-07-26 05:42] william-ct commented on #295
Hey @jnlin @mahima-zee, Please refer [CleverTap Developer Docs](https://developer.clevertap.com/docs/android-push#android-12-changes) for handling of ` onNotificationClickedPayloadReceived()` on  Android 12 devices

[2022-07-26 06:20] jnlin commented on #295
Hi @william-ct, thank you for your help, it works :)

[2022-07-26 06:20] #295 closed

[2022-08-10 16:27] anujkapoorcg opened #311 "Issue with CleverTap Native Display"
a

[2022-08-16 10:12] usmanrana07 opened #312 "Getting issue of theme in InAppNotificationActivity"
When sending CleverTap inAppNotification then most of the times popup doesn't appear. When Push notification is received and it is clicked then InAppNotification doesn't appear but application is redirected to MainActivity. In logs following exception appears. Also it is also not clear that at which point to 'setInAppNotificationButtonListener' as it has weakReference and is somehow garbage is col

[2022-08-16 10:16] piyush-kukadiya commented on #312
@usmanrana07 please provide necessary info when creating issue. This doesn't help us in anyway.

[2022-08-16 10:30] usmanrana07 commented on #312
@piyush-kukadiya I've added some more detail

[2022-08-16 10:46] piyush-kukadiya commented on #312
@usmanrana07 Thanks for reporting the issue, we will check this internally.

[2022-08-30 06:57] riocallos opened #319 "InAppNotificationListener.beforeShow extras always empty"
There is supposed to be key-value pairs included here when creating campaigns but I always receive an empty hashmap in my listener. Any idea why?

[2022-08-31 05:18] kaviskhandelwal opened #320 "Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.clevertap.android.sdk.InAppNotificationActivity}"
**Describe the bug**
Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.clevertap.android.sdk.InAppNotificationActivity}: java.lang.RuntimeException: Window couldn't find content container view

**To Reproduce**
Steps to reproduce the behavior:
1 On Android 6
2 Sending an InAppNotification is causing this exception.

**Expected behavior**
Should not cause any e

[2022-09-02 08:26] shivamsharma2710 commented on #320
Hi @kaviskhandelwal

Thanks for reporting the issue. To start the investigation, please provide the following details: 

1. On which build variant(debug/release) the issue reproduces? 

2. A list of other devices with their API Level on which the same issue reproduces? 

3. What are the versions of `androidx.fragment:fragment`
and `androidx.fragment:fragment-ktx` dependencies, if you’re consuming

[2022-09-05 16:59] AlexanderMikulich opened #321 "InApp: Starts MainActivity even we have opened another one on Android 12"
**Describe the bug**
InApp notification starts MainActivity(android.intent.action.MAIN) every time we tap on push notification even we have already opened another one.
In other words: in onNewIntent every time we get intents that open MainActivity { act=android.intent.action.MAIN cat=[android.intent.category.LAUNCHER] flg=0x34000000 pkg=com.example.clevertaptest cmp=com.example.clevertaptest/com.e

[2022-09-06 13:25] AlexanderMikulich commented on #321
If I got right on Android 12+ the library get startIntent to show in-App message?
https://github.com/CleverTap/clevertap-android-sdk/blob/4bd82f28c7da232147f335959449278b0bf82867/clevertap-core/src/main/java/com/clevertap/android/sdk/pushnotification/LaunchPendingIntentFactory.java#L46

[2022-09-06 14:13] shivamsharma2710 commented on #321
Hi @AlexanderMikulich

Thanks for reporting the issue. Which version of CleverTap SDK, you're using?

[2022-09-06 15:38] AlexanderMikulich commented on #321
CleverTap SDK Version v4.6.0

[2022-09-07 04:51] #261 closed

[2022-09-07 04:53] darshanclevertap commented on #287
@arjun1194 Are you still facing this issue? As per the logs, the crash is happening in the Room DB Library. CleverTap SDK does not use RoomDB for its Database.

[2022-09-07 04:54] #294 closed

[2022-09-07 04:55] #311 closed

[2022-09-07 04:56] darshanclevertap commented on #319
@riocallos The beforeShow callback does not contain the Key Value pairs. Could you please explain your use case?

[2022-09-07 10:49] shivamsharma2710 commented on #321
@AlexanderMikulich

This is an expected behaviour of CleverTap SDK because tapping on a push notification is a different action.
Also, this is not specific to android 12 but a common behaviour for all android versions.

If you can come up with a use case then we will discuss this internally.

[2022-09-07 11:23] AlexanderMikulich commented on #321
On Android 11 and lower I have another behavior:
1. Cold App start
2. Show FirstActivity
3. Open SecondActivity
4. Get a push and tap on it
5. The library starts Broadcast receiver
6. The Broadcast receiver do some work and shows In-App messages.
Everything perfect and as expected.

On Android 12 as I described we have:
1. Cold App start
2. Show FirstActivity
3. Open SecondActivity
4. Get a push a

[2022-09-08 09:56] shivamsharma2710 commented on #321
@AlexanderMikulich

CleverTap SDK uses same intent-flags to create an intent across all android versions that are used to launch the activity when you tap on a notification.

You may check intent-flags here,

- [Android 12 and Above](https://github.com/CleverTap/clevertap-android-sdk/blob/4bd82f28c7da232147f335959449278b0bf82867/clevertap-core/src/main/java/com/clevertap/android/sdk/pushnotificati

[2022-09-10 17:18] NG-Gaurav opened #323 "java.lang.RuntimeException: Unable to instantiate receiver com.clevertap.android.xps.XiaomiMessageReceiver"
Fatal Exception: java.lang.RuntimeException: Unable to instantiate receiver com.clevertap.android.xps.XiaomiMessageReceiver: java.lang.ClassNotFoundException: Didn't find class "com.clevertap.android.xps.XiaomiMessageReceiver" on path: DexPathList[[zip file "/data/app/~~5j7jNPGhM9LPRLIEWJCoeA==/com.viewlift.hoichoi-emy3N4d_MeOnTpGU7vxNIw==/base.apk", zip file "/data/app/~~5j7jNPGhM9LPRLIEWJCoeA==/

[2022-09-10 17:21] NG-Gaurav commented on #323
we are using below dependency
implementation "com.clevertap.android:clevertap-android-sdk:4.6.1"
implementation "com.clevertap.android:clevertap-xiaomi-sdk:1.5.0"

[2022-09-10 17:24] NG-Gaurav commented on #323
Code implementation

private fun initializeCleverTap(context: Context) {
        ActivityLifecycleCallback.register(application)
        CleverTapAPI.enableXiaomiPushOn(PushConstants.XIAOMI_MIUI_DEVICES)
        CleverTapAPI.changeCredentials(ID, TOKEN)
        CleverTapAPI.getDefaultInstance(context)?.let {
            it.initializeInbox()
            it.ctPushAmpListener = application

[2022-09-11 08:56] NG-Gaurav commented on #323
Any update on it

[2022-09-11 11:17] piyush-kukadiya commented on #323
@NG-Gaurav Please check release notes to avoid error. https://github.com/CleverTap/clevertap-android-sdk/blob/master/docs/CTXIAOMIPUSHCHANGELOG.md#version-150-september-6-2022

[2022-09-12 08:50] TVasundhra1 commented on #51
Is it possible to get the campaign_name in campaign related push notification.

Specifications:
Android Os 12
CleverTap SDK 4.4.0

Requirements:
Needed this for tracking purpose

[2022-09-13 08:11] jeff-odopass opened #327 "[ANR] Service com.clevertap.android.sdk.pushnotification.amp.CTBackgroundJobService"
**Describe the bug**
[code]

This ANR is reported to my Google Play console. My app is written using Flutter, but basically it is just a wrapper around Android SDK.
I'm not able to reproduce myself the bug, which moreover happen in background (Probably when a push is received.)
100% from Android 11 SDK 30.
100% background.
Happened 50 times to 1 user.

I also have two variant ANR in the console wh

[2022-09-20 06:35] mochadwi opened #329 "Implicit PendingIntent error in Pre-Launch Report Play Store"
**Describe the bug**

We're not is this bug or a feature request, but Play Store told us this:

<img width="739" alt="Screen Shot 2022-09-20 at 1 34 15 PM" src="https://user-images.githubusercontent.com/7057959/191184405-9b678202-fcbb-4c66-9317-37fda1da75a3.png">

**Expected behavior**
No error in the pre-launch report(?)

**Screenshots/Logs**

[2022-09-20 06:37] mochadwi commented on #329
We're also not sure, if this fixable in our-ends. https://support.google.com/faqs/answer/10437428 as the package shown are from CleverTap, any suggestions Teams? 🙏

[2022-09-20 06:43] shivamsharma2710 commented on #329
Hi @mochadwi

Which version of CleverTap SDK, you're using?

[2022-09-20 07:03] mochadwi commented on #329
version.com.clevertap.android..clevertap-android-sdk=4.0.3

[2022-09-20 07:24] shivamsharma2710 commented on #329
@mochadwi

This warning will not affect your app releases.

CleverTap Android SDK v4.3.0 onwards, we started supporting Android 12 and mutability flags to all our Pending Intents. Targeting your app to latest CleverTap version and Android 12 will solve this issue.

[2022-10-17 09:11] prateekvijay opened #345 "Getting this error after integrating Mipush library for Xiaomi integration java.lang.NoClassDefFoundError: Failed resolution of: Lcom/xiaomi/push/r;"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Integrate Mipush library and build and launch the app. The app crashes .

**Expected behavior**
App should not crash

**Screenshots/Logs**
If applicable, add screenshots to help explain your problem.
In case of crashes, share the entire crash logs as a `.txt` file

**Envir

[2022-10-17 09:44] prateekvijay commented on #345
Hi,yes we are using proguard but that is in release build not in debug build and this crash is coming in debug build. Yes we are using multidex with dynamic features.

[2022-10-17 09:46] piyush-kukadiya commented on #327
@jeff-odopass Can't you download trace from console or crashlytics? ANRs do have traces.

[2022-10-17 09:47] #323 closed

[2022-10-17 09:49] #319 closed

[2022-10-17 09:50] #287 closed

[2022-10-17 10:13] piyush-kukadiya commented on #345
@prateekvijay What about https://github.com/CleverTap/clevertap-android-sdk/blob/master/docs/CTXIAOMIPUSHCHANGELOG.md#version-150-september-6-2022 ?

[2022-10-17 10:16] prateekvijay commented on #345
Yes i have followed these steps, But still the crash comes.
            java.lang.NoClassDefFoundError: Failed resolution of: Lcom/xiaomi/push/r;
                                                                                                    	at com.xiaomi.push.cx.<clinit>(Unknown Source:0)
                                                                                                    	at

[2022-10-17 11:21] piyush-kukadiya commented on #345
@prateekvijay I still feel it might be integration issue because [Sample app](https://github.com/CleverTap/clevertap-android-sdk/tree/master/sample) is working and tested internally. Please check if dependencies for clevertap-core and XPS are compatible with each other. Got to external libraries in android studio and check dependencies versions are resolved/downloaded correctly in your project.

[2022-10-17 11:23] piyush-kukadiya commented on #327
@jeff-odopass Can't find  `com.clevertap` in trace you attached.

[2022-10-17 11:31] prateekvijay commented on #345
It crashes 3 out of 10 times .And also the crash points to Mipush library

[2022-10-18 04:03] nikunjflobiz commented on #158
@darshanclevertap Getting below
<img width="1261" alt="Screenshot 2022-10-18 at 9 22 58 AM" src="https://user-images.githubusercontent.com/86401784/196332134-b1d8229c-e22b-41a4-a406-0a02b10cda90.png">
ANR

We initialize CleverTap SDK instance in the Application onCreate() method,  Using CT SDK version:` 4.4.0`

[2022-10-19 05:25] root-ansh-ct commented on #158
@nikunjflobiz are you able to replicate this?
The ANR seems to come during the system call to get notification channel. Will suggest to update the dependencies for CleverTap's Core SDK(4.6.4), XPS(1.5.1) and/or HMS(1.3.1)  to their latest version. Let me know if it resolves the issue

[2022-11-03 07:49] root-ansh-ct commented on #345
@prateekvijay  Hi can you confirm the following details:
1. if you have the Xiaomi SDK AAR inside the  `libs` folder?
2. if you are using a custom Xiaomi implementation or Clevertap XPS SDK  for sending notifications?

[2022-11-10 19:49] Damercy opened #359 "Unable to receive notifications on Android 13"
**Describe the bug**
I'm not getting any notifications despite using latest Clevertap Android SDK `4.7.0` & providing the notification permission during runtime.

**To Reproduce**
Steps to reproduce the behavior:
1. Add CT SDK `4.7.0` dependency to gradle.
2. Target SDK 33 & add `POST_NOTIFICATION` permission to manifest.
3. Ask for notification permission using `cleverTapAPI.promptPushPrimer(json

[2022-11-14 05:13] darshanclevertap commented on #359
@Damercy You are right, you should be able to receive the Push Notification on Android 13 devices as well.

This seems to be out of the purview of the SDK since there are no logs related to receiving/rendering the push notifications on the Android Studio console.

My suggestion is please raise a support ticket from the dashboard as shown below ->

![Support Ticket from CleverTap Dashboard](https:/

[2022-11-14 05:17] Damercy commented on #359
@darshanclevertap Sure let me do that. Thank you!

[2022-11-16 08:08] anugotta opened #361 "Crashes after updating Clevertap SDK to v4.6.3"
Saw these crashes reported in Firebase console post updating Clevertap SDK to v4.6.3 and releasing the app bundle to Playstore.

Fatal Exception: java.lang.RuntimeException: Unable to instantiate service com.clevertap.android.sdk.CTBackgroundJobService: java.lang.ClassNotFoundException: Didn't find class "com.clevertap.android.sdk.CTBackgroundJobService" on path: DexPathList[[zip file "/data/app/w

[2022-11-16 08:16] darshanclevertap commented on #361
@anugotta Are you using Proguard to minify your App bundle? if yes, can you share your Proguard file?

[2022-11-16 08:26] anugotta commented on #361
Yes, @darshanclevertap . We are using minify. Here is the Proguard.pro file content:

[code]

[2022-11-16 08:33] darshanclevertap commented on #361
@anugotta Can you change `-dontwarn com.clevertap.android.sdk.**` to `-keep com.clevertap.android.sdk.**`

And try it in your next App release to see if the crash still occurs?

[2022-11-24 06:47] saimore027 commented on #312
Does this issue resolved, because i am facing the same issue

[2022-11-25 07:33] darshanclevertap commented on #345
@prateekvijay Closing this due to inactivity. Please feel free to reopen if you have the responses to our questions. Thanks!

[2022-11-25 07:33] #345 closed

[2022-11-25 07:34] darshanclevertap commented on #361
@anugotta Closing this since a workaround is given. Feel free to reopen this if you face the issue again

[2022-11-25 07:34] #361 closed

[2022-11-25 07:35] #359 closed

[2022-11-25 07:39] darshanclevertap commented on #327
@jeff-odopass Can you please share the screenshot of the Crashlytics dashboard if possible, it tells us which thread is the root cause of the ANR from this thread dump. Since none of these threads have CleverTap running, the root cause could be any of the following libs -

- Google Play Services Measurement
- Google Play Services Basement
- Firebase Installations
- Firebase Messaging

[2022-11-25 07:40] darshanclevertap commented on #321
@AlexanderMikulich Closing this due to no response from your side. Please feel free to reopen if you are still facing the issue

[2022-11-25 07:40] #321 closed

[2022-11-25 07:40] darshanclevertap commented on #320
@kaviskhandelwal Closing this due to no response from your end. Please feel free to reopen this if you are still facing this issue

[2022-11-25 07:40] #320 closed

[2022-11-25 07:42] darshanclevertap commented on #312
@usmanrana07 @saimore027 Have you added the AppCompat dependency in your `build.gradle` file? if yes, can you help us with which version of the AppCompat library that you are using?

[2022-11-25 07:42] #220 closed

[2022-11-25 07:44] darshanclevertap commented on #216
@adesamp We are working to fix this on the back end. I'm closing this issue now. I will provide an update once this is fixed.

[2022-11-25 07:44] #216 closed

[2022-11-25 08:15] jeff-odopass commented on #327
Hi @darshanclevertap, thanks for your feedback.
I checked again on my Google Play console and the problem did not occurred again since 1 month, it may have been solved by an update.
Because all the details I have has been posted in this thread and are not really relevant, and the error is no longer a problem for me, I think we can close this.
Have a nice day

[2022-11-25 08:19] darshanclevertap commented on #327
Thanks @jeff-odopass 👍🏾

[2022-11-25 08:19] #327 closed

[2022-11-25 11:08] nathanielajayi7 opened #363 "class file for com.clevertap.android.sdk.SyncListener not found"
C:\Users\Nathan#\Desktop\luca-mobile\android\app\src\main\java\io\flutter\plugins\GeneratedPluginRegistrant.java:29: error: cannot access SyncListener
      flutterEngine.getPlugins().add(new com.clevertap.clevertap_plugin.CleverTapPlugin());
                                ^
  class file for com.clevertap.android.sdk.SyncListener not found
1 error

Building for flutter with the recent v1.5.4 on p

[2022-11-25 11:31] shivamsharma2710 commented on #363
Hi @nathanielajayi7

How did you integrate the CleverTap plugin in your flutter project? Please mention all the setup related details.

[2022-11-25 11:39] nathanielajayi7 commented on #363
I added clever tap using

`flutter pub add clever_tap`

And followed the docs in the CleverTap Flutter SDK page

https://developer.clevertap.com/docs/flutter-sdk

On Fri, Nov 25, 2022, 12:31 shivamsharma2710 ***@***.***>
wrote:

[2022-11-25 11:40] nathanielajayi7 commented on #363
**** flutter pub add clevertap_plugin

On Fri, Nov 25, 2022, 12:39 Nathaniel Ajayi ***@***.***>
wrote:

[2022-11-25 13:42] shivamsharma2710 commented on #363
@nathanielajayi7 Have you added all the required **Gradle dependencies** correctly?

Please, check this [link](https://developer.clevertap.com/docs/flutter-quick-start-guide#add-dependencies)

[2022-11-25 14:58] nathanielajayi7 commented on #363
This solves the problem. Thanks.

[2022-11-25 14:58] #363 closed